<template>
    <div style=" width:100%; height:100%; overflow-y:hidden; ">
        <!-- 删除确认弹框 -->
        <Modal
            v-model="visible"
            title="是否确认删除？"
            @on-ok="ok"
            @on-cancel="cancel">
        </Modal>
        <!-- 标题:fixed -->
        <div class='adminTitleCss'>加盟商 管理</div>  
        <!-- 手机号输入框:fixed -->
        <div class="adminTelCss">
            <div style="color:red; font-size:30px;">*</div>
            <input type="text" v-model="userTel" class="inputCss" placeholder="输入手机号" @keyup="checkInput(userTel)" />
        </div>
        <!-- 姓名输入框:fixed -->
        <div class="NameCss">
            <div class="NameInputCss">
                <div style="color:red; font-size:30px;">*</div>
                <input type="text" v-model="userName" class="inputCss" style="padding-left:2%;" placeholder="输入姓名"/>
            </div>
            <Button type="success" class="addBtnCss"  @click="addNew">添加</Button>
        </div>
        <!-- 展示与删除 -->
        <div class="zhanshiquCss">
            <div class="itemCss" v-for="(user,idx) in UI"> 
                {{user.name}}({{user.tel}})
                <Button type="success" class="delBtnCss"  @click="delOne(idx)">删除</Button>
            </div>
        </div>
    </div>  
</template>

<script>
export default {
    data(){
        return{
            userName:"",
            userTel:"",

            /****************** 页面数据 ******************************/
            UI:[],
            Raw:[],
            /****************** 路由 **********************************/
            Host:null,
            urls:{
                getUrl:null,
                Data_get:{
                    agentId:2
                },

                addUrl:null,
                delUrl:null,
            },
            // 与删除有关
            visible:false,
            delIdx:null,
        }
    },
    mounted(){        
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        this.urls.getUrl = this.Host + myConfig.permission.franchiser.getUrl;
        this.urls.addUrl = this.Host + myConfig.permission.franchiser.addUrl;
        this.urls.delUrl = this.Host + myConfig.permission.franchiser.delUrl;
        /******************************************************/
        this.loadUI();
        this.readUsers();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /********** 检查输入手机号 ******************/
        checkInput(value){
            var changedValue=value.replace(/[^\d,\.]/g,'')
            if(changedValue != value){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如13.5"
                })
                this.userTel = "";
            }
        },
        /********************** 读取用户 *******************************/
        // 更新用户显示 
        update_UI(){
            var self = this;
            // 清空
            self.UI = [];
            // 赋值
            for(var i = 0;i<this.Raw.length;i++){
                var item = {};
                item.name = this.Raw[i].allyName;
                item.tel = this.Raw[i].phoneNumber;
                self.UI.push(item);
            }
        },
        readUsers(){
            var self = this;
            self.$http.post(
                this.urls.getUrl,
                this.urls.Data_get,
                {emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        if(res.suc == false){
                            self.$Notice.error({
                                title:"读取加盟商 失败"
                            })
                        }else{
                            self.$Notice.success({
                                title:"读取加盟商 成功"
                            })
                            console.log("读到加盟商: ",res.data);
                            // 更新显示
                            self.Raw = res.data;
                            self.update_UI();
                        }
                    }
                ).catch(err=>{
                    self.$Notice.error({
                        title:"读取加盟商 异常"
                    });
                })
        },
        /********** 添加用户 ******************/
        addNew(){
            var self = this;
            var newTel = this.userTel;
            var newUserName = this.userName;
            // 1,检查输入
            if(newTel == ""){
                this.$Modal.error({
                    title:"添加加盟商出错",
                    content:"请输入有效的手机号...."
                })
            }else if(newUserName == ''){
                this.$Modal.error({
                    title:"添加加盟商出错",
                    content:"请输入有效的姓名...."
                })
            }
            else{
                var postData = {
                    "agentId":2,
                    allyName:newUserName,
                    "phoneNumber":newTel,
                }
                self.$http.post(this.urls.addUrl,postData,{emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        if(res.suc == false){
                            self.$Notice.error({
                                title:"添加出错",
                                desc: desc
                            })
                        }else{
                            self.$Notice.success({
                                title:"添加成功"
                            })
                            // 添加显示
                            self.UI.push({
                                name:newUserName,
                                tel:newTel,
                            });
                        }
                        // 消除上次的输入
                        self.userName = "";
                        self.userTel  = "";
                    }
                ).catch(err=>{
                    self.$Notice.error({
                        title:"添加异常"
                    });
                    self.userName = "";
                    self.userTel  = "";
                })
            }
        },   
        /************ 删除用户 ************************/
        delOne(idx){
            this.visible = true;
            this.delIdx = idx ;
        },
        ok(){
            console.log("确认了删除");
            this.visible = false;

            var self = this;
            var idx = this.delIdx;
            var delData = {
                "phoneNumber":self.UI[idx].tel,
                "agentId":2
            }
            $.ajax({
                url:this.urls.delUrl,
                type:"POST",
                dataType:"json",
                data:delData,
                success:function(res){
                    if(res.suc == true) {
                        self.$Notice.success({
                            title:"删除成功"
                        })
                        // 删除本地数组
                        self.UI.splice(idx,1);
                    }else{
                        self.$Notice.error({
                            title:"删除失败"
                        })
                    }
                },
                error:function(err){
                    self.$Notice.error({
                        title:"删除 异常"
                    })
                }
            });
        },
        cancel(){
            console.log("取消删除");
            this.visible = false;
        },  
    }
}
</script>

<style scoped>
@import "https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_personManage.css";
</style>