<template>
    <div style=" width:100%; height:100%; overflow-y:hidden; ">
        <!-- 删除确认弹框 -->
        <Modal
            v-model="visible"
            title="是否确认删除？"
            @on-ok="ok"
            @on-cancel="cancel">
        </Modal>
        <!-- 标题:fixed -->
        <div class='adminTitleCss'>{{cfg.name}} 添加</div>  
        <!-- 手机号输入框:fixed -->
        <div class="adminTelCss">
            <div style="color:red; font-size:30px;">*</div>
            <input type="text" v-model="userTel" class="inputCss" placeholder="输入手机号" @keyup="checkInput(userTel)" />
        </div>
        <!-- 姓名输入框:fixed -->
        <div class="NameCss">
            <div class="NameInputCss">
                <div style="color:red; font-size:30px;">*</div>
                <input type="text" v-model="userName" class="inputCss" style="padding-left:2%;" placeholder="输入姓名"/>
            </div>
            <Button type="success" class="addBtnCss"  @click="addNew">添加</Button>
        </div>
        <!-- 展示与删除 -->
        <div class="zhanshiquCss">
            <div class="itemCss" v-for="(user,idx) in UI"> 
                {{user.name}}({{user.tel}})
                <Button type="success" class="delBtnCss"  @click="delOne(idx)">删除</Button>
            </div>
        </div>
    </div>  
</template>

<script>
export default {
    data(){
        return{
            userName:"",
            userTel:"",
            
            /******************* 数据 ***************************/
            Raw:[],
            UI:[],

            Host:null,
            urls:{
                getUrl:null,
                addUrl:null,
                delUrl:null,
            },
            /******************* 配置相关 *************************/
            cfg:{
                name:'',
                level:'',
            },
            // 与删除有关
            visible:false,
            delIdx:null,
        }
    },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        this.urls.getUrl = this.Host + myConfig.permission.product.getUrl;
        this.urls.addUrl = this.Host + myConfig.permission.product.addUrl;
        this.urls.delUrl = this.Host + myConfig.permission.product.delUrl;
        this.cfg = myConfig.permission.product.cfg;
        /******************************************************/
        this.loadUI();
        this.readUsers();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /********** 检查输入手机号 ******************/
        checkInput(value){
            var changedValue=value.replace(/[^\d,\.]/g,'')
            if(changedValue != value){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如13.5"
                })
                this.userTel = "";
            }
        },
        /********** 读取用户 ************************/
        update_UI(){
            this.UI = []
            for(var i = 0;i<this.Raw.length;i++){
                var item = {};
                if(this.Raw[i].name == '' || this.Raw[i].name == null) item.name = '-- --';
                else item.name = this.Raw[i].name;
                item.tel = this.Raw[i].tel;
                this.UI.push(item);
            }
        },
        readUsers(){
            var self = this;
            this.$http.get(this.urls.getUrl).then(function(suc){
                var res = suc.body;
                if(res.suc == true){
                    var data = res.data;
                    console.log(self.cfg.name,"们: ",data);
                    self.$Notice.success({
                        title:"读取成功"
                    })
                    // 更新UI
                    self.Raw = data;
                    self.update_UI();
                }else{
                    self.$Notice.error({
                        title:"读取失败"
                    })
                    console.log("res: ",res);
                }
            }).catch(err=>{
                self.$Notice.error({
                    title:"读取异常"
                })
            })
        },
        /********** 添加用户 ******************/
        addNew(){
            var self = this;
            var newTel = this.userTel;
            var newUserName = this.userName;
            // 1,检查输入
            if(newTel == ""){
                this.$Modal.error({
                    title:"添加"+this.cfg.name+"出错",
                    content:"请输入有效的手机号...."
                })
            }else if(newUserName == ''){
                this.$Modal.error({
                    title: "添加"+this.cfg.name+"出错",
                    content:"请输入有效的姓名...."
                })
            }
            else{
                var postData = {
                    "code":0,
                    "agentId":2,
                    "user":{
                        "tel":newTel,
                        "name":newUserName,
                        "level":this.cfg.level,
                        "etc":""
                    }
                }
                self.$http.post(this.urls.addUrl,postData,{emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        console.log("添加",this.cfg.name,": ",res);
                        if(res.suc == false){
                            var level = res.currentLevel;
                            var desc = "该用户已被添加为 ";
                            if(level == 1){
                                desc = desc + "管理员 ";
                            }else if(level == 2){
                                desc = desc + " 运营 ";
                            }else if(level == 4){
                                desc = desc + " 运维 ";
                            }else if(level == 8){
                                desc = desc + " 生产 ";
                            }else if(level == 16){
                                desc = desc + " 加盟商 ";
                            }
                            desc = desc + "，无法再次添加";
                            self.$Notice.error({
                                title:"添加出错",
                                desc: desc
                            })
                        }else{
                            self.$Notice.success({
                                title:"添加成功"
                            })
                            // 添加显示
                            var item = {
                                etc:'',
                                name:newUserName,
                                tel:newTel,
                                level:self.cfg.level,
                            }
                            self.Raw.push(item);
                            self.update_UI();
                        }
                        // 消除上次的输入
                        self.userName = "";
                        self.userTel  = "";
                    }
                ).catch(err=>{
                    self.$Notice.error({
                        title:"添加异常"
                    });
                    self.userName = "";
                    self.userTel  = "";
                })
            }
        },   
        /************ 删除用户 ************************/
        delOne(idx){
            this.visible = true;
            this.delIdx = idx ;
        },
        ok(){
            console.log("确认了删除");
            this.visible = false;

            var self = this;
            var idx = this.delIdx;
            var delData = {
                "code":0,
                "tel":self.UI[idx].tel,
                "agentId":2
            }
            $.ajax({
                url:this.urls.delUrl,
                type:"DELETE",
                dataType:"json",
                data:delData,
                success:function(res){
                    if(res.suc == true) {
                        self.$Notice.success({
                            title:"删除成功"
                        })
                        // 删除本地数组
                        self.UI.splice(idx,1);
                    }else{
                        self.$Notice.error({
                            title:"删除失败"
                        })
                    }
                },
                error:function(err){
                    self.$Notice.error({
                        title:"删除失败"
                    })
                }
            });
        },
        cancel(){
            console.log("取消删除");
            this.visible = false;
        },    
    }
}
</script>

<style scoped>
@import "https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_personManage.css";
</style>
