<template>
    <div style="width:100%; height:100%; overflow-y:auto">
        <div style="color:white;font-size:18px;">快速生成</div>
        <!-- 示例 -->
        <div style="
                width:100%; hegiht:150px;
                color:white;
                font-size:15px;
                margin-top:20px;
                text-align:left;
            ">
            <span>示例：</span>
            <br>
            <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_example.png" 
                 style="width:522px; height:199px;margin-top:0.3%;margin-left:15%;"/>
        </div>
        <!-- 用户输入 -->
        <div class="uploadInputCss">
            <!-- 数量 -->
            <div class="amountCss">
                <div class="mustCss">*</div>
                <div class="labelCss">数量</div>
                <input placeholder="15" class="inputCss" v-model="postData.amount" @keyup="checkInput(postData.amount,'amount')"/>
            </div>
            <!-- 品牌 -->
            <div class="amountCss">
                <div class="labelCss">品牌</div>
                <input placeholder="爱玛" class="inputCss" v-model="postData.brand" @keyup="checkInput(postData.brand,'brand')"/>
            </div>
            <!-- 型号 -->
            <div class="amountCss">
                <div class="labelCss">型号</div>
                <input placeholder="ME3" class="inputCss" v-model="postData.model" @keyup="checkInput(postData.model,'model')"/>
            </div>
            <!-- 地区编号 -->
            <div class="amountCss">
                <div class="labelCss">地区编号</div>
                <input placeholder="127" class="inputCss" v-model="postData.area" @keyup="checkInput(postData.area,'area')"/>
            </div>
        </div>
     
        <!-- 提交 -->
        <Button type="primary"
            style="width:80px;margin-top:50px;font-size:15px;"
            @click="submit"
        >提交</Button>
   
    </div>
</template>

<script>
export default {
    data(){
        return{
            postData:{
                "agentId":2,
                "area":"",    // 地区
                "amount":"",  // 数量
                "model":"",   // 型号
                "brand":"",   // 品牌
            },
            /********** 网址 ************/
            Host:"",
            batchUploadUrl:"",
        }
    },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        this.batchUploadUrl = this.Host + myConfig.carInfo.batchUploadUrl
        /***************************************************/
        this.loadUI();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /*********** 页面逻辑 ******************************/
        checkInput(value,name){
            if(name == 'amount' || name == 'area'){
                var changedValue=value.replace(/[^\d,\.]/g,'')
                if(changedValue != value){
                    this.$Modal.error({
                        title:"输入有错",
                        content:"请输入数字，如13524658745"
                    })
                    if(name == 'amount') this.postData.amount = '';
                    else this.postData.area = '';
                }
            }
           
         },
        /*********** 与后台交互 *****************************/
        // 提交保存
        submit(){
            // 检测必须项: 数量
            if(this.postData.amount == ""){
                this.$Modal.info({
                    title:"请输入数量"
                })
                return;
            }
           
            var self = this;
            this.$http.post(
                this.batchUploadUrl,
                this.postData,
                {emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        console.log("保存ok: ",res);
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"保存成功",
                                desc: res.data
                            });
                        }
                        else {
                            self.$Notice.error({
                                title:"保存失败",
                                desc: res.error.promot
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"保存失败"
                    });
            });
         },
    }
}
</script>

<style scoped>
/****************** 输入Box ************************/
.uploadInputCss{
    width: 100%;
    height: 40px;
    margin-top:20px;

    display: flex;
    justify-content: flex-start;
}
/******************** 输入数量 ***************************/
.amountCss{
    width:25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%; 
}
/*必选项*/
.mustCss{
    font-size:20px;
    color:red;
}
.labelCss{
    font-size:15px;
    color:white;
    white-space: nowrap;
}
.inputCss{
    width:60%;
    height:90%;
    margin-left: 10%;

    background: rgba(0,0,0,0);
    border:1px solid black;
    border-bottom:1px solid gray;
    border-radius:10px;
    padding-left:5%;

    color:white;
}
</style>
