<template>
    <div style="width:100%; height:100% ;overflow-y:auto;">
        <div style="color:white;font-size:18px">计费配置</div>
            <!-- 免费骑行 -->
            <div class="freeCss">
                <div class="freeTitleCss"> 免费骑行 </div>
                <div class="freeDescCss"> 说明: 该时间段或距离段内骑行免费 </div>
                <div class="freeBoxCss">
                    <!-- 最低收费距离 -->
                    <div class="freeDistCss">
                        <div class="freeDistNameCss">最低收费距离：</div>
                        <input placeholder="15" class="freeDistValueCss" v-model="UI.start_dist" @keyup="checkInput(UI.start_dist,'start_dist')" />
                        <div class="freeDistUnitCss">米</div>
                    </div>
                    <!-- 最低收费时间 -->
                    <div class="freeDistCss">
                        <div class="freeDistNameCss">最低收费时间：</div>
                        <input placeholder="15" class="freeDistValueCss" v-model="UI.start_time"  @keyup="checkInput(UI.start_time,'start_time')"/>
                        <div class="freeDistUnitCss">分钟</div>
                    </div>
                </div>
            </div>
            <!-- 固定收费 -->
            <div class="fixCss"> 
                <div class="freeTitleCss"> 固定收费 </div>
                <div class="freeDescCss"> 说明: 该时间段或距离段内骑行收费固定 </div>
                <div class="fixBoxCss">
                    <!-- 固定收费距离 -->
                    <div class="freeDistCss">
                        <div class="freeDistNameCss">固定收费距离：</div>
                        <input placeholder="15" class="freeDistValueCss" v-model="UI.fixed_dist"  @keyup="checkInput(UI.fixed_dist,'fixed_dist')"/>
                        <div class="freeDistUnitCss">公里</div>
                    </div>
                    <!-- 固定收费时间 -->
                    <div class="freeDistCss">
                        <div class="freeDistNameCss">固定收费时间：</div>
                        <input placeholder="15" class="freeDistValueCss" v-model="UI.fixed_time"  @keyup="checkInput(UI.fixed_time,'fixed_time')" />
                        <div class="freeDistUnitCss">分钟</div>
                    </div>
                </div>
                <div class="fixBoxCss" style="margin-top:0%;">
                    <!-- 固定收费距离 -->
                    <div class="freeDistCss">
                        <div class="freeDistNameCss">固定收费：    </div>
                        <input placeholder="15" class="freeDistValueCss" style="margin-left:7%;" v-model="UI.fixedDistCost"  @keyup="checkInput(UI.fixedDistCost,'fixedDistCost')"/>
                        <div class="freeDistUnitCss">元</div>
                    </div>
                    <!-- 固定收费时间 -->
                    <!-- <div class="freeDistCss">
                        <div class="freeDistNameCss">固定时间收费：</div>
                        <input placeholder="15" class="freeDistValueCss" v-model="UI.fixedTimeCost" @keyup="checkInput(UI.fixedTimeCost,'fixedTimeCost')" />
                        <div class="freeDistUnitCss">元</div>
                    </div> -->
                </div>
            </div>
            <!-- 超距收费 -->
            <div class="freeCss" style="margin-top:5%;">
                <div class="freeTitleCss"> 超距(时)收费 </div>
                <div class="freeDescCss"> 说明: 该时间段或距离段内骑行按照超距(时)进行收费 </div>

                <div class="freeBoxCss">
                    <!-- 超距收费 -->
                    <div class="freeDistCss">
                        <div class="freeDistNameCss">每公里收费：</div>
                        <input placeholder="15" class="freeDistValueCss" v-model="UI.cost_per_mile" @keyup="checkInput(UI.cost_per_mile,'cost_per_mile')"/>
                        <div class="freeDistUnitCss">元</div>
                    </div>
                    <!-- 超时收费 -->
                    <div class="freeDistCss">
                        <div class="freeDistNameCss">每分钟收费：</div>
                        <input placeholder="15" class="freeDistValueCss" v-model="UI.cost_per_hour" @keyup="checkInput(UI.cost_per_hour,'cost_per_hour')"/>
                        <div class="freeDistUnitCss">元</div>
                    </div>
                </div>
            </div> 
            <!-- 停车收费 -->
            <div class="freeCss" style="margin-top:5%;">
                <div class="freeTitleCss"> 停车收费 </div>
                <div class="freeDescCss"> 说明: 停车区内停车享受折扣优惠，未将车辆停靠在停车区内将按照停车位置与最近停车点的距离进行罚款 </div>
                <div class="partBoxCss">
                    <!-- 折扣优惠 -->
                    <div class="partDistCss" style="margin-left:3%;">
                        <div class="partDistNameCss">折扣优惠：</div>
                        <input placeholder="0.3" class="freeDistValueCss"  v-model="UI.discount"  @keyup="checkInput(UI.discount,'discount')"/>
                        <div class="freeDistUnitCss"></div>
                    </div>
                    <!-- 收费距离 -->
                    <div class="partDistCss">
                        <div class="partDistNameCss" style="margin-left:-10%;" >与停车点距离：</div>
                        <input placeholder="15" class="freeDistValueCss"  v-model="UI.penalty_dist"  @keyup="checkInput(UI.penalty_dist,'penalty_dist')"/>
                        <div class="freeDistUnitCss">米</div>
                    </div>
                    <!-- 近距收费 -->
                    <div class="partDistCss">
                        <div class="partDistNameCss">小额罚金：</div>
                        <input placeholder="15" class="freeDistValueCss"  v-model="UI.small_penalty"  @keyup="checkInput(UI.small_penalty,'small_penalty')"/>
                        <div class="freeDistUnitCss">元</div>
                    </div>
                    <!-- 远距收费 -->
                    <div class="partDistCss">
                        <div class="partDistNameCss">巨额罚金：</div>
                        <input placeholder="15" class="freeDistValueCss"  v-model="UI.huge_penalty"  @keyup="checkInput(UI.huge_penalty,'huge_penalty')"/>
                        <div class="freeDistUnitCss">元</div>
                    </div>
                </div>
            </div> 
            <!-- 计费模拟 -->
            <div class="simulateCss">
                <div class="freeTitleCss"> 计费模拟 </div>
                <div class="freeDescCss"> 说明: 计费模拟 </div>
                <!-- 时间 -->
                <div style="width:100%;display:flex;">
                    <span class="fontCss"> 时间： </span>
                    <Slider style="width:69.5%;margin-left:1%;" v-model="value.timeValue" 
                            :tip-format="formatTime" @on-change="computeCost(value)"> </Slider>
                </div>
                <!-- 距离 -->
                <div style="width:100%;display:flex;">
                    <span class="fontCss"> 距离： </span>
                    <Slider style="width:69.5%;margin-left:1%;" v-model="value.distValue" 
                            :tip-format="formatDist" @on-change="computeCost(value)"> </Slider>
                </div>
                <!-- 停车距离 -->
                <div style="width:100%;display:flex;">
                    <span class="fontCss"> 停车距离： </span>
                    <Slider style="width:69.5%;margin-left:1%;" v-model="value.partDist" 
                            :tip-format="formatPartDist" @on-change="computeCost(value)"> </Slider>
                </div>
                <!-- 模拟结果 -->
                <div class="simulateDistCss">
                    <div class="freeDistNameCss">共收费：</div>
                    <input placeholder="15" class="freeDistValueCss" readonly v-model="UI.totalCost"/>
                    <div class="freeDistUnitCss">元</div>
                </div>
            <!-- </div> -->
        </div>
      
        <!-- 按钮 -->
        <div class="btnCss">
            <Button type="error" style="margin-left:0%;" @click="reset">丢弃</Button>
            <Button type="success" style="margin-left:10%;"  @click="submitConfig">提交</Button>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return { 
            /************** 数据区**********************************/
            UI:{
                // 免费区
                start_dist:"",
                start_time:"",

                // 固定收费区
                fixed_dist:"",
                fixedDistCost:"",
                fixed_time:"",
                fixedTimeCost:"",

                // 超距超时收费区
                cost_per_mile:"",
                cost_per_hour:"",

                // 罚款区
                discount:'',
                penalty_dist:"",
                small_penalty:"",
                huge_penalty:"",
                totalCost:0,
            },
            Raw:{},
            /****************************************************************/
            value:{
                timeValue:10,
                distValue:10,
                partDist:10,
            },
            Host:'',
        }
     },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        /***************************************************/
        this.loadUI();
        this.readConfig();
     },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /********** 从后台读取数据 **************************/
        readConfig(){
            var self = this;
            var url = this.Host + "/ebike/config/costSet?agentId=2";
            this.$http.get(url).then(function(suc){
                var res = suc.body;
                console.log('从 ',url," 读到计费配置: ",res);
                if(res.suc == true){
                    self.$Notice.success({
                        title:"计费配置读取成功"
                    })
                    // self.Raw = JSON.parse(res.data);
                    self.Raw = res.data.content;
                    // console.log("Raw data: ",self.Raw);
                    // 更新UI显示
                    self.update_UI();
                }else{
                    self.$Notice.error({
                        title:"计费配置读取失败"
                    })
                }
            }).catch(err=>{
                self.$Notice.error({
                    title:"计费配置读取异常"
                })
            })
        },
        // 更新UI显示
        update_UI(){
            var self = this;
            var data = this.Raw;
            // console.log("更新UI: ",data);
            // 停车区
            self.UI.small_penalty = parseFloat(data.smallPenalty)/100;        // 元
            if(isNaN(self.UI.small_penalty)) self.UI.small_penalty = '';
            self.UI.huge_penalty = parseFloat(data.largePenalty)/100;         // 元
            if(isNaN(self.UI.huge_penalty)) self.UI.huge_penalty = '';
            self.UI.penalty_dist = parseFloat(data.largeDistance );           // m
            if(isNaN(self.UI.penalty_dist)) self.UI.penalty_dist = '';
            self.UI.discount = parseFloat(data.discount  );         // m
            if(isNaN(self.UI.discount)) self.UI.discount = '';
           
            // 免费区
            self.UI.start_dist = parseFloat(data.startDist);                 // m
            if(isNaN(self.UI.start_dist)) self.UI.start_dist = '';
            self.UI.start_time = parseFloat(data.startTime)/60;              // 分
            if(isNaN(self.UI.start_time)) self.UI.start_time = '';

            // 固定收费区
            self.UI.fixed_dist = parseFloat(data.fixedDist)/1000;           // km
            if(isNaN(self.UI.fixed_dist)) self.UI.fixed_dist = '';
            self.UI.fixed_time = parseFloat(data.fixedTime)/60;
            if(isNaN(self.UI.fixed_time)) self.UI.fixed_time = '';
            self.UI.fixedDistCost = parseFloat(data.fixedDistCost)/100;
            if(isNaN(self.UI.fixedDistCost)) self.UI.fixedDistCost = '';
            self.UI.fixedTimeCost = parseFloat(data.fixedTimeCost)/100;
            if(isNaN(self.UI.fixedTimeCost)) self.UI.fixedTimeCost = '';

            // 超距区
            self.UI.cost_per_mile = parseFloat(data.costPerMeter)/100;
            if(isNaN(self.UI.cost_per_mile)) self.UI.cost_per_mile = '';
            self.UI.cost_per_hour = parseFloat(data.costPerMin)/100;
            if(isNaN(self.UI.cost_per_hour)) self.UI.cost_per_hour = '';

            // 计算费用
            this.computeCost(self.value);
        },
        /************ 按钮事件响应 ****************************/
        // 提交配置
        submitConfig(){
            var self = this;
            var url = this.Host + "/ebike/config/costSet";
            var data = {
                agentId:"2",
                content:{
                    startDist         :self.UI.start_dist*1,      // 最低收费距离: 米
                    startTime         :self.UI.start_time*60,   // 最低收费时间: 分钟
                    fixedDist         :self.UI.fixed_dist*1000, // 固定收费距离: km
                    fixedDistCost     :self.UI.fixedDistCost*100,// 固定距离收费: 元
                    fixedTime         :self.UI.fixed_time*60,    // 固定收费时间: 分钟
                    fixedTimeCost     :self.UI.fixedTimeCost*100,// 固定时间收费: 元
                    costPerMeter      :self.UI.cost_per_mile*100,//超距收费: 元
                    costPerMin        :self.UI.cost_per_hour*100,//超时收费: 元

                    largeDistance     :self.UI.penalty_dist*1,     // 停车区距离: m   
                    smallPenalty      :self.UI.small_penalty*100,  // 小于停车区距离收费: 元
                    largePenalty      :self.UI.huge_penalty*100,   // 停车区距离: 元
                    discount          :self.UI.discount*1,         // 折扣
                },
            };
            data.content = JSON.stringify(data.content);

            console.log("向 ",url,'提交的计费信息是: ',data);
            this.$http.post(
                url,
                data,
                {emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"计费配置保存成功"
                            });
                            // 提交了新的配置,更新本地保存
                            self.Raw = JSON.parse(data.content);
                        }
                        else {
                            self.$Notice.error({
                                title:"计费配置保存失败"
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"计费配置保存失败"
                    });
            });
        },
        // 丢弃
        reset(){
            this.update_UI();
        },
        /********** 页面逻辑 ********************************/
        // 检查输入
        checkInput(value,name){
            var changedValue=value.replace(/[^\d,\.]/g,'');
            if(changedValue == '') return;
            var tmpValue = parseFloat(changedValue);
            console.log("转化之后的数字是: ",tmpValue);         
            
            // 判读 输入的是数字
            if(tmpValue != value){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如18"
                })

                if(name == 'start_dist'){
                    this.UI.start_dist = '';
                }else if(name == 'start_time'){
                    this.UI.start_time = '';
                }
                
                else if(name == 'fixed_dist'){
                    this.UI.fixed_dist = '';
                }else if(name == 'fixed_time'){
                    this.UI.fixed_time = '';
                }else if(name == 'fixedDistCost'){
                    this.UI.fixedDistCost = '';
                }else if(name == 'fixedTimeCost'){
                    this.UI.fixedTimeCost = '';
                }
                
                else if(name == 'cost_per_mile'){
                    this.UI.cost_per_mile = '';
                }else if(name == 'cost_per_hour'){
                    this.UI.cost_per_hour = '';
                }
                
                else if(name == 'discount'){
                    this.UI.discount = '';
                }else if(name == 'penalty_dist'){
                    this.UI.penalty_dist = '';
                }else if(name == 'small_penalty'){
                    this.UI.small_penalty = '';
                }else if(name == 'huge_penalty'){
                    this.UI.huge_penalty = '';
                }
            }            
            // 判断 折扣在0-1之间
            if(name == 'discount'){
                if(tmpValue < 0 || tmpValue > 1){
                    this.$Modal.error({
                        title:"折扣优惠 输入有错",
                        content:"请输入[0,1]区间的数字"
                    })
                    this.UI.discount = '';
                }
            }
        },
     
        /********** 滑块展示 ********************************/
        formatTime(val){
            var tim = val * 1.2;
            tim = parseFloat(tim);
            var h = parseInt(tim / 60);
            var m = Math.round(tim % 60 * 10)/10;
            if(h == 0) return '' + m + '分钟';
            else return '' +  h + '小时' + m + '分钟';
         },
        formatDist(val){
            val = val / 5;
            return '' + val + '公里';
         },
        formatPartDist(val){
            val = val * 20;
            return '' + val + '米';
        },
        /********** 计算费用 *********************/
        computeCost(val){
            var self = this;
            var tim = val.timeValue * 1.2;  
            tim = Math.round(tim *10)/10;
            console.log("骑行了: ",tim,' 分钟');
            var dist = val.distValue/5;
            console.log("骑行了: ",dist,' 公里');
            var partDist = val.partDist * 20;
            console.log("停车在: ",partDist,' 米外');

            var postData = {
                itineraryInfo:{
                    curItinerary:parseFloat(dist)*1000, // 米
                    startTime:0,
                    curTime:tim * 60,                   // 秒
                    distance:partDist,                  // 米
                },
                config:{
                    startDist         :self.UI.start_dist*1,      // 最低收费距离: 米
                    startTime         :self.UI.start_time*60,   // 最低收费时间: 分钟
                    fixedDist         :self.UI.fixed_dist*1000, // 固定收费距离: km
                    fixedDistCost     :self.UI.fixedDistCost*100,// 固定距离收费: 元
                    fixedTime         :self.UI.fixed_time*60,    // 固定收费时间: 分钟
                    fixedTimeCost     :self.UI.fixedTimeCost*100,// 固定时间收费: 元
                    costPerMeter      :self.UI.cost_per_mile*100,//超距收费: 元
                    costPerMin        :self.UI.cost_per_hour*100,//超时收费: 元

                    largeDistance     :self.UI.penalty_dist*1,     // 停车区距离: m   
                    smallPenalty      :self.UI.small_penalty*100,  // 小于停车区距离收费: 元
                    largePenalty      :self.UI.huge_penalty*100,   // 停车区距离: 元
                    discount          :self.UI.discount*1,         // 折扣
                }
            }
            postData.itineraryInfo = JSON.stringify(postData.itineraryInfo);
            postData.config = JSON.stringify(postData.config);
            var url = this.Host + "/ebike/platform/itineraryCost";
            console.log("向 ",url," 提交计费数据: ",postData);
            
            this.$http.post( 
                url,
                postData,
                {emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        console.log("读取到费用是: ",res);
                        if(res.suc == true) {
                            if(res.data == null) this.UI.totalCost = 0;
                            else this.UI.totalCost = parseFloat(res.data)/100;
                        }
                        else {
                            self.$Modal.error({
                                title:"计费计算失败"
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Modal.error({
                        title:"计费计算失败"
                    });
            });
        },
    }
}
</script>

<style scoped>
/************ 免费骑行 *********************/
.freeCss{
    width:95%;
    height:100px;
    margin-left:5%;
}
.freeTitleCss{
    font-size:15px;
    color:white;
    text-align: left;
    border-bottom: 1px solid #c5c5c5;
    width: 82%;
}
.freeDescCss{
    font-size:14px;
    color:gray;
    text-align: left;
    margin-left:3%;
}
.freeBoxCss{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top:2%;
}
.freeDistCss{
    height:100%;
    width:50%;
    display: flex;
}
.freeDistNameCss{
    font-size: 13px;
    color:white;
    text-align: left; 
    margin-top:2%; margin-left:6%;
}
.freeDistValueCss{
    width:30%;
    height:60%;
    margin-top:1%; 
    margin-left:2%;
    background:rgba(0,0,0,0); 
    
    color:white;
    font-size:14px;
    border:1px solid #070C18;
    border-bottom:1px solid gray;
    padding-left: 1%;
    border-radius: 5px; 
}
.freeDistUnitCss{
    font-size: 13px;
    color:white;
    text-align: left;
    margin-top:3%; margin-left:2%;
}
/************ 固定收费 ***********************/
.fixCss{
    width:95%;
    height:150px;
    margin-left:5%;
    margin-top:5%;
    /* border:1px solid green; */
}
.fixBoxCss{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top:2%;
}
/************** 停车收费 **************************/
.partBoxCss{
    width: 100%;
    height: 50px;
    display: flex;
    /* justify-content: space-around; */
    margin-top:2%;
}
.partDistCss{
    height:100%;
    width:20%;
    display: flex;
    /* margin-left:2%; */
    /* border:1px solid red; */
}
.partDistNameCss{
    font-size: 13px;
    color:white;
    text-align: left; 
    margin-top:2%;
}
/*************** 计费模拟 ************************/
.simulateCss{
    width:95%;
    height:170px;
    margin-left:5%;
    margin-top:5%; 

    /* border:1px solid red; */
    /* background-color: #070C18; */
}
.simulateDistCss{
    height:50px;
    width:50%;
    margin-top:20px; 
    display: flex;
    justify-content: center;
}
.fontCss{
    color:white;
    font-size:14px;
    margin-left:3%;
    margin-top:1%;
    width:70px;
    text-align:left;
}
/****************** 按钮组*******************************/
.btnCss{
    width:50%;
    height: 30px;
    margin-left:20%;
    margin-top:50px; 

    /* border:1px solid red; */
    margin-bottom:20px;
    text-align: left;

    display: flex;
    justify-content: space-around;
}
</style>

