<template>
    <div class="configTeleCss">
        <h1 style="color:white;font-size:18px;">系统 配置</h1>
        <!-- 客服电话 -->
        <div class="telCss">
            <div class="telTextCss">客服电话：</div>
            <input class="telInputCss" v-model="value.tel" placeholder="13526745263" @keyup="checkInput('tel')">
            <div class="telUnitCss"></div>
            <Button type="success" class="telBtnCss" @click="submit_tel">提交</Button>
        </div>
        <!-- 押金 -->
        <div class="telCss">
            <div class="telTextCss">押金：</div>
            <input class="telInputCss" v-model="value.deposite" placeholder="250" @keyup="checkInput('deposite')">
            <div class="telUnitCss">元</div>
            <Button type="success" class="telBtnCss"  @click="submit_deposite">提交</Button>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            value:{
                tel:'',
                deposite:'',
            },
            Host:"",
        }
    },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        console.log("host: ",this.Host);
        /***************************************************/
        this.loadUI();
        // 读取配置
        this.readConfig_tel();
        this.readConfig_deposite();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /*********** 页面逻辑 ******************************/
        checkInput(name){
            if(name == 'tel'){
                var changedValue = '';
                changedValue = this.value.tel.replace(/[^\d,\.]/g,'')
                if(changedValue != this.value.tel){
                    this.$Modal.error({
                        title:"输入有错",
                        content:"请输入数字，如13524658745"
                    })
                    this.value.tel = '';
                }
            }else{
                var changedValue = '';
                changedValue = this.value.deposite.replace(/[^\d,\.]/g,'')
                if(changedValue != this.value.deposite){
                    this.$Modal.error({
                        title:"输入有错",
                        content:"请输入数字，如13524658745"
                    })
                    this.value.deposite = '';
                }
            }
          
        },
        /*********** 与后台交互 *****************************/
        // 读取 客服电话
        readConfig_tel(){ 
            var self = this; 
            var url = this.Host + "/ebike/config/telephoneSet?agentId=2";
            this.$http.get(url).then(function(suc){
                var res = suc.body;
                console.log('res: ',res);
                if(res.suc == true){
                    var data = res.data.content;
                    self.value.tel = data;
                    self.$Notice.success({
                        title:"读取成功"
                    })
                }else{
                    self.$Notice.error({
                        title:"读取失败"
                    })
                }
            }).catch(err=>{
                self.$Notice.error({
                    title:"读取异常"
                })
            })
         },
        // 读取 押金
        readConfig_deposite(){ 
            var self = this; 
            var url = this.Host + "/ebike/config/depositSet?agentId=2";
            this.$http.get(url).then(function(suc){
                var res = suc.body;
                // console.log('res: ',res);
                if(res.suc == true){
                    var data = res.data.content;
                    self.value.deposite = parseFloat(data)/100;
                    console.log("押金: ",self.value.deposite);
                    self.$Notice.success({
                        title:"读取成功"
                    })
                }else{
                    self.$Notice.error({
                        title:"读取失败"
                    })
                }
            }).catch(err=>{
                self.$Notice.error({
                    title:"读取异常"
                })
            })
         },
        // 提交 客服电话
        submit_tel(){
            if(this.value.tel == ""){
                this.$Notice.info({
                    title:"请输入客服电话"
                })
                return;
            }
            // 1,构造数据
            var url = this.Host + "/ebike/config/telephoneSet?agentId=2";
            var data = {
                agentId:"2",
                content:this.value.tel*1,
            };
            var self = this;
            console.log("向 ",url," 提交Post数据: ",data,'修改电话');

            // 2,提交请求
            this.$http.post(
                url,
                data,
                {emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"保存成功"
                            });
                        }
                        else {
                            self.$Notice.error({
                                title:"保存失败"
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"保存失败"
                    });
            });
         },
        // 提交 押金
        submit_deposite(){
            if(this.value.deposite == ""){
                this.$Notice.info({
                    title:"请输入押金"
                })
                return;
            }
            // 1,构造数据
            var url = this.Host + "/ebike/config/depositSet?agentId=2";
            var data = {
                agentId:"2",
                content:this.value.deposite*100,
            };
            console.log("向 ",url," 提交Post数据: ",data,'修改押金');
            var self = this;

            // 2,提交请求
            this.$http.post(
                url,
                data,
                {emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"保存成功"
                            });
                        }
                        else {
                            self.$Notice.error({
                                title:"保存失败"
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"保存失败"
                    });
            });
         },
       
    }
}
</script>

<style scoped>
.configTeleCss{
    width:100%;
    height: 100%;
    overflow-y: auto;
}
/************** 客服电话配置 **********************/
.telCss{
    width:100%; height:50px;
    /* border:1px solid red; */
    margin-top:50px;
    display:flex;
    justify-content: flex-start;
}
.telTextCss{
    font-size:16px;
    color:white;
    width:15%; height:100%;
    text-align: center;
    margin-left: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.telInputCss{
    background:rgba(0,0,0,0); 
    color:balck;
    width:30%; height:80%; 
    margin-top:5px;

    color:white;
    font-size:14px;
    border:1px solid #070C18;
    border-bottom:1px solid gray;
    border-radius: 5px; 
    padding-left: 1%;
}
.telBtnCss{
    margin-left:20%; 
    height:80%;
    width:80px; 
    font-size:15px;
    margin-top:5px;
}
.telUnitCss{
    font-size:16px;
    color:white;
    width:2%; height:60%;
    text-align: center;
    margin-top: 2%;
}
/************** 押金配置 **********************/

</style>
