<template>
    <div style="width:100%; height:100%; overflow-y:auto;">
        <h1 style="color:white; font-size:18px">帮助页 配置</h1>
        <!-- 图片列表 -->
        <div class="upload-list"> 
            <div v-for="(item, index) in UI" class="uploadItemCss">
                <img :src="item.value" class="upload-img" @load="LoadFinished(item)">
                <Spin size="large" fix v-if="!item.loadFinished" class="loadCss"></Spin>
                <div class="upload-list-cover" >
                    <Icon type="ios-eye-outline"  @click.native="handleView(item)"></Icon>
                    <Icon type="ios-trash-outline"  @click.native="handleRemove(index)"></Icon>
                </div>
            </div>
            <!-- 大图展示 -->
            <Modal title="查看图片" v-model="visible" 
                @on-ok="bigPicture_OK">
                <img :src="bigPicture" v-if="visible" style="width: 100%;height:50%;">
            </Modal>
        </div>
        <!-- 上传 -->
        <input type="file" id = 'file' @change="upload"  style="margin-top:50px;"/>
        <Button type="success"  @click="submit">提交保存</Button>
        <div class="notationCss">
            说明：<br>
            (1)上传图片格式为png，jpg<br>
            (2)上传图片尺寸不得超过1M<br>
        </div>
    </div>
</template>

<script >
export default {
    data(){
        return{
            Host:"",
            /************** 数据变量 *****************************/
            UI:[],
            Raw:[],
            /************** 数据变量 *****************************/
            visible:false,
            bigPicture:'',
        }
     },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        /***************************************************/
        this.loadUI();
        this.readConfig();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /**********************************************/
        // 加载结束
        LoadFinished(item){
            item.loadFinished = true;
            console.log("加载结束: ",item);
        },
        /*********** 读取已有数据 ************************/
        // 更新UI显示
        update_UI(){
            var self = this;
            // 1,清空
            this.UI = [];
            // 2,赋值
            for(var i = 0;i<this.Raw.length;i++){
                var item = {};
                item.value = this.Raw[i];
                item.loadFinished = false;
                this.UI.push(item);
            }
            console.log("UI数据: ",this.UI);
        },
        // 读取 已有图片
        readConfig(){
            var self = this;
            var url = this.Host + "/ebike/config/helpSet?agentId=2";
            this.$http.get(url).then(function(suc){
                var res = suc.body;
                console.log("res: ",res);
                if(res.suc == true){
                    var data = res.data.content;
                    console.log("读到图片: ",data);
                    if(data != '') self.Raw = data;
                    // 更新UI
                    self.update_UI();
                    self.$Notice.success({
                        title:"读取成功"
                    })
                }else{
                    self.$Notice.error({
                        title:"读取失败"
                    })
                }
            }).catch(err=>{
                self.$Notice.error({
                    title:"读取异常"
                })
            })
         },
       
        /*********** 页面查看与删除 ***********************/ 
        // 图片查看
        handleView(pic){
            this.bigPicture = pic.value;
            this.visible = true;
        },
        bigPicture_OK(){
            this.visible = false;
        },
        // 删除图片
        handleRemove(index){
            var self = this;
            this.Raw.splice(index,1);
            this.update_UI();
        },
        /*********** 图片上传 ******************************/ 
        // 辅助函数  --> 上传文件
        help_upload(){
            
            var self = this;
            var OSS = require('ali-oss');
            OSS = OSS.Wrapper;

            var client = new OSS({
                region: 'oss-cn-shenzhen',
                accessKeyId: 'LTAIiRixBumT4rtm',
                accessKeySecret: 'Fa9XU83xCFffkDF0DYnOZIyaM4YCk7',
                bucket: 'xc-caocao-imgs'
            });

            var file = document.getElementById('file').files[0];
            var key = file.name;
            console.log("key: ",key,'file: ',file);

            client.multipartUpload(key, file).then(function (res) {
                self.$Notice.success({
                    title:"上传成功"
                })
                console.log("上传图片: ",res);
                var newpic = 'http://img.cdn.xiaoan110.com/' + file.name;
                // 将新的图片添加到UI中
                console.log("new pic: ",newpic);
                self.Raw.push(newpic);
                console.log("现在的图片有: ",self.Raw);
                self.update_UI();

            }).catch(function(err){
                self.$Notice.error({
                    title:"上传 异常"
                })
                console.log("err: ",err);
            });
        },     
        upload(){
            var file = document.getElementById('file').files[0];
            if(typeof file === 'undefined'){
                console.log("未定义");
            }else{
                this.help_upload();
            }
        },
        /*********** 图片保存 ******************************/ 
        submit(){
            var self = this;
            var postData = {
                agentId:2,
                content:this.Raw,
            }
            var url = this.Host + '/ebike/config/helpSet';
            console.log("向 ",url,'提交数据: ',postData);
            this.$http.post(
                url,postData, {emulateJSON:true}
            ).then(function(res){
                res = res.body;
                console.log("res: ",res);
                if(res.suc){
                    self.$Notice.success({
                        title:"保存成功"
                    })
                }else{
                    self.$Notice.error({
                        title:"保存失败"
                    })
                }
            }).catch(function(err){
                self.$Notice.error({
                    title:"保存 异常"
                })
            })
        },
     }
}
</script>

<style scoped>
/*************** 图片查看 *********************************/
.upload-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left:5%;
    margin-top:5%;
}
.upload-img{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 4px;

    background: gray;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-left: 10px;
    margin-top: 10px;   
}
.loadCss{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.9); 
}
.upload-list-cover{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,.6);
}
.uploadItemCss{
    position: relative;
}
.uploadItemCss:hover .upload-list-cover{
    display: block;
}
.upload-list-cover i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-top:30px;
}
/*************** 图片列表 ******************************/
.picListCss{
    display:flex;
    text-align:center;
    margin-left:15%;margin-top:2%;
    width:70%;
}
/**************** 上传说明 *********************************/
.notationCss{
    width:200px;
    height:100px;
    background: white;

    margin-left:40%;
    margin-top:30px;
    text-align:left;

    padding-left:10px;
    padding-top:10px;
}

</style>
