<template>
    <div style="width:100%; height:100%; overflow-y:auto;">
        <div style="color:#c1c1c1;font-size:18px;">批量导出</div>
        <!-- 日期选择 -->
        <div style="width:100%; height:40px;display:flex; justify-content: center">
            <DatePicker type="date" placeholder="选择导出时间(不选择时间将导出全部数据)"  @on-change="ok_Time" 
                        style="width: 500px; margin-top:40px; height:40px;">
            </DatePicker>
        </div>
        <div class="butCss">
            <!-- 按钮选择 -->
            <Button type="primary" style="width:80px; height:40px;" @click="download">导出</Button>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            selectedDate:'',
            Host:'',
            url:'',
        }
    },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        this.url = this.Host + myConfig.carInfo.downloadUrl;
        /**********************************************************/
        // 进度加载
        this.$Spin.show({
            render: (h) => {
                return h('div', [
                    h('Icon', {
                        'class': 'demo-spin-icon-load',
                        props: {
                            type: 'load-c',
                            size: 50
                        }
                    }),
                    h('div', '绑定中...')
                ])
            }
        });
        var self = this;
        setTimeout(function(){
            self.$Spin.hide();
        },500);
    },
    methods:{
        /***************************************************/
        // 选择时间
        ok_Time(date){
            // console.log("date: ",date);
            var str = date[0] + date[1] + date[2] + date[3] 
                    + date[5] + date[6] + date[8] + date[9] ;
            console.log("str:  ",str);
            this.selectedDate = str;
        },
        // 下载
        download(){
            var self = this;
            var url = this.url;
            // 导出所有
            if(this.selectedDate == ''){
                console.log("导出所有");
            }
            // 导出选择日期的车辆信息
            else{
                console.log("导出:",this.selectedDate);
                url = url + "&time=" + this.selectedDate;
            }
            console.log("url: ",url);
            this.$http.get(url).then(function(res){
                res = res.body;
                console.log("res:  ",res);
                // 返回错误
                if(res instanceof Object){
                    self.$Notice.error({
                        title:"车辆信息导出出错",
                        desc:res.error.err
                    })
                }
                // 可以正确读取
                else{
                    window.open(url);    
                }
            }).catch(err=>{
                err = err.body;
                console.log("err: ",err);
            })
        }
    }
}
</script>

<style scoped>
.butCss{
    width:100%;
    margin-top:10%;
}
</style>
