<template>
    <div class="mainDivCss">
        <div style="color:white;font-size:18px;">车辆报修</div>
        <!-- 确认弹框 -->
        <Modal
            v-model="visible"
            title="是否确认删除？"
            @on-ok="ok_delete"
            @on-cancel="cancel_delete">
        </Modal>
        <!-- 输入对话框 -->
        <Modal
            v-model="modalCtl.visibleInput"
            title="请输入新的产品"
            @on-ok="ok_input"
            @on-cancel="cancel_input">
            <Input v-model="modalCtl.faultName" placeholder="请输故障类型，如:车灯..." style="width: 300px"></Input>
        </Modal>

        <div style="
            width:400px; height:600px;
            position:relative;
            background: #f5f5f5;
            margin-top:10px;
        ">
            <!-- 车身故障 -->
            <div class="faultCss">车身故障</div>
            <hr>
            <!-- 图片 -->
            <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_fault.png" style="width:250px;"/>
            <!-- 左边列 -->
            <div style="top:5%; left:5%;" class="faultItemCss">龙头</div>      
            <div style="top:15%; left:5%;" class="faultItemCss">车灯</div>
            <div style="top:25%; left:5%;" class="faultItemCss">线路</div>
            <div style="top:35%; left:5%;" class="faultItemCss">车篮</div>
            <div style="top:45%; left:5%;" class="faultItemCss">车轮</div>
            <div style="top:54%; left:5%;" class="faultItemCss">车撑</div> 
            <!-- 右边列 -->
            <div style="top:5%; left:79%;" class="faultItemCss">刹车</div>
            <div style="top:15%; left:79%;" class="faultItemCss">车座</div>
            <div style="top:25%; left:79%;" class="faultItemCss">二维码</div>
            <div style="top:35%; left:79%;" class="faultItemCss">电池</div>
            <div style="top:43%; left:79%;" class="faultItemCss">挡泥板</div>
            <div style="top:54%; left:79%;" class="faultItemCss">脚蹬</div>

            <!-- 特殊故障 -->
            <div class="faultCss" style="margin-top:2%;">特殊故障</div>
            <hr>
            <div class="expecialFaultCss">
                <!-- 无法还车 -->
                <div class="expecialFaultItemCss">
                    <div class="circleCss"></div>
                    <div class="valueCss">无法还车</div>
                </div>
                <!-- 加私锁 -->
                <div class="expecialFaultItemCss">
                    <div class="circleCss"></div>
                    <div class="valueCss">加私锁</div>
                </div>
            </div>

            <!-- 其他故障 -->
            <div class="faultCss" style="margin-top:2%;">其他故障</div>
            <hr>
            <div class="otherFaultCss">
                <div class="otherFaultItemCss"  @click="deleteFault(item)" v-for="item in faults">
                    <div class="otherCircleCss"></div> 
                    <div class="otherValueCss" style="cursor:pointer;">
                        <Tooltip placement="top-start" style="width:100%;overflow:hidden;white-space: nowrap;text-overflow:ellipsis; "> 
                            {{item}}
                            <div slot="content" style="font-size:15px;color:white;width:60px;word-break: break-all;white-space: normal ;">
                                <!-- {{item}} -->
                                点击删除
                            </div>
                        </Tooltip>
                    </div>
                </div>
                <div class="addFaultItemCss" @click="addFaultItem"><Icon type="android-add" size="35"></Icon></div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            FixFault:[
                {"type":"0","name":"龙头"},
                {"type":"1","name":"车灯"},
                {"type":"2","name":"线路"},
                {"type":"3","name":"车篮"},
                {"type":"4","name":"车轮"},
                {"type":"5","name":"车撑"},
                {"type":"6","name":"刹车"},
                {"type":"7","name":"车座"},
                {"type":"8","name":"二维码"},
                {"type":"9","name":"电池"},
                {"type":"10","name":"挡泥板"},
                {"type":"11","name":"脚蹬"},
                {"type":"12","name":"无法还车"},
                {"type":"13","name":"加私锁"},
                // {"type":"14","name":"锁"},
                // {"type":"15","name":"油门"}
            ],
            faults:[],
            rawData:null,
            Host:null,

            delIdx:0,
            visible:false,
            modalCtl:{
                visibleInput:false,
                faultName:'',
            }
        }
    },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        /***************************************************/
        this.loadUI();
        this.readData();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /********* 读取已有故障类型 ********************************/ 
        readData(){
            var self = this;
            var url = this.Host + "/ebike/device/eFixReason";
            console.log("向 ",url,"发送get请求.....");
            this.$http.get(url).then(function(suc){
                suc = suc.body;
                console.log("读取故障类型: ",suc);

                if(suc.suc == true){
                    self.$Notice.success({
                        title:"读取成功"
                    })
                    self.rawData = suc.data.content;
                    // 更新数据
                    this.updateFaults();
                 }
                else{
                    self.$Notice.error({
                        title:"读取失败"
                    })
                 }
            }).catch(err=>{
                self.$Notice.error({
                    title:"读取异常"
                })
            })
         },
        // 更新显示,更新数据
        updateFaults(){
            var self = this;
            self.faults = [];
            for(var i = 0;i<self.rawData.length;i++){
                var flag = false;
                for(var j = 0;j<self.FixFault.length;j++){
                    if(self.rawData[i].name == self.FixFault[j].name) flag = true;
                }
                // 这个故障不存在在已有的设置中
                if(flag == false){
                    // self.FixFault.push(self.rawData[i])
                    self.faults.push(self.rawData[i].name);
                }
            }

            // 更新rawData
            // this.rawData = this.FixFault;
         },
        /********** 添加新的故障类型 *****************/
        ok_input(){
            console.log("确认添加");
            this.modalCtl.visibleInput = false;

            if(this.modalCtl.faultName == ''){
                this.$Notice.info({
                    title:"故障类型名不能为空.."
                })
                return;
            }
            var self = this;
            var len = self.rawData.length-1;
            var id = parseInt(self.rawData[len].type) + 1;

            self.rawData.push({
                'type':id,
                'name':self.modalCtl.faultName
            });
            console.log('新的data: ',self.rawData);

            // 提交
            var url = this.Host + "/ebike/device/eFixReason";
            this.$http.post(
                url,
                {"data":self.rawData},
                {emulateJSON:true}
            ).then(
                function(res){
                    res = res.body;
                    console.log(res);
                    if(res.suc == true) {
                        self.$Notice.success({
                            title:"更新成功"
                        });
                        self.updateFaults();
                    }
                    else {
                        self.$Notice.error({
                            title:"更新失败"
                        });
                    }
                }
            ).catch( function(err){
                self.$Notice.error({
                        title:"更新异常"
                });
            });
        },
        cancel_input(){
            console.log("取消添加");
            this.modalCtl.visibleInput = false;
        },
        addFaultItem(){
           this.modalCtl.visibleInput = true;
         },
       
        /************ 删除某一个故障类型 **************/  
        ok_delete(){
            this.visible = false;
            var self = this; 
            console.log("即将删除: ",this.rawData[this.delIdx]);
            this.rawData.splice(this.delIdx,1);

            console.log("提交数据: ",this.rawData);
            var url = this.Host + "/ebike/device/eFixReason";

            this.$http.post(url,{"data":self.rawData},{emulateJSON:true}).then(
                function(res){
                    res = res.body;
                    if(res.suc == true){
                        self.$Notice.success({
                            title:"删除成功"
                        })
                        self.modalCtl.faultName = '';
                        self.updateFaults();
                    }else{
                            self.$Notice.error({
                            title:"删除出错"
                        })
                    }
                }
            ).catch(err=>{
                    self.$Notice.error({
                        title:"删除异常"
                    })
            }) 
        },
        cancel_delete(){
            console.log("取消删除");
            this.visible = false;
        },
        deleteFault(item){
            this.visible = true;
            for(var i = 0;i<this.rawData.length;i++){
                if(this.rawData[i].name == item){
                    this.delIdx = i; 
                    break;
                }
            }
            console.log("删除: ",item,'他的索引是: ',this.delIdx);
         },
       
    }
}
</script>
<style scoped>
/*****************************************************/
.mainDivCss{
    width  : 100%; 
    height : 100%;
    overflow-y: auto;
    color:white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*****************************************************/
.faultCss{
    color:black;
    font-size:15px;
    text-align:left;
    width:100%;
}
.faultItemCss{
    color:black; font-size:14px;
    position:absolute;
    width:60px; 
    border:1px solid black;
    border-radius:20px;
}
/******** 特殊故障 *****************/
.expecialFaultCss{
    width:100%; 
    height:50px; 
    display:flex; 
    color:black;
    font-size:14px;
    justify-content: space-between;
}
.expecialFaultItemCss{
    width:50%;
    display: flex;
    justify-content: flex-start;
}
.circleCss{
    width:7px; 
    height:7px;
    background:orange;
    border-radius:7px;
    margin-left:30%;
    margin-top:10%;
}
.valueCss{
    margin-top:6%;
    margin-left:5%;
}
/******** 其他故障 *****************/
.otherFaultCss{
    width:100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    color:black;
    font-size:14px;
}
.otherFaultItemCss{
    width: 120px;
    height: 40px;

    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.otherCircleCss{
    width:7px; 
    height:7px;
    background:orange;
    border-radius:7px;
    margin-left:10%;
    /* margin-top:15%; */
}
.otherCircleCss:hover{
    background:red;
}
.otherValueCss{
    margin-top:6%;
    margin-left:5%;
    text-align: left;

    width:80%;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
}
/********** 添加 ************/
.addFaultItemCss{
    width: 60px;
    height: 40px;
    border:2px dashed gray;
    border-radius:5px;
}
</style>
