<template>
    <div style="width:100%;height:100%;position:relative;">
        <!-- 加盟商车辆列表 -->
        <div style="
            width:95%; height: 90%;
            margin-top:2%;   
            ">
            <!-- 名称行 -->
            <div style="width:100%; height:40px;
                        margin-left:1.5%;
                        overflow-y:auto;
                        display:flex;">
                <div class="itemNameCss1"> 车辆号 </div>
                <div class="itemNameCss2"> 设备号 </div>
                <div class="itemNameCss1"> 服务区 </div>
                <div class="itemNameCss2"> 车辆状态 </div>
                <div class="itemNameCss1"> 操作 </div>
            </div>
            <!-- 数据行 -->
            <div style="width:calc( 100% + 17px) ; height:75%; margin-left:1.5%; overflow-y:scroll;">
                <div style="width:100%; height:45px; display:flex;justify-content: flex-start" v-for="(item,index) in UI.orderList">
                    <!-- 车辆号 -->
                    <div class="itemValueCss1">
                        {{item.carId}}
                    </div>
                    <!-- 设备号 -->
                    <div class="itemValueCss2">
                        {{item.imei}}
                    </div>
                    <!-- 服务区 -->
                    <div class="itemValueCss1">
                        {{item.service}}
                    </div>
                    <!-- 车辆状态 -->
                    <div  class="itemValueCss2" v-bind:style="{'color':item.carStateColor}" >
                        <!-- <div v-bind:style="{'color':item.carStateColor}">{{item.carState}}</div> -->
                        {{item.carState}}
                    </div>
                    <!-- 操作 -->
                    <div  class="itemValueCss1" style="cursor:pointer;"  @click="jumpToDetail(item)">
                        <div style="white-space:nowrap; width:50%; height:50%; background:#9a5afb;border-radius:50px;">进入详情</div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- 隐藏条 -->
        <!-- <div style="position:absolute;top:0%;right:3%; width:25px; height:600px; background:#081121"></div>\ -->
        <!-- 翻页器 -->
        <div style="
                position:absolute;
                bottom:5%;
                right:5%;
                display:flex;
                cursor:pointer
            ">
                <!-- 左箭头 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'color': pageCtl.leftArrowColor,
                    }"
                    @click="pageChange(0)">
                   <Icon type="chevron-left"></Icon>
                </div>
                <!-- 页1 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page1Color,
                    }"
                    @click="pageChange(1)">
                    {{pageCtl.startPage}}
                </div>
                <!-- 页2 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page2Color,
                    }"
                    @click="pageChange(2)">
                    {{pageCtl.startPage+1}}
                </div>
                <!-- 页3 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page3Color,
                    }" 
                    @click="pageChange(3)">
                    {{pageCtl.startPage+2}}
                </div>
                <!-- 页4 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page4Color,
                    }"
                    @click="pageChange(4)">
                    {{pageCtl.startPage+3}}
                </div>
                <!-- 页5 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page5Color,
                    }"
                    @click="pageChange(5)">
                    {{pageCtl.startPage+4}}
                </div>
                <!--右箭头 -->
                <div class="pageSelect" @click="pageChange(6)">
                   <Icon type="chevron-right"></Icon>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /************ 数据 **************************************/
            UI:{
                orderList:[]   
            },
            Raw:[],
            /************* 分页器控制 *********************************/
            pageCtl:{
                startPage:1,
                curPage:1,
                leftArrowColor:'#060914',
                page1Color:'#12173c',
                page2Color:'#363958',
                page3Color:'#363958',
                page4Color:'#363958',
                page5Color:'#363958',
            },
            /************ 路由 ****************************************/
            route:{
                Host:'',
                getCars:'',
            },
            /************ debug控制 ***********************************/
            debug:true,
        }
    },
    mounted(){
        var self = this;
        /******************************************************/
        // 读取加盟商Id:allyId
        if(localStorage.hasOwnProperty('allyId') ){
            var allyId = localStorage.getItem("allyId");
            if(this.debug) allyId = 2;
            /************** 动态配置服务器版本 *******************/
            var myConfig = require('./myConfig.json')
            var versionType = myConfig.host.versionType;
            if(versionType == 'Test'){
                this.route.Host = myConfig.host.test_url;
            }else if(versionType == 'Formal'){
                this.route.Host = myConfig.host.Formal_url;
            }
            this.route.getCars = this.route.Host + myConfig.franchiser.FranchiserCars.getCars 
                                 + allyId + '&pageSize=50&pageNo=';
            /**************************************************************/
        }else{
            this.$router.push({path:"/WantAccess"});
            return;
        }
        /******************************************************/
        // 进度加载
        this.$Spin.show({
            render: (h) => {
                return h('div', [
                    h('Icon', {
                        'class': 'demo-spin-icon-load',
                        props: {
                            type: 'load-c',
                            size: 50
                        }
                    }),
                    h('div', '读取中...')
                ])
            }
        });
        /**********************************************************/
        this.read_data_by_page(1);
    },
    methods:{
        /*********** 读取数据 ***************************/
        // 读取数据
        read_data_by_page(pageNum){
            var self = this;
            // 1,构造数据
            var url = this.route.getCars + '' + pageNum;
            console.log("向 ",url,'发送get请求..');
            // 2,发送请求
            this.$http.get(url).then(
                function(res){
                    res = res.body;
                    // 关闭加载条
                    self.$Spin.hide();
                    
                    console.log("读取到数据: ",res);
                    if(res.suc){
                        // console.log("读取成功..");
                        self.$Notice.success({
                            title:"读取车辆列表 成功"
                        })
                        // 更新UI
                        self.Raw = res.data;
                        self.update_UI();
                    }else{
                        self.$Notice.error({
                            title:"读取车辆列表 失败"
                        })
                    }
                }
            ).catch(function(err){
                self.$Notice.error({
                    title:"读取车辆列表 异常"
                })
            })
        },
        // 更新UI
        update_UI(){
            // 清空数据
            this.UI.orderList = []
            // 赋值数据
            for(var i = 0;i<this.Raw.length;i++){
                var item = {};
                
                if(this.Raw[i].carId == '' || this.Raw[i].carId == null) item.carId = '-- --'
                else item.carId   = this.Raw[i].carId;
                if(this.Raw[i].imei == '' || this.Raw[i].imei == null) item.imei = '-- --'
                else item.imei    = this.Raw[i].imei;
                if(this.Raw[i].serviceName == '' || this.Raw[i].serviceName == null) item.service = '-- --'
                else item.service = this.Raw[i].serviceName;

                if(this.Raw[i].state == '1'){
                    item.carState = '可使用';
                    item.carStateColor = 'green';
                }else if(this.Raw[i].state == '2'){
                    item.carState = '骑行中';
                    item.carStateColor = 'green';
                }else if(this.Raw[i].state == '3'){
                    item.carState = '设备报修';
                    item.carStateColor = 'red';
                }else if(this.Raw[i].state == '4'){
                    item.carState = '设备被预约';
                    item.carStateColor = 'orange';
                }else if(this.Raw[i].state == '5'){
                    item.carState = '设备离线';
                    item.carStateColor = 'red';
                }else if(this.Raw[i].state == '6'){
                    item.carState = '人工换电中';
                    item.carStateColor = 'orange';
                }else if(this.Raw[i].state == '7'){
                    item.carState = '拖回中';
                    item.carStateColor = 'red';
                }else{
                    item.carState = '-- --';
                    item.carStateColor = 'red';
                }

                // 放置里面
                this.UI.orderList.push(item);
            }
        },
        /*********** 跳转详情 ***************************/
        jumpToDetail(item){
            console.log("选中了: ",item.imei);
            // 记录当前页面
            localStorage.setItem("curPage",'加盟商订单列表');
            localStorage.setItem("imei",item.imei);
            // 页面跳转
            this.$router.push({path:"/orderList",query: {deviceId: item.imei}}); 
        },
        /*********** 翻页器 *****************************/
        // 1, 辅助函数 ---> 改变颜色
        help_pageHighlignt(page){
            if(page == 0){
                this.pageCtl.page1Color = '#12173c';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 1){
                this.pageCtl.page2Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 2){
                this.pageCtl.page3Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 3){
                this.pageCtl.page4Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 4){
                this.pageCtl.page5Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }else{
                this.pageCtl.page5Color = '#363958';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }
        },
        pageChange(val){
            // 向左翻页
            if(val == 0){
                if(this.pageCtl.startPage == 1){
                    this.pageCtl.leftArrowColor = "#060914";
                }else if(this.pageCtl.startPage == 2){
                    this.pageCtl.leftArrowColor = "#060914";
                    this.pageCtl.startPage = 1;
                }else{
                    this.pageCtl.startPage -= 1;
                }
            }else if(val == 1){
                this.pageCtl.curPage = this.pageCtl.startPage;
            }else if(val == 2){
                this.pageCtl.curPage = this.pageCtl.startPage + 1;
            }else if(val  == 3){
                this.pageCtl.curPage = this.pageCtl.startPage + 2;
            }else if(val  == 4){
                this.pageCtl.curPage = this.pageCtl.startPage + 3;
            }else if(val  == 5){
                this.pageCtl.curPage = this.pageCtl.startPage + 4;
            }else if(val  == 6){
                this.pageCtl.leftArrowColor = "white";
                this.pageCtl.startPage += 1;
            }
            this.help_pageHighlignt(this.pageCtl.curPage - this.pageCtl.startPage);

            // 读取页面数据
            if(val !=0 && val != 6){
                this.read_data_by_page(this.pageCtl.curPage);
            }
        },
    }
}
</script>

<style scoped>
/************ 加载条 ***********************************/
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
/************ 分页器样式 *******************************/
.pageSelect{
    width:40px; 
    height:40px;
    margin-left:5px;
    background-color: #363958;
    border-radius: 10px;
    color:white;
    text-align: center;
    font-size:25px;
}
/**************************************/
.itemNameCss1{
    width:20%; 
    height:100%;
    background:#2C223C;
    font-size:15px;
    color:#C1C0C1;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemNameCss2{
    width:20%; 
    height:100%;
    background:#120C1E;
    font-size:15px;
    color:#C1C0C1;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemValueCss1{
    float: left;
    width:20%; 
    height:100%;
    background:#2C223C;
    font-size:13px;
    color:#C1C0C1;
    border-top:1px dashed gray;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemValueCss2{
    float: left;
    width:20%; 
    height:100%;
    background:#120C1E;
    font-size:13px;
    color:#C1C0C1;
    border-top:1px dashed gray;

    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
