<template>
    <div class="board">
        <div style="color:#c1c1c1; font-size:18px;">加盟商看板</div>
        <div style="color:#c1c1c1; font-size:15px; margin-top:20px;">流水概况</div>
        <div id="waterFlowInfo" style="width: 100%;height:300px; padding-left:2%;"></div>
       
        <div style="color:#c1c1c1; font-size:15px;margin-top:5%;">订单概况</div>
        <div id="ticketInfo" style="width: 100%;height:300px; padding-left:2%;"></div>
        
        <!-- <div style="color:#c1c1c1; font-size:15px;margin-top:5%;">车辆概况</div>
        <div id="carInfo" style="width: 100%;height:300px; padding-left:10%;"></div> -->
    </div>
</template>

<script>
export default {
    data(){
        return{
            /************ 网址 ******************************/
            Host:null,
            URL:{
                order:"",
                waterFlow:"",
                car:"",
            },
            /************ 绘图所需option *********************/
            options:{
                // 流水数据
                waterFlowOption:{
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        },
                        
                    },
                    legend: {
                        data:['日流水','总流水'], 
                        textStyle:{
                            color:"#c1c1c1",
                        }
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
                            axisPointer: {
                                type: 'shadow'
                            },
                            axisLine:{
                                lineStyle:{
                                    color:"#c1c1c1",
                                }
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '流水数',
                            min: 0,
                            max: 2500,                  // 这个要动态更改
                            interval: 500,              // 这个要动态更改
                            axisLabel: {
                                formatter: '{value} '
                            }, 
                            axisLine:{
                                lineStyle:{
                                    color:"#c1c1c1",
                                }
                            }
                        },
                        {
                            type: 'value',
                            name: '流水数',
                            min: 0,
                            max: 450000,                  // 这个要动态更改
                            interval: 50000,              // 这个要动态更改
                            axisLabel: {
                                formatter: '{value}'
                            },
                            axisLine:{
                                lineStyle:{
                                    color:"#c1c1c1",
                                }
                            }
                        },
                    ],
                    series: [
                        {
                            name:"日流水",
                            type:'bar',
                            // 这个要动态更改
                            data:[223.6, 455.9, 9, 2456.4, 238.7, 270.7, 175.6, 182.2, 484.7, 158.8, 634, 256.3],
                            //  itemStyle:{
                            //     normal:{
                            //         color:'#91C7AE'
                            //     }
                            // }
                        },
                        {
                            name:"总流水",
                            type:'line',
                            yAxisIndex: 1,
                            // 这个要动态更改
                            data:[67672.0, 67766.2, 445663.3, 66544.5,
                                76546.3, 16650.2, 33220.3, 55623.4, 
                                44423, 55316.5, 44612, 87686.2],
                            //  itemStyle:{
                            //     normal:{
                            //         color:'#D48265'
                            //     }
                            // }
                        },
                    ]
                },
                // 订单数据
                orderOption:{
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        },
                        
                    },
                    legend: {
                        data:['日订单','总订单'], //'日订单',
                        textStyle:{
                            color:"#c1c1c1",
                        }
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
                            axisPointer: {
                                type: 'shadow'
                            },
                            axisLine:{
                                lineStyle:{
                                    color:"#c1c1c1",
                                }
                            },
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '订单数',
                            min: 0,
                            max: 2500,                  // 这个要动态更改
                            interval: 500,              // 这个要动态更改
                            axisLabel: {
                                formatter: '{value} '
                            }, 
                             axisLine:{
                                lineStyle:{
                                    color:"#c1c1c1",
                                }
                            },
                        },
                        {
                            type: 'value',
                            name: '订单数',
                            min: 0,
                            max: 450000,                  // 这个要动态更改
                            interval: 50000,              // 这个要动态更改
                            axisLabel: {
                                formatter: '{value}'
                            },
                             axisLine:{
                                lineStyle:{
                                    color:"#c1c1c1",
                                }
                            },
                        },
                    ],
                    series: [
                        {
                            name:"日订单",
                            type:'bar',
                            // 这个要动态更改
                            data:[223.6, 455.9, 9, 2456.4, 238.7, 270.7, 175.6, 182.2, 484.7, 158.8, 634, 256.3],
                            itemStyle:{
                                normal:{
                                    color:'#91C7AE'
                                }
                            }
                        },
                        {
                            name:"总订单",
                            type:'line',
                            yAxisIndex: 1,
                            // 这个要动态更改
                            data:[67672.0, 67766.2, 445663.3, 66544.5,
                                76546.3, 16650.2, 33220.3, 55623.4, 
                                44423, 55316.5, 44612, 87686.2],
                            itemStyle:{
                                normal:{
                                    color:'#D48265'
                                }
                            }
                        },
                    ]
                },
                // 车辆数据
                carOption:{
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎','leihouchao'],
                        textStyle:{
                            color:"#c1c1c1",
                        }
                    },
                    series : [
                        {
                            name: '车辆数量',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {value:335, name:'直接访问'},
                                {value:310, name:'邮件营销'},
                                {value:234, name:'联盟广告'},
                                {value:135, name:'视频广告'},
                                {value:1548, name:'搜索引擎'},
                                {value:1548, name:'leihouchao'}
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                },
            },
            /*************************************************/
            ready:{
                waterFlow:false,
                order:false,
            }
        }
    },
    mounted(){
        /******************************************************/
        // 读取加盟商Id:allyId
        if(localStorage.hasOwnProperty('allyId') ){
            var allyId = localStorage.getItem("allyId");
            /************** 动态配置服务器版本 *******************/
            var myConfig = require('./myConfig.json')
            var versionType = myConfig.host.versionType;
            if(versionType == 'Test'){
                this.Host = myConfig.host.test_url;
            }else if(versionType == 'Formal'){
                this.Host = myConfig.host.Formal_url;
            }
            this.URL.order = this.Host + myConfig.franchiser.board.order + allyId + '&days=7'+ myConfig.franchiser.mode;
            this.URL.waterFlow = this.Host + myConfig.franchiser.board.waterFlow + allyId + '&days=7' + myConfig.franchiser.mode;
            this.URL.car = this.Host + myConfig.franchiser.board.car  + allyId + myConfig.franchiser.mode;
        }else{
            this.$router.push({path:"/WantAccess"});
            return;
        }
        /******************************************************/
        /**********************************************************/
        // 进度加载
        this.$Spin.show({
            render: (h) => {
                return h('div', [
                    h('Icon', {
                        'class': 'demo-spin-icon-load',
                        props: {
                            type: 'load-c',
                            size: 50
                        }
                    }),
                    h('div', '读取中...')
                ])
            }
        });
        /**********************************************************/
        // 读取数据
        this.readWaterFlowData();
        this.readOrderData();
        // this.readCarData();
        /******************************************************/
    },
    methods:{
        /********************** 与服务区交互 ***************************/
        // 读取 流水数据 
        readWaterFlowData(){
            var self = this;
            console.log("向 ",this.URL.waterFlow,'请求流水数据');
            this.$http.get(this.URL.waterFlow).then(function(res){
                res = res.body;
                console.log("流水数据: ",res);
                if(res.suc){
                    self.$Notice.success({
                        title:" 流水数据读取成功",
                    })
                    // 关闭加载条
                    self.ready.waterFlow = true;
                    if(self.ready.order) self.$Spin.hide();

                    var dayOrder = res.data.incomeDTO[0].data;
                    var sumOrder = res.data.incomeDTO[1].data;
                    var maxDayOrder = Math.max.apply(null, dayOrder);
                    maxDayOrder = self.help_getMax(maxDayOrder);
                    var maxSumOrder = Math.max.apply(null, sumOrder);
                    maxSumOrder = self.help_getMax(maxSumOrder);

                    /****************** 设置Option ***************************/
                    // 设置 日订单
                    self.options.waterFlowOption.yAxis[0].max = maxDayOrder;
                    self.options.waterFlowOption.yAxis[0].interval = maxDayOrder/5; 
                    self.options.waterFlowOption.series[0].data = dayOrder;
                    // 设置 总订单
                    self.options.waterFlowOption.yAxis[1].max = maxSumOrder;
                    self.options.waterFlowOption.yAxis[1].interval = maxSumOrder/5;     
                    self.options.waterFlowOption.series[1].data = sumOrder;
                    // 设置x轴
                    self.options.waterFlowOption.xAxis[0].data = res.data.dateDTO;
                    self.help_drawWaterFlow();
                }else{
                    self.$Notice.error({
                        title:" 流水数据读取失败",
                    })
                }
            }).catch(err => {
                self.$Notice.error({
                    title:" 流水数据读取 异常",
                })
                console.log("流水err: ",err);
            })
        },
        // 读取 订单数据 
        readOrderData(){
            var self = this;
            console.log("向 ",this.URL.order,'请求订单数据');
            this.$http.get(this.URL.order).then(function(res){
                res = res.body;
                console.log("读到订单数据: ",res);
                if(res.suc){
                    self.$Notice.success({
                        title:" 订单数据读取成功",
                    })
                    // 关闭加载条
                    self.ready.order = true;
                    if(self.ready.waterFlow) self.$Spin.hide();

                    var dayOrder =res.data.orderDTO[0].data;
                    var sumOrder =res.data.orderDTO[1].data;
                    var maxDayOrder = Math.max.apply(null, dayOrder);
                    maxDayOrder = self.help_getMax(maxDayOrder);
                    var maxSumOrder = Math.max.apply(null, sumOrder);
                    maxSumOrder = self.help_getMax(maxSumOrder);

                    /****************** 设置Option ***************************/
                    // 设置 日订单
                    self.options.orderOption.yAxis[0].max = maxDayOrder;
                    self.options.orderOption.yAxis[0].interval = maxDayOrder/5; 
                    self.options.orderOption.series[0].data = dayOrder;
                    // 设置 总订单
                    self.options.orderOption.yAxis[1].max = maxSumOrder;
                    self.options.orderOption.yAxis[1].interval = maxSumOrder/5;     
                    self.options.orderOption.series[1].data = sumOrder;
                    // 设置x轴
                    self.options.orderOption.xAxis[0].data = res.data.dateDTO;
                    // console.log( res.data.dateDTO);
                    self.help_drawTicket();
                }
                else{
                    self.$Notice.error({
                        title:" 订单数据读取失败",
                    })
                }
            }).catch(err => {
                self.$Notice.error({
                    title:" 订单数据读取 异常",
                })
                console.log("订单err: ",err);
            })
        },
        // 读取 车辆数据 
        readCarData(){
            var self = this;
            console.log("向 ",this.URL.car,'请求 车辆数据');
            this.$http.get(this.URL.car).then(function(res){
                res = res.body;
                console.log("读到车辆信息: ",res);
                if(res.suc){
                    self.$Notice.success({
                        title:"车辆信息读取成功",
                    })
                    /*************** 设置option ************************/
                    self.options.carOption.series[0].data = res.data;
                    var legendData = [];
                    for(var i = 0;i<res.data.length;i++){
                        legendData[i] = res.data[i].name;
                    }
                    self.options.carOption.legend.data = legendData;
                    self.help_drawCarInfo();
                }else{
                    self.$Notice.error({
                        title:"车辆信息读取失败",
                    })
                }
            }).catch(err => {
                self.$Notice.error({
                    title:"车辆信息读取 异常",
                })
                console.log("车辆err: ",err);
            })
        },
        /********************** 画图 **********************************/
        // 画流水数据 折线图
        help_drawWaterFlow(){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('waterFlowInfo'));
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(this.options.waterFlowOption);
        },
        // 画订单数据 折线图
        help_drawTicket(){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('ticketInfo'));
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(this.options.orderOption);
        },
        // 画车辆数据 饼图
        help_drawCarInfo(){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('carInfo'));
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(this.options.carOption);
        },
        /*******************************************************************/
        // 辅助函数 --> 返回合适的最大值
        help_getMax(num){
            num = parseInt(num);
            var numStr = num.toString();
            var len = numStr.length;
            if(len > 1){
                var max = parseInt(numStr[0]);
                var second = parseInt(numStr[1]);
                if(second >= 5){
                    second = 0;
                    max += 1;
                }else{
                    second = 5;
                }
                max = max * Math.pow(10,len-1) + second * Math.pow(10,len-2);
                return max;
            }else{
                return 10;
            }
        },
    }
}
</script>

<style scoped>
/************ 加载条 ***********************************/
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
/***************************************/
.board{
    width:100%;
    height: 100%;
    color:#c1c1c1; 
    font-size:30px;

    /* overflow-x:hidden; */
}
</style>

