<template>
    <div class="layout" name='mainbox' style="background: white url(http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_back.png) repeat-y fixed top">
        <!-- 大屏:fixed -->
        <div v-if="PermissionCtr.showScreen"
            v-bind:style="{'width':screenWidth,'height':screenHeight,'position':'fixed'}">
            <!-- 测试版 -->
            <iframe v-if="screenVersion" frameborder=0 style="width:100%;height:100%;overflow:hidden;"
                src='https://datav.aliyun.com/share/f5942bad79758b0cd8bea1e1e9f7164d'></iframe>
            <!-- 正式版 -->
            <iframe v-else frameborder=0 style="width:100%;height:100%;overflow:hidden;"
                src='https://datav.aliyun.com/share/391afa493782d14cca11659e48d5e928'></iframe>
        </div>
        <!-- 上边栏: 电曹操共享运营平台 -->
        <div v-if="speed.upBar" 
            style="position:fixed;
                    top:0; left:0;
                    width:100%; height:100px;
                    display:flex;
                    z-index:100000;
                    background:rgba(0,0,0,0);
                    ">
            <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_caocao.png" 
                 style="width:70px; height:70px;margin-left:5%;margin-top:0.3%;"/>
            <div style="width:50%;height:100%;text-align:left;margin-top:1%;">
                <span style="font-size:20px;color:#1FC3A4;margin-left:4%;">恒基共享</span>
                <br>
                <span style="font-size:20px;color:white;margin-left:4%;">电曹操运营平台</span>
            </div>
            <!-- 退出登陆 -->
            <Dropdown style="
                    width:25px; height:25px;
                    position:fixed;
                    right:30px; top:10px;
                    cursor:pointer;"
                    @on-click="Logout()">
                <Icon type="navicon-round" size="30" color="#495060"></Icon>
                <Dropdown-menu slot="list" style="margin-top:-5px;margin-bottom:-5px;margin-left:-50px;">
                    <Dropdown-item style="background:#272938; color:white;width:100px;height:40px;display:flex;">
                        <div style="color:white;font-size:15px;">
                            <Icon type="power" size="20"></Icon>
                            退出登陆
                        </div>
                    </Dropdown-item>
                </Dropdown-menu>
            </Dropdown>
        </div>
        <!-- 侧边: 箭头按钮 -->
        <div v-if="speed.arrowBar" 
             style="position:fixed;
                    z-index:100000;
                    top:300px; left:0;
                    width:30px; height:45px;
                    cursor:pointer;" 
                @click="click_handler()"
             >
            <Icon name = "arrow" type="chevron-right" size = "40" 
                    style=" color:white; height:100%;width:100%;"></Icon>
        </div>
        <!-- 左下栏: 功能选择区-->
        <div v-if="siderCtr.visiable" class="leftLanCss">
            <div style="width:100%;height:100%;background:#272938; ">
                <!-- 运营大屏 -->
                <div v-if="!PermissionCtr.isFranchiser" v-bind:style="{'background':itemColorCtr.homePageColor}" class="itemCss" @click="funcChose('运营大屏')">   
                        <div style="padding-top:5%;" >运营大屏</div>
                </div>
                <!-- 运营地图 -->
                <div v-if="!PermissionCtr.isFranchiser" v-bind:style="{'background':itemColorCtr.carColor}" class="itemCss" @click="funcChose('运营地图')">    
                        <div style="padding-top:5%;" >运营地图</div>
                </div>
                <!-- 用户工单 -->
                <div v-if="!PermissionCtr.isFranchiser" v-bind:style="{'background':itemColorCtr.userColor}" class="itemCss" @click="funcChose('用户工单')">     
                    <div style="padding-top:5%;" >用户工单</div>
                </div>

                <!-- 加盟商看板 -->
                <div v-if="PermissionCtr.isFranchiser" v-bind:style="{'background':itemColorCtr.boardColor}" class="itemCss" @click="funcChose('加盟商看板')">        
                    <div style="padding-top:5%;" >加盟商看板</div>
                </div>
                <!-- 加盟商 车辆列表 -->
                <div v-if="PermissionCtr.isFranchiser" v-bind:style="{'background':itemColorCtr.boardCarColor}" class="itemCss" @click="funcChose('车辆列表')">        
                    <div style="padding-top:5%;" >车辆列表</div>
                </div>
                
                <!-- 后台配置  -->
                <Dropdown v-if="!PermissionCtr.isFranchiser" class="dropdownCss" placement="right" @on-click="configItemChoose">
                    后台配置
                    <Icon type="arrow-right-b" style="margin-left:10%;"></Icon>
                    <DropdownMenu slot="list" class="dropDownMenuCss">
                        <DropdownItem name="报修项配置" class="dropdownItemCss">报修项设置</DropdownItem>
                        <DropdownItem name="计费配置" class="dropdownItemCss">计费配置</DropdownItem>
                        <DropdownItem name="帮助页配置" class="dropdownItemCss">帮助页配置</DropdownItem>
                        <DropdownItem name="其他配置" class="dropdownItemCss">其他配置</DropdownItem>
                        <!-- <DropdownItem name="押金配置" class="dropdownItemCss">押金配置</DropdownItem> -->
                    </DropdownMenu>
                </Dropdown>
                <!-- 电子围栏  -->
                <Dropdown v-if="!PermissionCtr.isFranchiser" class="dropdownCss"  placement="right" @on-click="fenceItemChoose">
                    电子围栏
                    <Icon type="arrow-right-b" style="margin-left:10%;"></Icon>
                    <DropdownMenu slot="list"  class="dropDownMenuCss">
                        <DropdownItem name="租还围栏" class="dropdownItemCss">服务区围栏</DropdownItem>
                        <DropdownItem name="行驶围栏" class="dropdownItemCss">停车点围栏</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
                <!-- 权限管理  -->
                <Dropdown v-if="PermissionCtr.isAdmin && !PermissionCtr.isFranchiser" class="dropdownCss" placement="right" @on-click="permissionItemChoose">
                    权限管理
                    <Icon type="arrow-right-b" style="margin-left:10%;"></Icon>
                    <DropdownMenu slot="list" class="dropDownMenuCss">
                        <DropdownItem name="管理员" class="dropdownItemCss">管理员</DropdownItem>
                        <DropdownItem name="运营" class="dropdownItemCss">运营</DropdownItem>
                        <DropdownItem name="运维" class="dropdownItemCss">运维</DropdownItem>
                        <DropdownItem name="生产" class="dropdownItemCss">生产</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
                <!-- 车辆信息4 -->
                <Dropdown v-if="!PermissionCtr.isFranchiser" class="dropdownCss" placement="right" @on-click="uplodeItemChoose">
                    车辆信息
                    <Icon type="arrow-right-b" style="margin-left:10%;"></Icon>
                    <DropdownMenu slot="list"  class="dropDownMenuCss">
                        <DropdownItem name="快速生成" class="dropdownItemCss">快速生成</DropdownItem>
                        <DropdownItem name="批量导入" class="dropdownItemCss">批量导入</DropdownItem>
                        <DropdownItem name="批量导出" class="dropdownItemCss">批量导出</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
                <!-- 加盟商管理 -->
                <Dropdown v-if="!PermissionCtr.isFranchiser" class="dropdownCss" placement="right" @on-click="Franchiser">
                    加盟商管理
                    <Icon type="arrow-right-b" style="margin-left:10%;"></Icon>
                    <DropdownMenu slot="list"  class="dropDownMenuCss">
                        <DropdownItem name="人员管理" class="dropdownItemCss">人员管理</DropdownItem>
                        <DropdownItem name="车辆分配" class="dropdownItemCss">车辆分配</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </div>               
        </div>

        <!-- 右下栏: 各个页面展示 -->
        <div class="rightLanCss" v-if="!PermissionCtr.showScreen"
             v-bind:style="{
                            'width': siderCtr.rightPartWidth,
                            'margin-left':siderCtr.rightPartMargin,  
                            'height': siderCtr.height,
                            }" >
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            /************* 加速测试 *********************************/
            speed:{
                upBar:false,
                arrowBar:false,
            },
            /********** 箭头切换,控制功能区的显示 ********************/
            siderCtr:{
                visiable:false,              // 控制左边功能栏是否显示
                dir:'right',                 // 箭头的方向
                rightPartWidth:"80%",        // 右边部分的宽度
                rightPartMargin:'0%',        // 右边部分的margin
                clickable:true,              // 箭头是否允许点击

                height:'calc( 100% - 100px )',
            },
            /************** 大屏变量 ********************************/
            screenVersion :true,  // 默认是测试版
            screenWidth   :'100%',
            screenHeight  :"100%",
            /********** 功能区颜色控制 *******************************/
            itemColorCtr:{
                gray :"#272938",
                light:"#30314b",

                homePageColor:"#272938",
                carColor:"#272938",
                userColor:"#272938",
                boardColor:"#272938",
                boardCarColor:"#272938",
            },
            /*********** 根据权限显示相关item *************************/
            PermissionCtr:{
                showScreen: false,
                // 是否 admin身份登陆
                isAdmin:false,        
                // 是否 加盟商身份登陆
                isFranchiser:false,        
            },
        }
    },
    mounted:function(){
        /********** 测试加速 *************************/
        this.speedUp();
        /**************** 检查权限: 管理员,运营,加盟商可进 ***********************/ 
        if(localStorage.hasOwnProperty('USER_LEVEL') ){
            var level = localStorage.getItem("USER_LEVEL");
            // 管理员
            if(level == 1){
                this.PermissionCtr.isAdmin = true;
                this.PermissionCtr.isFranchiser = false;
            }
            // 运营
            else if(level == 2){
                this.PermissionCtr.isAdmin = false;
                this.PermissionCtr.isFranchiser = false;
            }
            // 加盟商
            else if(level == -1){
                this.PermissionCtr.isAdmin = false;
                this.PermissionCtr.isFranchiser = true;
            }
            // 其他
            else{
                console.log("生产和运维禁止进入...");
                this.$router.push({path:"/WantAccess"});
                return;
            }
            console.log("权限是: ",level);
        }else{
            console.log("非注册用户...");
            this.$router.push({path:"/WantAccess"});
            return;
        }
        /************** 动态配置服务器版本 ********************************************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.screenVersion = true;
        }else if(versionType == 'Formal'){
            this.screenVersion = false;
        }
        /***************************************************************************/
        // 根据浏览器的宽度 更新大屏尺寸
        var self = this;
        var test = function(){
            self.screenWidth = window.innerWidth + 'px';
            self.screenHeight = window.innerWidth/2.04 + 'px';

            self.siderCtr.height = (window.innerHeight - 100) + 'px';
        }
        window.onresize = test;
        test();
        /*********************************************************************/
        // 管理员刷新
        if(this.PermissionCtr.isFranchiser == false){
            if(!localStorage.hasOwnProperty('curPage') ){
                localStorage.setItem("curPage",'运营大屏');
            }                
            var curPage = localStorage.getItem("curPage");
            // 管理员页面防错处理
            if(curPage == "车辆列表" || curPage == "加盟商看板") {
                curPage = '运营大屏';
                localStorage.setItem("curPage",curPage);
            }

            this.siderCtr.visiable = true;
            if(curPage == '运营大屏' || curPage == '运营地图' || curPage == '用户工单' ) this.funcChose(curPage);
            else this.ItemChoose(curPage);
        } 
        // 加盟商刷新
        else{
            this.siderCtr.visiable = true;
            // 读取缓存
            if(!localStorage.hasOwnProperty('curPage') ){
                localStorage.setItem("curPage",'加盟商看板');
            }                
            // 加盟商页面防错处理
            var curPage = localStorage.getItem("curPage");
            if(curPage != "车辆列表" && curPage != "加盟商看板") {
                curPage = '加盟商看板';
                localStorage.setItem("curPage",curPage);
            }
            this.funcChose(curPage);
        }
      
    },
    methods:{
        /*********** 页面功能逻辑**********************/
        // 辅助函数 --- 测试加速
        speedUp(){
            this.speed.upBar = true;
            this.speed.arrowBar = true;
        },    
        // 辅助函数----调整右边的宽度与设置箭头是否允许点击
        help_adjustWidth(param){
            // 全屏
            if(param == 'fullScreen'){
                // 1,调整宽度与margin
                this.siderCtr.rightPartWidth = '100%';
                this.siderCtr.rightPartMargin = '0px';
                // 2,设置 允许点击箭头
                this.siderCtr.clickable = true;
            }
            // 非全屏
            else{
                // 1,调整宽度与margin
                this.siderCtr.rightPartWidth = 'calc(100% - 200px)';
                this.siderCtr.rightPartMargin = '200px';
                // 2,设置 禁止点击箭头
                this.siderCtr.clickable = false;
            }
        },
        //  展开或隐藏功能栏
        click_handler(){
            // 在除运营大屏,运营地图页面之外的页面,不允许隐藏功能区
            if(this.siderCtr.clickable == false) return;
            // 展开功能栏
            if(this.siderCtr.dir == 'right'){
                try {
                    // 1,显示功能栏
                    this.siderCtr.visiable = true;
                    // 2,改变箭头的方向
                    this.siderCtr.dir = 'left'
                    var dots = document.getElementsByName("arrow");
                    var dot = dots[0];
                    dot.className = "ivu-icon ivu-icon-chevron-left";
                } catch (error) {
                }
            }
            // 隐藏功能栏
            else if(this.siderCtr.dir == 'left'){
                try {
                    // 1,隐藏功能栏
                    this.siderCtr.visiable = false;
                    // 2,改变箭头的方向
                    this.siderCtr.dir = 'right'
                    var dots = document.getElementsByName("arrow");
                    var dot = dots[0];
                    dot.className = "ivu-icon ivu-icon-chevron-right";
                } catch (error) {
                }
            }
        },
        /*********** 弹框选择 ************************/
        // 后台配置
        configItemChoose(name){
            // 1,调整右边的宽度与margin
            this.help_adjustWidth('notFullScreen');
            // this.help_adjustHeight(800);
            // 2,隐藏大屏显示
            this.PermissionCtr.showScreen = false;
            // 3,设置颜色
            this.resetColor();
            // 4,页面跳转
            if(name == "报修项配置"){
                this.$router.push({path:"/faultCfg"});
            }else if(name == "计费配置"){
                // this.help_adjustHeight(1100);
                this.$router.push({path:"/computeCost"});
            }else if(name == "其他配置"){
                this.$router.push({path:"/telConfig"});
            }else if(name == "押金配置"){
                this.$router.push({path:"/depositeConfig"});
            }else if(name == "帮助页配置"){
                this.$router.push({path:"/helpPageConfig"});
            }
            // 5,记录当前页面
            localStorage.setItem("curPage",name);
         },
        // 电子围栏
        fenceItemChoose(name){
            // 1,调整右边的宽度与margin
            this.help_adjustWidth('notFullScreen');
            // this.help_adjustHeight(800);
            // 2,隐藏大屏显示
            this.PermissionCtr.showScreen = false;
            // 3,设置颜色
            this.resetColor();
            if(name == "租还围栏"){
                this.$router.push({path:"/rentalFance"});
            }else if(name == "行驶围栏"){
                this.$router.push({path:"/travelFance"});
            }
            // 4,记录当前页面
            localStorage.setItem("curPage",name);
         },
        // 权限管理
        permissionItemChoose(name){
            // 1,调整右边的宽度与margin
            this.help_adjustWidth('notFullScreen');
            // this.help_adjustHeight(800);
            // 2,隐藏大屏显示
            this.PermissionCtr.showScreen = false;
            // 3,设置颜色
            this.resetColor();
            if(name == "管理员"){
                this.$router.push({path:"/addadmin"});
            }else if(name == "运营"){
                this.$router.push({path:"/addbusiness"});
            }else if(name == "生产"){
                this.$router.push({path:"/addproduct"});
            }else if(name == "运维"){
                this.$router.push({path:"/addoperation"});
             }
            // 4,记录当前页面
            localStorage.setItem("curPage",name);
         },
        // 车辆信息录入
        uplodeItemChoose(name){
            // 1,调整右边的宽度与margin
            this.help_adjustWidth('notFullScreen');
            // this.help_adjustHeight(800);
            // 2,隐藏大屏显示
            this.PermissionCtr.showScreen = false;
            // 3,设置颜色
            this.resetColor();
            if(name == "批量导入"){
                this.$router.push({path:"/uploadFile"});
            }else if(name == '快速生成'){
                this.$router.push({path:"/batchUpload"});
            }else if(name == '批量导出'){
                this.$router.push({path:"/downLoadFile"});
            }
            // 4,记录当前页面
            localStorage.setItem("curPage",name);
         },
        // 加盟商管理
        Franchiser(name){
            // 1,调整右边的宽度与margin
            this.help_adjustWidth('notFullScreen');
            // this.help_adjustHeight(800);
            // 2,隐藏大屏显示
            this.PermissionCtr.showScreen = false;
            // 3,设置颜色
            this.resetColor();
            if(name == "车辆分配"){
                this.$router.push({path:"/newCarAllocate"});
            }else if(name == '人员管理'){
                this.$router.push({path:"/addFranchiser"});
            }
            // 4,记录当前页面
            localStorage.setItem("curPage",name);
        },
        /******* 汇总: 弹框选择 *************************/
        ItemChoose(name){
            // 1,调整右边的宽度与margin
            this.help_adjustWidth('notFullScreen');
            // 2,隐藏大屏显示
            this.PermissionCtr.showScreen = false;
            // 3,设置颜色
            this.resetColor();
            // 4,页面跳转
            if(name == "报修项配置"){
                this.$router.push({path:"/faultCfg"});
            }else if(name == "计费配置"){
                this.$router.push({path:"/computeCost"});
            }else if(name == "其他配置"){
                this.$router.push({path:"/telConfig"});
            }else if(name == "押金配置"){
                this.$router.push({path:"/depositeConfig"});
            }else if(name == "帮助页配置"){
                this.$router.push({path:"/helpPageConfig"});
            }else if(name == "租还围栏"){
                this.$router.push({path:"/rentalFance"});
            }else if(name == "行驶围栏"){
                this.$router.push({path:"/travelFance"});
            }else if(name == "管理员"){
                this.$router.push({path:"/addadmin"});
            }else if(name == "运营"){
                this.$router.push({path:"/addbusiness"});
            }else if(name == "生产"){
                this.$router.push({path:"/addproduct"});
            }else if(name == "运维"){
                this.$router.push({path:"/addoperation"});
            }else if(name == "批量导入"){
                this.$router.push({path:"/uploadFile"});
            }else if(name == '快速生成'){
                this.$router.push({path:"/batchUpload"});
            }else if(name == '批量导出'){
                this.$router.push({path:"/downLoadFile"});
            }else if(name == "车辆分配"){
                this.$router.push({path:"/newCarAllocate"});
            }else if(name == '人员管理'){
                this.$router.push({path:"/addFranchiser"});
            }
            // 5,记录当前页面
            localStorage.setItem("curPage",name);
        },
        /********************************************/
        // 颜色清空
        resetColor(){
            this.itemColorCtr.homePageColor = this.itemColorCtr.gray;
            this.itemColorCtr.carColor      = this.itemColorCtr.gray;
            this.itemColorCtr.userColor     = this.itemColorCtr.gray;
            this.itemColorCtr.boardColor    = this.itemColorCtr.gray;
            this.itemColorCtr.boardCarColor = this.itemColorCtr.gray;
        },
        // 左侧边栏功能选择
        funcChose(name){
            // 1,清空颜色
            this.resetColor();
            // this.help_adjustHeight(650);      // 设置屏幕高度为 800px;
            // 2,页面跳转
            // 大屏页面
            if(name == '运营大屏'){
                // 2,设置颜色
                this.itemColorCtr.homePageColor = this.itemColorCtr.light;
                // 3,页面跳转
                this.$router.push({path:"/Main"}); 
                // 4,隐藏功能栏
                this.siderCtr.visiable = false;
                // 5,允许 点击箭头
                this.siderCtr.clickable = true;
                this.PermissionCtr.showScreen = true;
             }
            // 新的 运营地图页面
            else if(name == '运营地图'){
                this.itemColorCtr.carColor = this.itemColorCtr.light;
                // 1,跳转到新的运营地图页面
                this.$router.push({path:"/newCarManager"}); 
                // 2,隐藏功能栏
                this.siderCtr.visiable = false;
                // 3,改变箭头的方向
                // this.siderCtr.dir = 'right';
                // 5,调整右边的宽度与margin
                this.help_adjustWidth('fullScreen');
                this.siderCtr.clickable = true;
                this.PermissionCtr.showScreen = false;
             }
            // 新的 用户工单
            else if(name == '用户工单'){
                this.itemColorCtr.userColor = this.itemColorCtr.light;

                // 1,跳转到 用户管理页面
                this.$router.push({path:"/newUserList"});
                // 2,调整右边的宽度与margin
                this.help_adjustWidth('notFullScreen');
                this.PermissionCtr.showScreen = false;
             }
            // 加盟商看板: 设置屏幕高度为 850px;
            else if(name == '加盟商看板'){
                this.itemColorCtr.boardColor = this.itemColorCtr.light;
                // this.help_adjustHeight(850);
                // 1,跳转到 加盟商看板
                this.$router.push({path:"/FranchiserBoard"});
                // 2,调整右边的宽度与margin
                this.help_adjustWidth('notFullScreen');
                this.PermissionCtr.showScreen = false;
             }
            // 加盟商 车辆列表
            else if(name == '车辆列表'){
                this.itemColorCtr.boardCarColor = this.itemColorCtr.light;
                
                // 1,跳转到 加盟商看板
                this.$router.push({path:"/FranchiserCars"});
                // 2,调整右边的宽度与margin
                this.help_adjustWidth('notFullScreen');
                this.PermissionCtr.showScreen = false;
             } 
            // 加盟商 车辆列表
            else if(name == '加盟商订单列表'){
                this.itemColorCtr.boardCarColor = this.itemColorCtr.light;

                // 1,跳转到 加盟商看板
                var imei =  localStorage.getItem("imei");
                this.$router.push({path:"/orderList",query: {deviceId: imei}});
                // 2,调整右边的宽度与margin
                this.help_adjustWidth('notFullScreen');
                this.PermissionCtr.showScreen = false;
             }
            
            // 3,记录当前页面
            localStorage.setItem("curPage",name);
        },
        
        /************ 退出登陆 ************************/
        Logout(){
            this.$Message.success("成功退出");
            localStorage.removeItem("AUTHED_TEL");
            localStorage.removeItem("USER_LEVEL");
            localStorage.removeItem("Franchiser_TEL");
            localStorage.removeItem("allyId");
            this.$router.push({path:"/"});
        },
    },
}
</script>
<style scoped>
/********** 总的外面的盒子的CSS ***********************************/
.layout{
    width : 100%;
    height: 100%;
    /* margin-top:-100px; */
    border:0.1px solid black;
}
/************* 左边栏功能区 **************************************/
.leftLanCss{
    width : 170px; 
    height: calc( 100% - 100px ); 
    position:fixed;
    top:100px; 
    left:30px;
    z-index:100000;
}
/************* 右边栏的CSS ***************************************/
.rightLanCss{
    width : calc( 100% - 200px );
    margin-top:100px; 
    margin-left:200px;
}
/* 单项的css配置 */
.itemCss{
    width:100%;height:60px;

    font-size:20px; color:white;
    text-align:center;
    cursor:pointer;
    border:1px solid #272938 ;

    display: flex;
    justify-content: center;
    align-items: center;
    
    white-space: nowrap;  /* 不换行 */
}
/* Dropdown的css配置 */
.dropdownCss{
    width:150px; height:60px;
    padding-top:8%;

    font-size:20px; color:white;
    cursor:pointer;
    background:#272938;
    white-space: nowrap;  /* 不换行 */
}
/* Dropdown的item的css配置 */
.dropdownItemCss{
    background:#272938;
    color:white;
    /* margin-left:10px; */

    width:100%;
    border-bottom:1px solid #495060;
}
.dropDownMenuCss{
    margin-top:-5%;
    margin-bottom:-5%;
    background:#272938;
}
.dropdownItemCss:hover{
    background-color: #30314b;
}
</style>
