<template>
    <div style="height:760px;position:relative;">
        <!-- 地图展示 -->
        <div id="container" ></div>  
        <!-- 设备信息 -->
        <div v-if="false" 
            style="
                width:35%; height: 23%;
                position:absolute; top:5%; 
                left:5%;
                background-color:#3e3d3b;
                opacity:0.9;
                border-radius:10%;
                ">
            <!-- 代理商ID,设备号 #bbbec4;-->
            <div style="
                color:#fff;    
                text-align:left;
                font-size:15px;
                margin-top:2%;
                margin-left:4%;            
                ">设备号： {{devInfo.deviceID}}</div>
            <!-- 车辆状态 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                margin-top:2%;
                margin-left:4%; 
                display:flex;     
                ">
                <span>车辆状态：</span>
                <div  v-bind:style="{
                        'width': '15%',
                        'height':'10px',
                        'margin-left':'5%',
                        'border-radius':'5px',
                        'margin-top':'1%',
                        'background-color':devInfo.deviceStateColor,       
                    }"></div>
                <span v-bind:style="{
                    'margin-left': '2%' ,
                    'color':devInfo.deviceStateColor
                    }">{{devInfo.deviceState}}</span>
            </div>
            <!-- 车辆电门/电仓/设防 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                height:20%;
                margin-top:2%;
                margin-left:4%; 
                display:flex;  
                width:96%;  
                ">
                <span style="font-size:15px;">车辆电门/电仓/设防状态：</span>
                <!-- 电门开 -->
                <div v-if="devInfo.switch"
                    style="
                    width:60px;height:20px;
                    background:white;
                    border-radius:15px;
                    display:flex;
                    ">
                    <div style="height:100%;width:30%;border-radius:100%;
                                background:#9b5afc
                                "></div>
                    <span style="color:#9b5afc;margin:auto;font-size:12px;">电门开</span>
                </div>
                <!-- 电门关 -->
                <div v-else
                    style="
                        width:60px;height:20px;
                        background:white;
                        border-radius:15px;
                        display:flex;
                        ">
                        <!-- 圆球 -->
                        <span style="color:#a0a0a0;margin:auto;font-size:12px;">电门关</span>
                        <div style="height:100%;width:30%;border-radius:100%;
                                    background:#a0a0a0
                                "></div>
                </div>
                <!-- 电仓开 -->
                <div v-if="devInfo.batteryCompartment"
                    style="
                    width:60px;height:20px;
                    background:white;
                        margin-left:2%;
                        border-radius:15px;
                        display:flex;
                        ">
                        <div style="height:100%;width:30%;border-radius:100%;
                                    background:#9b5afc
                                    "></div>
                        <span style="color:#9b5afc;margin:auto;font-size:12px;">电仓开</span>
                </div>
                <!-- 电仓关 -->
                <div v-else 
                    style="
                    width:60px;height:20px;
                    background:white;
                    margin-left:2%;
                    border-radius:15px;
                    display:flex;
                    ">
                    <!-- 圆球 -->
                    <span style="color:#a0a0a0;margin:auto;font-size:12px;">电仓关</span>
                    <div style="height:100%;width:30%;border-radius:100%;
                                background:#a0a0a0
                                "></div>
                </div>
                <!-- 已设防 -->
                <div v-if="devInfo.defend"
                    style="
                    width:60px;height:20px;
                    background:white;
                    margin-left:2%;
                    border-radius:15px;
                    display:flex;
                    ">
                    <div style="height:100%;width:30%;border-radius:100%;
                                background:#9b5afc
                                "></div>
                    <span style="color:#9b5afc;margin:auto;font-size:12px;">已设防</span>
                </div>
                <!-- 未设防 -->
                <div v-else
                    style="
                    width:60px;height:20px;
                    background:white;
                    margin-left:2%;
                    border-radius:15px;
                    display:flex;
                    ">
                    <!-- 圆球 -->
                    <span style="color:#a0a0a0;margin:auto;font-size:12px;">未设防</span>
                    <div style="height:100%;width:30%;border-radius:100%;
                                background:#a0a0a0
                                "></div>
                </div>
            </div>
            <!-- 后轮锁状态 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                height:20%;
                margin-top:2%;
                margin-left:4%; 
                display:flex;  
                width:96%;  
                ">
                <span style="font-size:15px;">后轮锁状态：</span>
                <!-- 电门开 -->
                <div v-if="devInfo.backWheelLock"
                    style="
                    width:100px;height:20px;
                    background:white;
                    border-radius:15px;
                    margin-left:10px;
                    display:flex;
                    ">
                    <div style="height:20px;width:20px;border-radius:100%;
                                background:#9b5afc
                                "></div>
                    <span style="color:#9b5afc;margin:auto;font-size:12px;">后轮锁已开</span>
                </div>
                <!-- 电门关 -->
                <div v-else
                    style="
                        width:100px;height:20px;
                        background:white;
                        border-radius:15px;
                        margin-left:10px;
                        display:flex;
                        ">
                        <!-- 圆球 -->
                        <span style="color:#a0a0a0;margin:auto;font-size:12px;">后轮锁已关</span>
                        <div style="height:20px;width:20px;border-radius:100%;
                                    background:#a0a0a0
                                "></div>
                </div>
            </div>
            <!-- 自动设防间隔;
            <div style="
                color:#fff;    
                text-align:left;
                font-size:15px;
                margin-left:4%;            
                ">自动设防间隔： {{devInfo.autoLockPeriod}}</div> -->
        </div>
        <!-- 工单信息 rawData.hasOR -->
        <div v-if="false"
            style="
                width:35%; height: 23%;
                position:absolute; top:29%; 
                left:5%;
                background-color:#3e3d3b;
                opacity:0.9;
                border-radius:10%;
                ">
            <!-- 报修时间 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                margin-top:2%;
                margin-left:4%;            
                ">报修时间：{{ticketInfo.reportTime}}</div>
            <!-- 车辆号,闭合工单 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                margin-top:2%;
                margin-left:4%;    
                display:flex;      
                position:relative; 
                ">车辆号：
                <!-- 145236852145226 -->
                {{ticketInfo.ebikeNO}}
                <div
                    v-if="ticketFinished"
                    style="
                    position:absolute;
                    width:130px; height:25px;
                    top:0%; right:10%;
                    border-radius:25px;
                    display:flex;  
                    background:white; 
                    cursor:pointer;
                    ">
                    <div style="
                         width:25px; height:25px;
                         background:gray;
                         border-radius:25px;
                        "> </div>
                    <!-- 已处理 -->
                    <span style="margin-left:5%;margin-top:2%;width:70%;color:gray;font-size:12px;">关闭工单/已处理</span>
                </div>
                <div
                    v-else
                    style="
                    position:absolute;
                    width:130px; height:25px;
                    top:0%; right:10%;
                    border-radius:25px;
                    display:flex;  
                    background:white; 
                    color:#9b5afc;
                    cursor:pointer;
                    " @click="finishTicket()">
                    <!-- 去关闭工单 -->
                    <span style="margin-left:25%;margin-top:2%;width:70%;font-size:12px;">关闭工单</span>
                    <div style="
                        width:25px; height:25px;
                        background:#9b5afc;
                        margin-left:-5%;
                        border-radius:25px;
                    "> </div>
                </div>
                
                </div>
            <!-- 修理人/修理时间 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                margin-top:2%;
                margin-left:4%;            
                ">修理人/修理时间：{{ticketInfo.fixMan}} / {{ticketInfo.fixedTime}}</div>
            <!-- 工单类型/状态 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                margin-top:2%;
                margin-left:4%; 
                display:flex;     
                ">
                <span>工单类型/状态：</span>
                <div  v-bind:style="{
                        'width': '15%',
                        'height':'10px',
                        'margin-left':'5%',
                        'border-radius':'5px',
                        'margin-top':'1%',
                        'background-color':ticketInfo.fixStateColor,       
                    }"></div>
                <span v-bind:style="{
                    'margin-left': '2%' ,
                    'color':ticketInfo.fixStateColor
                    }">{{ticketInfo.fixState}}</span>
            </div>
            <!-- 故障原因 -->
            <div style="
                color:#fff;
                text-align:left;
                font-size:15px;
                margin-top:2%;
                margin-left:4%; 
                display:flex;     
                ">
                <span>故障原因：</span>
                <div  v-bind:style="{
                        'width': '15%',
                        'height':'10px',
                        'margin-left':'5%',
                        'border-radius':'5px',
                        'margin-top':'1%',
                        'background-color':ticketInfo.faultTypeColor,       
                    }"></div>
                <span v-bind:style="{
                    'margin-left': '2%' ,
                    'color':ticketInfo.faultTypeColor
                    }">{{ticketInfo.faultType}}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /********** 设备信息 ****************/
            devInfo:{
                "agentID":"123456789",
                "deviceID":"123456789",
                "deviceState":"报修",
                "deviceStateColor":"#f25e2b",
                "switch":false,
                "batteryCompartment":true,
                "defend":true,
                "backWheelLock":false,
                "autoLockPeriod":"5",
            },
            /********** 工单信息 ****************/
            ticketInfo:{
                "reportTime":"2014-08-22 09:20",
                "ebikeNO":"1259786",
                "fixMan":"康师傅",
                "fixedTime":"2017-08-22 09:25",
                "fixState":"维修/维修中",
                "fixStateColor":"#f25e2b",
                'faultType':'低电压',
                'faultTypeColor':'#f25e2b',
                "ticketNo":0,
            },
            rawData:{
                "hasOR":true,
                "rawData":null,
            },
            /*********************************************************/
            // 默认工单没有结束
            ticketFinished: false,
            Host:null,
            // 地图
            map:"",
            circle:"",
            /**********************************************************/
            // 故障类型对应表
            fixFaultMap:{
            },
        }
    },
    mounted:function(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        /***************************************************/
        var param = window.location.href;
        var tmp = param.split('=')[1];
        tmp = decodeURIComponent(tmp);
        var rawData = JSON.parse(tmp);
        console.log("收到工单: ",rawData);
      
        this.readFixFault(rawData);
    },
    methods:{
        /*******************************************************/
        // 读取已有故障类型
        readFixFault(rawData){
            var self = this;
            var url = this.Host + "/ebike/device/eFixReason";
            this.$http.get(url).then(function(suc){
                suc = suc.body;
                if(suc.suc == true){
                    for(var i = 0;i<suc.data.length;i++){
                        self.fixFaultMap[suc.data[i].type] = suc.data[i].name;
                    }
                    console.log("故障: ",self.fixFaultMap);
                    self.initMyParam(rawData);
                }else{
                }
            }).catch(err=>{
            })
        },
        initMyParam(rawData){
            // 根据传过来的信息设置 设备信息 和 工单信息
            this.updateDevInfo(rawData);
            if(rawData.hasOR == 0){
                this.rawData.hasOR = false;
            }else{
                this.rawData.hasOR = rawData.hasOR;
                this.updateTicketInfo(rawData);
            }
            this.rawData.rawData = rawData.rawData;
            this.initMap(rawData);
        },
        /******************** 页面逻辑 *****************************/
        initMap(rawData){
            var self = this;
            self.map = new AMap.Map('container',{
                    mapStyle: 'amap://styles/7ff74f54c1e36a03a20d0bd77f6120d3' // 极夜黑
                }
            );

            // 设置分辨率
            self.map.setZoom(15);     // 俯瞰全国
            // var place = [114.430857,30.508989];
            console.log("init的数据:",rawData);
            var place = []
            if(rawData.rawData.device.lat == '' || rawData.rawData.device.lng == ''){
                 place = [114.430857,30.508989];
            }else{
                place = [parseFloat(rawData.rawData.device.lng),
                         parseFloat(rawData.rawData.device.lat)];
            } 
            console.log("place: ",place)
           
            // 设置中心点
            self.map.setCenter(place);
            // 添加基本组件
            // AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
            //     function(){
            //         self.map.addControl(new AMap.ToolBar());  // 添加工具条:缩放,平移
            //         self.map.addControl(new AMap.Scale());    // 添加比例尺:显示缩放比例尺
            //         //添加缩略图:右下角有一个缩略图
            //         self.map.addControl(new AMap.OverView({isOpen:true})); 
            // });

            // 添加圆圈
            self.circle = new AMap.Circle({
                center: place,
                radius: 100,
                fillOpacity:0.2,
                strokeWeight:1
            });
            self.circle.setMap(self.map);

            // 添加标记点
            var marker = new AMap.Marker({
                position:place,//marker所在的位置
            });
            marker.setMap(self.map);
            
            self.map.setFitView();
        },
        // 更新设备信息
        updateDevInfo(rawData){
            rawData = rawData.rawData;
            this.devInfo.agentID = rawData.device.agentId;
            this.devInfo.deviceID = rawData.device.imei;
            this.devInfo.deviceState = "正常";
            this.devInfo.deviceStateColor = "#8ec41d";
            if(rawData.device.state == '2'){
                this.devInfo.deviceState = "骑行中";
                this.devInfo.deviceStateColor = "#26f7fc";
            }else if(rawData.device.state == '3'){
                this.devInfo.deviceState = "维修";
                this.devInfo.deviceStateColor = "#f25e2b";
            }else if(rawData.device.state == '6'){
                this.devInfo.deviceState = "异常";
                this.devInfo.deviceStateColor = "#fcfe04";
            }
            this.devInfo.switch = true;
            if(rawData.device.acc == '0') this.devInfo.switch = false;
            this.devInfo.batteryCompartment = true;
            if(rawData.device.batteryLock == '0') this.devInfo.batteryCompartment = false;
            this.devInfo.defend = true;
            if(rawData.device.defend == '0') this.devInfo.defend = false;
            // 自动设防间隔
            this.devInfo.autoLockPeriod = rawData.device.autoLockPeriod;
            // 后轮锁状态
            if(rawData.device.backWheelLock == 'true') this.devInfo.backWheelLock = true;
        },
        // 更新工单信息
        updateTicketInfo(rawData){
            var self = this;
            var hasOR = rawData.hasOR;
            rawData = rawData.rawData;
            this.ticketInfo.reportTime = rawData.ticket.createdAt;
            this.ticketInfo.ebikeNO = rawData.ticket.ebikeNO;
            this.ticketInfo.fixMan = rawData.ticket.fixmanId;
            this.ticketInfo.fixedTime = rawData.ticket.fixedTime;
            this.ticketInfo.fixState = "维修/即将维修";
            this.ticketInfo.fixStateColor = "#f25e2b";
            this.ticketInfo.ticketNo = rawData.ticket.ticketNo;

            // 故障类型
            this.ticketInfo.faultType = "低电压";
            this.ticketInfo.faultTypeColor = "#f25e2b";
            
            // 维修工单
            if(hasOR == 1){
                // 更新维修状态
                if(rawData.ticket.state == 1){
                    this.ticketInfo.fixState = "维修/维修中";
                }else if(rawData.ticket.state == 2){
                    this.ticketInfo.fixState = "维修/维修完成";
                    this.ticketFinished = true;
                }else if(rawData.ticket.state == 3){
                    this.ticketInfo.fixState = "维修/拖回";
                    this.ticketFinished = true;
                }
                // 更新故障类型
                this.ticketInfo.faultType = self.fixFaultMap[rawData.ticket.type];
            }
            // 异常工单
            else if(hasOR == 2){
                // 更新异常状态
                this.ticketInfo.fixState = "异常/即将检修";
                this.ticketInfo.fixStateColor = "#ffff01";
                if(rawData.ticket.state == 1){
                    this.ticketInfo.fixState = "异常/检修中";
                }else if(rawData.ticket.state == 2){
                    this.ticketInfo.fixState = "异常/检修完成";
                    this.ticketFinished = false;
                }else if(rawData.ticket.state == 3){
                    this.ticketInfo.fixState = "异常/拖回";
                    this.ticketFinished = false;
                }

                this.ticketInfo.faultTypeColor = "#ffff01";
                // 更新故障状态
                if(rawData.ticket.type == 1){
                     this.ticketInfo.faultType = "高电压";
                }
                else if(rawData.ticket.type == 2){
                     this.ticketInfo.faultType = "移动报警";
                }
                else if(rawData.ticket.type == 3){
                     this.ticketInfo.faultType = "出服务区";
                }
                else if(rawData.ticket.type == 4){
                     this.ticketInfo.faultType = "超过N天未巡检";
                }
                else if(rawData.ticket.type == 5){
                     this.ticketInfo.faultType = "断电瓶";
                }
                else if(rawData.ticket.type == 6){
                     this.ticketInfo.faultType = "异常离线";
                }
            }
        },
        // 结束工单
        finishTicket(){
            var self = this;
            var url = this.Host + "/ebike/platform/alarmTicketInfo/fixed";
            // 维修
            if(this.rawData.hasOR == 1){
                url = this.Host + "/ebike/platform/fixTicketInfo/fixed";
            }

            // 结束工单数据
            var tel = localStorage.getItem("AUTHED_TEL");
            var postData = {
                "ticketNo":self.ticketInfo.ticketNo,
                "authInfo":{
                    "agentId":2,
                    "opManId":tel,
                },
                "debug":true,
            }
            console.log("向 ",url, " 提交的结束工单信息: ",postData);
            
            this.$http.post(
                url,
                postData,
                {emulateJSON:true}
            ).then(
                function(res){
                    res = res.body;
                    if(res.suc == true){
                        console.log("从 ",url," 收到结束工单请求的回复: ",res);
                        self.$Notice.success({
                            title:"结束工单成功"
                        });
                        // 标志工单已结束
                        self.ticketFinished = true;

                        if(self.rawData.hasOR == 1){
                            self.ticketInfo.fixState = "维修/维修完成";
                        }else{
                            self.ticketInfo.fixState = "异常/检修完成";
                        }
                    }else{
                        self.$Notice.error({
                            title:"结束工单失败"
                        })
                        console.log(res);
                    }
                }).catch(error=>{
                    self.$Notice.error({
                        title:"结束工单失败"
                    })
            }); 
        }
    }
}
</script>

<style scoped>
#container {
    width:100%;
    height: 100%; 
};
</style>
