<template>
    <div style=" width:100%; height:100%; overflow:hidden; ">
        <!-- 功能行 -->
        <div class="box1">
            <div class="box1_1">
                <div class="fenpeiCss" @click="handle_allocate">{{UI.allocate}}</div>
                <!-- 加盟商选择结果框 -->
                <div class="chooseFranchiserCss" v-if="UI.checkboxVisiable">
                    <input class="chooseFranchiserInputCss" @focus="on_focus()" readonly placeholder="选择加盟商" v-model="UI.franisherCtr.userInput"/>
                    <img style="
                        width: 40px; height:40px;
                        margin-left:2%;
                        cursor:pointer;
                    " src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_sure.png"
                    @click="ok()">
                </div>
            </div>
            <div class="box1_2" v-if="UI.checkboxVisiable">
                <div class="chooseNum">
                    已选择：{{UI.franisherCtr.cnt}}
                </div>
                <div class="sureCss" @click="bind">确定</div>
            </div>
        </div>
        <!-- 加盟商选择框 -->
        <div v-if="UI.franisherCtr.visiable" class="jiamengshangxuanzheCss">
            <div class="franchiserItemCss" v-for="item in UI.allyInfo" @click="itemChoose(item)">
                <div style="padding-top:4%;">{{item}}</div>
            </div>
        </div>
        <!-- 名称行 -->
        <div class="titleCss">
            <div v-if="UI.checkboxVisiable"
                style="width:50px; height:100%; background:#120B1D; border-bottom:1px solid gray;">
            </div>
            <div class="nameItemCss1">车辆号/设备号</div>
            <div class="nameItemCss2">服务区/ID</div>
            <div class="nameItemCss1">加盟商姓名/ID/手机号</div> 
            <div class="nameItemCss2">操作</div> 
        </div>
        <!-- 数据行 -->
        <div class="dataCss">
            <div style="height:60px;display:flex;" v-for="(item,idx) in UI.bindingInfo">
                <div v-if="UI.checkboxVisiable"
                    style="
                        width:50px; height:100%; 
                        background:#120B1D;
                        border:1px solid #120B1D; 
                        border-bottom:1px dashed gray;
                        ">
                    <div class="checkCss" v-bind:style="{ 'border-color':item.visiableCheckBox}" @click="checkIt(item,idx)">
                        {{item.value}}
                    </div>
                </div>
                <div class="valueItemCss1">
                    <div style="padding-top:3%;">{{item.carId}}</div>
                    <div style="padding-top:3%;cursor:pointer" @click="detailOrder(item)">{{item.deviceId}}</div>
                </div>
                <div class="valueItemCss2">
                    <div style="padding-top:3%;">{{item.seviceName}}</div>
                    <div style="padding-top:3%;">{{item.serviceId}}</div>
                </div>
                <div class="valueItemCss1">
                    <div style="padding-top:3%;">{{item.franisherName}}{{item.franisherId}}</div>
                    <div style="padding-top:3%;">{{item.tel}}</div>
                </div>
                <div class="valueItemCss2">
                    <div v-if="item.visiableUnBind" 
                        style="
                            width:20%;
                            cursor:pointer;
                            border-bottom: 1px solid white;    
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            white-space:nowrap;" 
                            @click="unbundle(item,idx)"
                        >解绑</div>
                </div>
            </div>
        </div>
       
        <!-- 翻页器 -->
        <div style="
                position:fixed;
                bottom:10px;
                right:30px;
                display:flex;
                cursor:pointer
            ">
                <!-- 左箭头 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'color': pageCtl.leftArrowColor,
                    }"
                    @click="pageChange(0)">
                   <Icon type="chevron-left"></Icon>
                </div>
                <!-- 页1 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page1Color,
                    }"
                    @click="pageChange(1)">
                    {{pageCtl.startPage}}
                </div>
                <!-- 页2 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page2Color,
                    }"
                    @click="pageChange(2)">
                    {{pageCtl.startPage+1}}
                </div>
                <!-- 页3 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page3Color,
                    }" 
                    @click="pageChange(3)">
                    {{pageCtl.startPage+2}}
                </div>
                <!-- 页4 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page4Color,
                    }"
                    @click="pageChange(4)">
                    {{pageCtl.startPage+3}}
                </div>
                <!-- 页5 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page5Color,
                    }"
                    @click="pageChange(5)">
                    {{pageCtl.startPage+4}}
                </div>
                <!--右箭头 -->
                <div class="pageSelect" @click="pageChange(6)">
                   <Icon type="chevron-right"></Icon>
                </div>
        </div>
        <!-- 删除确认 -->
        <Modal
            v-model="UI.unbindCtr.visiable"
            title="是否确认解绑？"
            @on-ok="ok_delete"
            @on-cancel="cancel_delete">
        </Modal>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /************* UI信息 ***********************************/
            UI:{
                // 分配按钮的名字
                allocate:"分配",
                // 确认删除对话框
                unbindCtr:{
                    visiable:false,
                    idx:0,
                    item:null,
                },
                // 加盟商信息
                allyInfo:[],
                // 列表信息
                bindingInfo:[],

                // 是否显示复选框
                checkboxVisiable:false,
                // 加盟商选择
                franisherCtr:{
                    userInput:"",              // 选择的加盟商
                    visiable:false,            // 是否显示加盟商选项
                    cnt: 0,                   // 数量
                },
            },
            /************* 原数据 ************************************/
            Raw:{
                bindingInfo:{

                },
            },       
            /**********************************************************/
            // 分页器颜色
            pageCtl:{
                startPage:1,
                curPage:1,
                leftArrowColor:'#060914',
                page1Color:'#12173c',
                page2Color:'#363958',
                page3Color:'#363958',
                page4Color:'#363958',
                page5Color:'#363958',
            },
            /************** 路由 ******************************************/
            URLs:{
                Host:null,
                // 绑定信息
                bindingInfo:null,
                Data_bindingInfo:{
                    "pageSize": 10,
                    "pageNumber":1,
                    "agentId": 2
                },
                // 加盟商信息
                allyInfo:null,
                Data_allyInfo:{
                    "agentId": 2
                },
                // 绑定
                binding:null,
                Data_binding:{
                    "agentId":2,
                    "allyId":'',
                    "imeiList":[],
                },
                // 解绑
                unbinding:null,
                Data_unbinding:{
                    "agentId": 2,
                    "allyId": '',
                    "imeiList": [],
                },
            }
        }
    },
    mounted(){
        var self = this;
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }else if(versionType == 'localTest'){
            this.Host = myConfig.host.test_url;;//"http://localhost:8080";
        }
        this.URLs.bindingInfo = this.Host + myConfig.franchiser.newCarAllocate.bindingInfo;
        this.URLs.allyInfo    = this.Host + myConfig.franchiser.newCarAllocate.allyInfo;
        this.URLs.binding     = this.Host + myConfig.franchiser.newCarAllocate.binding;
        this.URLs.unbinding   = this.Host + myConfig.franchiser.newCarAllocate.unbinding;
        /**************** 读取信息  *********************************/
        this.loadUI();
        // 读取绑定信息
        this.read_bindingInfo(1);
        // 读取 加盟商信息
        this.read_allyInfo();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /************* 加盟商选择 ******************************/
        // 分配按钮的：打开与关闭
        handle_allocate(){
            if(this.UI.allocate == '分配') this.UI.allocate = '取消分配';
            else{
                this.UI.franisherCtr.visiable = false;
                this.UI.allocate = '分配';
            } 
            this.UI.checkboxVisiable = !this.UI.checkboxVisiable ;
            this.UI.franisherCtr.cnt = 0;
        },
        // 绑定选择
        checkIt(itemInfo,id){
            if(itemInfo.visiableCheckBox != '#C1C1C1') return;
            // 未选中
            if(itemInfo.value == ''){
                itemInfo.value = '√';
                this.UI.franisherCtr.cnt = this.UI.franisherCtr.cnt + 1;
                // 为了支持翻页操作的逻辑: 将该设备加入到数组中
                this.URLs.Data_binding.imeiList.push(itemInfo.deviceId);
            }
            // 已选中
            else{
                itemInfo.value = '';
                this.UI.franisherCtr.cnt = this.UI.franisherCtr.cnt - 1;
                // 为了支持翻页操作的逻辑: 将设备从数组中删除
                var index = this.URLs.Data_binding.imeiList.indexOf(itemInfo.deviceId);
                this.URLs.Data_binding.imeiList.splice(index,1);
            }
            console.log("已经选择了: ",this.URLs.Data_binding.imeiList);
        },
        // 点击打开选项
        on_focus(){
            console.log("点击选择..");
            this.UI.franisherCtr.visiable = true;
        },
        // 加盟商选择 
        itemChoose(item){
            this.UI.franisherCtr.userInput = item;
            this.UI.franisherCtr.visiable = false;
        },
        // 加盟商选择 确定
        ok(){
            this.UI.franisherCtr.visiable = false;
        },
        /*************** 后台交互 *********************************/
        // 1,读取bindingInfo
        read_bindingInfo(pageNum){
            var self = this;
            // 1,设置发送请求
            this.URLs.Data_bindingInfo.pageNumber = pageNum;
            // 2,发送请求
            this.$http.post(
                this.URLs.bindingInfo,
                this.URLs.Data_bindingInfo,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"绑定信息 读取成功",
                            });
                            // 更新bindingInfo的UI
                            self.Raw.bindingInfo = res.data;
                            self.update_bindingInfo_UI();
                        }
                        else {
                            self.$Notice.error({
                                title:"绑定信息 读取失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"绑定信息 读取异常"
                    });
            });
        },
        // 更新bindingInfo的UI
        update_bindingInfo_UI(){
            console.log("绑定信息: ",this.Raw.bindingInfo);
            // 1,清空 bindingInfo
            this.UI.bindingInfo = [];
           
            // 3,赋值 bindingInfo
            for(var i = 0;i<this.Raw.bindingInfo.length;i++){
                var item = {};
                // 车辆号 
                if(this.Raw.bindingInfo[i].carId != '' && this.Raw.bindingInfo[i].carId != null) item.carId = this.Raw.bindingInfo[i].carId;
                else item.carId = '-- --';
                // 设备号
                if(this.Raw.bindingInfo[i].imei != ''  && this.Raw.bindingInfo[i].imei != null) item.deviceId = this.Raw.bindingInfo[i].imei;
                else item.deviceId = '-- --';
                // 服务区/ID
                if( 'serviceName' in this.Raw.bindingInfo[i] && 
                    'serviceId' in this.Raw.bindingInfo[i] && 
                    this.Raw.bindingInfo[i].serviceName != "" && this.Raw.bindingInfo[i].serviceName != null &&
                    this.Raw.bindingInfo[i].serviceId != "" && this.Raw.bindingInfo[i].serviceId != null
                    ){
                    item.serviceName = this.Raw.bindingInfo[i].serviceName;
                    item.serviceId = this.Raw.bindingInfo[i].serviceId;
                }else{
                    item.serviceName = '';
                    item.serviceId = '待上线';
                }

                // 加盟商姓名/手机号/ID                
                if( 'phoneNumber' in this.Raw.bindingInfo[i] && 
                    'allyName' in this.Raw.bindingInfo[i] && 
                    'allyId' in this.Raw.bindingInfo[i] &&
                    this.Raw.bindingInfo[i].phoneNumber != "" && this.Raw.bindingInfo[i].phoneNumber != null &&
                    this.Raw.bindingInfo[i].allyName != "" && this.Raw.bindingInfo[i].allyName != null &&
                    this.Raw.bindingInfo[i].allyId != "" && this.Raw.bindingInfo[i].allyId != null 
                    ){
                    item.franisherName = this.Raw.bindingInfo[i].allyName;
                    item.tel =  this.Raw.bindingInfo[i].phoneNumber;
                    item.franisherId = ' / ' + this.Raw.bindingInfo[i].allyId;

                    item.visiableCheckBox = '#120B1D';
                    item.visiableUnBind = true;
                }else{
                    // 为了支持翻页操作的逻辑: 刚刚已经选择的设备,显示已经选中
                    var flag = false;
                    for(var j = 0;j<this.URLs.Data_binding.imeiList.length;j++){
                        if(this.URLs.Data_binding.imeiList[j] == this.Raw.bindingInfo[i].imei){
                            flag = true; 
                            break;
                        }
                    }
                    item.value = '';
                    if(flag)  item.value = '√'; 

                    // 设置其他信息
                    item.franisherName = '';
                    item.tel = '';
                    item.franisherId = '待分配';

                    item.visiableCheckBox = '#C1C1C1';
                    item.visiableUnBind = false;
                }
                // 添加一条绑定关系
                this.UI.bindingInfo.push(item);
            }            
        },
        // 2,读取加盟商信息
        read_allyInfo(){
            var self = this;
            this.$http.post(
                this.URLs.allyInfo,
                this.URLs.Data_allyInfo,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"加盟商信息 读取成功",
                            });
                            // 更新 allyInfo的UI
                            self.Raw.allyInfo = res.data;
                            self.update_allyInfo();
                        }
                        else {
                            self.$Notice.error({
                                title:"加盟商信息 读取失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"加盟商信息 读取异常"
                    });
            });
        },
        // 更新加盟商信息
        update_allyInfo(){
            console.log("加盟商信息: ",this.Raw.allyInfo);
            // 1,清空
            this.UI.allyInfo = []
            // 2,赋值
            for(var i = 0;i<this.Raw.allyInfo.length;i++){
                var item = '';
                item = this.Raw.allyInfo[i].allyId + '/' + 
                       this.Raw.allyInfo[i].allyName + '/' +
                       this.Raw.allyInfo[i].phoneNumber + '';
                this.UI.allyInfo.push(item)
            }
        },
        /*************** 解绑 ***************************************/
        unbundle(item,idx){
            console.log("idx: ",idx);
            this.UI.unbindCtr.visiable = true;
            // 设置参数
            this.UI.unbindCtr.idx = idx;
            this.UI.unbindCtr.item = item;
        },
        ok_delete(){
            this.UI.unbindCtr.visiable = false;
            this.help_unbundle();
        },
        cancel_delete(){
            this.UI.unbindCtr.visiable = false;
        },
        // 解绑操作
        help_unbundle(){
            var item = this.UI.unbindCtr.item;
            var idx = this.UI.unbindCtr.idx;
            console.log("item: ",item,'idx: ',idx);
            // 1,更新数据
            var self = this;
            this.URLs.Data_unbinding.imei = item.deviceId;
            this.URLs.Data_unbinding.allyId = item.franisherId;
            // 2,发送解绑请求
            this.$http.post(
                this.URLs.unbinding,
                this.URLs.Data_unbinding,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"解绑成功",
                            });
                            console.log("解绑返回: ",res);
                            // 更新 绑定表的UI
                            self.UI.bindingInfo[idx].visiableCheckBox = '#C1C1C1';
                            self.UI.bindingInfo[idx].franisherName = '';
                            self.UI.bindingInfo[idx].franisherId = '待分配';
                            self.UI.bindingInfo[idx].tel = '';
                            self.UI.bindingInfo[idx].visiableUnBind = false;
                            self.UI.bindingInfo[idx].value = '';
                            
                        }
                        else {
                            self.$Notice.error({
                                title:"解绑失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"解绑 异常"
                    });
            });
        },
        /**************** 绑定 **************************************/
        bind(){
            // 错误判断
            if(this.UI.franisherCtr.userInput == ''){
                this.$Modal.error({
                    title:"你还未选择要绑定的加盟商"
                })
                return;
            }
            if(this.URLs.Data_binding.imeiList.length == 0){
                this.$Modal.error({
                    title:"你还未选择要绑定的设备"
                })
                return;
            }
            // 1,读取加盟商ID
            var str = this.UI.franisherCtr.userInput.split('/');
            this.URLs.Data_binding.allyId = str[0];
            // 2,展示数据
            console.log("向 ", this.URLs.binding,'提交Post数据: ',this.URLs.Data_binding,'进行绑定操作');
            // 3,提交绑定请求
            var self = this;
            /**********************************************************/
            // 进度加载
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'demo-spin-icon-load',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '绑定中...')
                    ])
                }
            });
            /**********************************************************/
            this.$http.post(
                this.URLs.binding,
                this.URLs.Data_binding,
                {emulateJSON:true}).
                then(
                    function(res){
                        // 关闭加载
                        this.$Spin.hide();
                        // 数据处理
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:" 绑定成功",
                            });
                            console.log("绑定返回: ",res);
                            // 1,更新 绑定表的UI: 把刚刚绑定的设备设置未不可绑定
                            for(var i = 0;i<self.UI.bindingInfo.length;i++){
                                // 该设备刚刚被选中进行绑定
                                if(self.URLs.Data_binding.imeiList.indexOf(self.UI.bindingInfo[i].deviceId) != -1){
                                    self.UI.bindingInfo[i].franisherName = str[1];
                                    self.UI.bindingInfo[i].franisherId = str[0];
                                    self.UI.bindingInfo[i].tel = str[2];
                                    self.UI.bindingInfo[i].visiableUnBind = true;
                                    self.UI.bindingInfo[i].visiableCheckBox = '#120B1D';
                                    self.UI.bindingInfo[i].value = '';
                                }
                            }
                            // 2,清空刚刚的选择表
                            self.URLs.Data_binding.imeiList = [];
                            // 关闭显示
                            self.UI.checkboxVisiable = false ;
                            self.UI.franisherCtr.cnt = 0;
                        }
                        else {
                            console.log("绑定报错: ",res);
                            self.$Notice.error({
                                title:"绑定失败",
                            });
                        }
                    }
                ).catch( function(err){
                    // 关闭加载
                    this.$Spin.hide();
                    // 数据处理
                    self.$Notice.error({
                        title:"绑定 异常"
                    });
            });
        },
        /**************** 翻页器 ************************************/
        // 1, 辅助函数 ---> 改变颜色
        help_pageHighlignt(page){
            if(page == 0){
                this.pageCtl.page1Color = '#12173c';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 1){
                this.pageCtl.page2Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 2){
                this.pageCtl.page3Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 3){
                this.pageCtl.page4Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 4){
                this.pageCtl.page5Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }else{
                this.pageCtl.page5Color = '#363958';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }
        },
        pageChange(val){
            // 向左翻页
            if(val == 0){
                if(this.pageCtl.startPage == 1){
                    this.pageCtl.leftArrowColor = "#060914";
                }else if(this.pageCtl.startPage == 2){
                    this.pageCtl.leftArrowColor = "#060914";
                    this.pageCtl.startPage = 1;
                }else{
                    this.pageCtl.startPage -= 1;
                }
            }else if(val == 1){
                this.pageCtl.curPage = this.pageCtl.startPage;
            }else if(val == 2){
                this.pageCtl.curPage = this.pageCtl.startPage + 1;
            }else if(val  == 3){
                this.pageCtl.curPage = this.pageCtl.startPage + 2;
            }else if(val  == 4){
                this.pageCtl.curPage = this.pageCtl.startPage + 3;
            }else if(val  == 5){
                this.pageCtl.curPage = this.pageCtl.startPage + 4;
            }else if(val  == 6){
                this.pageCtl.leftArrowColor = "white";
                this.pageCtl.startPage += 1;
            }
            this.help_pageHighlignt(this.pageCtl.curPage - this.pageCtl.startPage);

            // 读取信息
            if(val != 0 && val != 6){
                this.read_bindingInfo(this.pageCtl.curPage);
            }
        },
        /***************** 跳转到订单列表 ********************************/
        detailOrder(item){
            console.log("设备号: ",item.deviceId);
            // 页面跳转
            // this.$router.push({path:"/orderList",query: {deviceId: item.deviceId}}); 
        },
    }
}
</script>

<style scoped>
/************* 按钮行 *****************************************/
/* 功能行 */
.box1{
    position: fixed;
    width: calc( ( 100% - 200px)*0.95 ) ;
    height:40px; 
    margin-left: 15px;

    display:flex;
    justify-content: space-between;

    /* border:2px dashed rgb(44, 179, 44); */
}
.box1_1{
    width:50%;
    height:100%;
    display: flex;
    justify-content: flex-start;

}
.box1_2{
    width:25%;
    height:100%;
    display: flex;
    justify-content: space-between;

    /* border:2px solid blue; */
}
/* 分配 */
.fenpeiCss{
    width:25%; height:100%;
    background:#9a5afb; 
    border-radius:8px; 
    color:white; font-size:16px;
    cursor:pointer;
    /* position: relative; */

    display: flex;
    align-items: center;
    justify-content: center;
}
/* 选择加盟商 */
.chooseFranchiserCss{
    width:70%; height:100%; 
    margin-left:10px;
    background:#201433;
    /* border-radius:10px; */
    display:flex;
}
.chooseFranchiserInputCss{
    width:80%; height:100%;
    background:#201433;
    border: 2px solid #201433;
    font-size:15px;
    color:#c1c0c1;
    margin-left:5%;

    cursor: pointer;
}
.franchiserItemCss{
    width:100%;
    height:40px;
    border-bottom:1px dashed gray; 
    background:#160C24;
    font-size:15px;
    color:#c1c0c1;
    cursor:pointer;
}
/**************** *加盟商选择框 *************/
.jiamengshangxuanzheCss{
    position: fixed;

    top    :140px; 
    margin-left   :calc( ( 100% - 200px) *0.118 + 25px);
    width  :calc( ( 100% - 200px) *0.3) ;
    height :150px;
    overflow:auto;
    background:#160C24;
    border-radius:0 0 10px 10px;
    z-index: 10;
}
.sureCss{
    width:100px; height:100%;
    background:#9a5afb; 
    border-radius:10px; 
    color:white; 
    font-size:16px;
    cursor:pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
/************** 标题行 *****************************************/
.titleCss{
    position: fixed;
    width:  calc( ( 100% - 200px) *0.95 + 20px) ;
    height:40px;
    margin-top: 50px;
    margin-left:15px;
   
    display:flex;
}
.nameItemCss1{
    width: calc( 25% - 4px); 
    height:100% ;
    background:#2C223C; 
    font-size:15px; 
    color:#C1C1C1; 
    border-bottom:1px solid gray;

    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nameItemCss2{
    width: calc( 25% - 4px); 
    height:100% ;
    background:#120B1D;
    font-size:15px; 
    color:#C1C1C1;
    border-bottom:1px solid gray;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
}
.valueItemCss1{
    width:25%; height:100% ;
    background:#2C223C; 
    font-size:13px; 
    color:#C1C1C1; 
    border-bottom:1px dashed gray;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valueItemCss2{
    width:25%; height:100% ;
    background:#120B1D; 
    font-size:13px; 
    color:#C1C1C1;
    border-bottom:1px dashed gray;
    white-space: nowrap;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*************** 数据行 ********************************************/
.dataCss{
    width: calc( 95% + 20px);
    height:70%;
    margin-top :90px;
    margin-left:15px; 
    overflow-y:scroll; 
    position:relative;

    /* border:1px solid red; */
}
/************ 加载条 ***********************************/
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
/************ 分页器样式 *******************************/
.pageSelect{
    width:40px; 
    height:40px;
    margin-left:5px;
    background-color: #363958;
    border-radius: 10px;
    color:white;
    text-align: center;
    font-size:25px;
}
/* 复选框列样式 */
.checkCss{
    width:20px; height:20px;
    border:1px solid #C1C1C1;
    margin-top:50%;
    margin-left:30%;
    cursor:pointer;
    font-size:14px; color:white;
}
/* 已选择 */
.chooseNum{
    width:60%; height:100%;
    /* border: 1px solid red; */
    white-space: nowrap;

    color:white; font-size:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
