<template>
    <div style="
            width:98%;  
            height:100%;
            margin-left:2%;
            overflow:hidden;
        ">
        <!-- 功能区 -->
        <div style="
            width:100%; 
            height:46px;
            display:flex;
            justify-content:space-between;
            align-items:center;
         ">
            <!-- 服务区选择 -->
            <div style="
                float:left;
                width:600px; height:46px; 
                margin-top:0%; margin-left:-0.8%;
                cursor:pointer;
                float:left;
                display:inline;
             ">
                <!-- 服务区1 -->
                <div v-if="serviceName.service1_visiable" v-bind:style="{'background': colorCtr.serviceArea1}" class="serviceCss" @click="chooseService(1)">
                    <div class="serviceNameCss">
                        <Tooltip placement="top" style="width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                            {{serviceName.service1}}
                            <div slot="content" style="font-size:15px;color:white;">
                                {{serviceName.service1}}
                            </div>
                        </Tooltip>
                    </div>
                </div>
                <!-- 服务区2 -->
                <div v-if="serviceName.service2_visiable" v-bind:style="{'background': colorCtr.serviceArea2}" class="serviceCss" @click="chooseService(2)">
                    <div class="serviceNameCss">
                        <Tooltip placement="top" style="width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                            {{serviceName.service2}}
                            <div slot="content" style="font-size:15px;color:white;">
                                {{serviceName.service2}}
                            </div>
                        </Tooltip>
                    </div>
                </div>
                <!-- 服务区3 -->
                <div v-if="serviceName.service3_visiable" v-bind:style="{'background': colorCtr.serviceArea3}" class="serviceCss" @click="chooseService(3)">
                    <div class="serviceNameCss">
                        <Tooltip placement="top" style="width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                            {{serviceName.service3}}
                            <div slot="content" style="font-size:15px;color:white;">
                                {{serviceName.service3}}
                            </div>
                        </Tooltip>
                    </div>
                </div>
                <!-- 服务区4 -->
                <div v-if="serviceName.service4_visiable" v-bind:style="{'background': colorCtr.serviceArea4}" class="serviceCss" @click="chooseService(4)">
                    <div class="serviceNameCss">
                        <Tooltip placement="top" style="width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                            {{serviceName.service4}}
                            <div slot="content" style="font-size:15px;color:white;">
                                {{serviceName.service4}}
                            </div>
                        </Tooltip>
                    </div>
                </div>
                <!-- 翻页 -->
                <div style="
                    margin-left:3%;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    float:left;  
                    height:40px;
                    ">
                    <!-- 翻页图标 -->
                    <img style="
                            width: 20px; height:20px;
                            margin-top:1.2%; margin-left:1%;
                            cursor:pointer;
                        " src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_left.png"
                        @click="moveLeft()">
                    <img style="
                            width: 20px; height:20px;
                            margin-top:1.2%; margin-left:1%;
                            cursor:pointer;
                        " src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_right.png"
                        @click="moveRight()">
                </div>
            </div>
            <div style=" display:flex;width:400px;  float: right;
                        align-items:center;
                        margin-right:1%;height:40px; justify-content:space-between;">
                <!-- 刷新 -->
                <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_refresh.png"
                     class="icon-load" id='refresh' @click="refresh"/>
                <!-- 搜索框 -->
                <div style="
                    float: right;
                    margin-right:1%;
                    width:85%; height:100%;
                
                    background:#32334F;
                    border-radius:5px;
                    display:flex;
                    ">
                    <input style="
                        width:80%; height:100%;
                        background:#32334F;
                        border: 2px solid #32334F;
                        font-size:15px;
                        color:white;
                        margin-left:5%;
                        "
                        @keyup="checkInput" 
                        placeholder="车辆号/设备号"
                        v-model="userInput"/>
                    <img style="
                        width: 20px; height:20px;
                        margin-top:3%; margin-left:4%;
                        cursor:pointer;
                    " src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_search.png"
                    @click="search()">
                </div>
            </div>
        </div>
        <!-- 展示区 -->
        <div style="position:relative;width:100%; height: calc( 100% - 46px ); ">
            <!-- 地图 -->
            <div style="width:100%; height:98%;" id="container"></div>
            <!-- 上边栏 -->
            <div style="
                position:absolute;
                top:2%;left:3%;
                width:700px; height:80px;
                background: rgba(0,0,0,0.7);
                display:flex;
                justify-content:flex-start;
                ">
                    <!-- 全部车辆 -->
                    <div style="
                        width:15%; height:80%;
                        margin-top:1%;
                        border-right:1px solid white;
                        cursor:pointer;
                        " @click="filterCar('all')">
                        <div style="font-size:15px; color:white; padding-top:5%;">全部车辆</div>
                        <div style="font-size:15px; color:#1FC3A4;">{{carCnt.all.sum}}辆</div>
                    </div>
                    <!-- 运营车辆 -->
                    <div style="
                        width:40%; height:100%;
                        margin-left:1%;
                        display:flex;
                        justify-content:flex-start;
                        cursor:pointer;
                        ">
                        <div style="font-size:15px;white-space:nowrap; color:#1FC3A4; margin-top:6%;padding-top:8px; ">运营车辆</div>
                        <!-- 待租车辆 -->
                        <div style="
                            width:70px; height:100%;
                            margin-left:10px;
                            display:flex;
                            justify-content:flex-start;
                            flex-direction:column;
                            align-items:center;
                            
                            " @click="filterCar(carType[0][0])">
                            <!-- 圆 -->
                            <div style="
                                    font-size:25px; 
                                    color:#1FC3A4;
                                    width:50px; height:50px;
                                    border:1px solid #1FC3A4;
                                    border-radius:60px;
                                    text-align:center;
                                    margin-top:8px;
                                ">
                                <div style="padding-top:10%;">{{carCnt.operation.forRent.sum}}</div>
                            </div>
                            <!-- 字 -->
                            <div style="font-size:12px;color:#1FC3A4;margin-top:8%;margin-left:-10%;"> 待租 </div>
                        </div>
                        <!-- 出租车辆 -->
                        <div style="
                            width:70px; height:100%;
                            margin-left:10px;
                            display:flex;
                            justify-content:flex-start;
                            flex-direction:column;
                            align-items:center;
                            " @click="filterCar(carType[0][1])">
                            <!-- 圆 -->
                            <div style="
                                    font-size:25px; 
                                    color:#1FC3A4;
                                    width:50px; height:50px;
                                    border:1px solid #1FC3A4;
                                    border-radius:60px;
                                    text-align:center;
                                    margin-top:8px;
                                ">
                                    <div style="padding-top:10%;">{{carCnt.operation.renting.sum}}</div>
                            </div>
                            <!-- 字 -->
                            <div style="font-size:12px;color:#1FC3A4;margin-top:8%;"> 骑行 </div>
                        </div>
                        <!-- 被预约车辆 -->
                        <div style="
                            width:70px; height:100%;
                            margin-left:10px;
                            display:flex;
                            justify-content:flex-start;
                            flex-direction:column;
                            align-items:center;
                            " @click="filterCar(carType[0][2])">
                            <!-- 圆 -->
                            <div style="
                                    font-size:25px; 
                                    color:#1FC3A4;
                                    width:50px; height:50px;
                                    border:1px solid #1FC3A4;
                                    border-radius:60px;
                                    text-align:center;
                                    margin-top:8px;
                                ">
                                    <div style="padding-top:10%;">{{carCnt.operation.ordered.sum}}</div>
                            </div>
                            <!-- 字 -->
                            <div style="font-size:12px;color:#1FC3A4;margin-top:8%;"> 被预约 </div>
                        </div>
                    </div>
                    <!-- 下架车辆 -->
                    <div style="
                        width:40%; height:100%;
                        margin-left:3%;
                        display:flex;
                        justify-content:flex-start;
                        cursor:pointer;
                        ">
                        <div style="
                            font-size:15px;white-space:nowrap; color:yellow; margin-top:6%;padding-top:8px;">下架车辆</div>
                        <!-- 报修车辆 -->
                        <div style="
                            width:70px; height:100%;
                            margin-left:10px;
                            display:flex;
                            justify-content:flex-start;
                            flex-direction:column;
                            align-items:center;
                            " @click="filterCar(carType[1][0])">
                            <!-- 圆 -->
                            <div style="
                                    font-size:25px; 
                                    color:yellow;
                                    width:50px; height:50px;
                                    border:1px solid yellow;
                                    border-radius:60px;
                                    text-align:center;
                                    margin-top:8px;
                                ">
                                    <div style="padding-top:10%;">{{carCnt.soldOut.toFix.sum}}</div>
                            </div>
                            <!-- 字 -->
                            <div style="font-size:12px;color:yellow;margin-top:8%;"> 报修 </div>
                        </div>
                        <!-- 拖回车辆 -->
                        <div style="
                            width:70px; height:100%;
                            margin-left:10px;
                            display:flex;
                            justify-content:flex-start;
                            flex-direction:column;
                            align-items:center;
                            " @click="filterCar(carType[1][2])">
                            <!-- 圆 -->
                            <div style="
                                    font-size:25px; 
                                    color:yellow;
                                    width:50px; height:50px;
                                    border:1px solid yellow;
                                    border-radius:60px;
                                    text-align:center;
                                    margin-top:8px;
                                ">
                                    <div style="padding-top:10%;">{{carCnt.soldOut.dragBack.sum}}</div>
                            </div>
                            <!-- 字 -->
                            <div style="font-size:12px;color:yellow;margin-top:8%;"> 拖回 </div>
                        </div>
                        <!-- 低电量车辆 -->
                        <div style="
                            width:70px; height:100%;
                            margin-left:10px;
                            display:flex;
                            justify-content:flex-start;
                            flex-direction:column;
                            align-items:center;
                            " @click="filterCar(carType[1][1])">
                            <!-- 圆 -->
                            <div style="
                                    font-size:25px; 
                                    color:yellow;
                                    width:50px; height:50px;
                                    border:1px solid yellow;
                                    border-radius:60px;
                                    text-align:center;
                                    margin-top:8px;">
                                    <div style="padding-top:10%;">{{carCnt.soldOut.lowBattery.sum}}</div>
                            </div>
                            <!-- 字 -->
                            <div style="font-size:12px;color:yellow;margin-top:8%;"> 低电量 </div>
                        </div>
                    </div>
                
            </div> 
            <!-- 运营警示 -->
            <div style="
                position:absolute;
                width: 120px; height:450px;
                top:2%; right: 1%;
                cursor:pointer;
                background: rgba(0,0,0,0.7);
                ">
                <!-- 运营警示 -->
                <div style="
                    width:100%; height:60px; 
                    color:red;
                    text-align:center;
                    font-size:15px;
                    ">
                    <div style="padding-top:15%;">运营警示</div>
                </div>
                <!-- 电瓶移除,设防 -->
                <div style="
                    width:100%; height:90px;
                    display:flex;
                    ">
                    <!-- 电瓶移除 -->
                    <div style="
                        width:70px; height:100%;
                        margin-left:5px;
                        " @click="filterCar(carType[2][0])">
                        <!-- 圆 -->
                        <div style="
                                font-size:25px; 
                                color:red;
                                width:50px; height:50px;
                                border:1px solid red;
                                border-radius:60px;
                                text-align:center;
                                margin-top:10%; margin-left:5%;
                              ">
                                <div style="padding-top:10%;">{{carCnt.operationWarning.batteryOff.sum}}</div>
                        </div>
                        <!-- 字 -->
                        <div style="font-size:12px;color:red;margin-top:8%;"> 电瓶移除 </div>
                    </div>
                    <!-- 设防 -->
                    <div style="
                        width:70px; height:100%;
                        margin-left:15px;
                        "  @click="filterCar(carType[2][1])">
                        <!-- 圆 -->
                        <div style="
                                font-size:25px; 
                                color:red;
                                width:50px; height:50px;
                                border:1px solid red;
                                border-radius:60px;
                                text-align:center;
                                margin-top:10%; margin-left:-10%;
                              ">
                                <div style="padding-top:10%;">{{carCnt.operationWarning.defend.sum}}</div>
                        </div>
                        <!-- 字 -->
                        <div style="font-size:12px;color:red;margin-top:8%; margin-left:-20%;"> 异常移动 </div>
                    </div>
                </div>
                <!-- 出围栏,离线 -->
                <div style="
                    margin-top:5%;
                    width:100%; height:90px;
                    display:flex;
                    ">
                    <!-- 出围栏 -->
                    <div style="
                        width:70px; height:100%;
                        margin-left:5px;
                        "  @click="filterCar(carType[2][2])">
                        <!-- 圆 -->
                        <div style="
                                font-size:25px; 
                                color:red;
                                width:50px; height:50px;
                                border:1px solid red;
                                border-radius:60px;
                                text-align:center;
                                margin-top:10%; margin-left:5%;
                              ">
                                <div style="padding-top:10%;">{{carCnt.operationWarning.outOfFence.sum}}</div>
                        </div>
                        <!-- 字 -->
                        <div style="font-size:12px;color:red;margin-top:8%;"> 出围栏 </div>
                    </div>
                    <!-- 离线 -->
                    <div style="
                        width:70px; height:100%;
                        margin-left:15px;
                        "   @click="filterCar(carType[2][3])">
                        <!-- 圆 -->
                        <div style="
                               font-size:25px; 
                                color:red;
                                width:50px; height:50px;
                                border:1px solid red;
                                border-radius:60px;
                                text-align:center;
                                margin-top:10%; margin-left:-10%;
                              ">
                                <div style="padding-top:10%;">{{carCnt.operationWarning.offLine.sum}}</div>
                        </div>
                        <!-- 字 -->
                        <div style="font-size:12px;color:red;margin-top:8%; margin-left:-25%;"> 出服务区 </div>
                    </div>
                </div>
                <!-- 有单无程,超一日无单 -->
                <div style="
                    margin-top:5%;
                    width:100%; height:90px;
                    display:flex;
                    ">
                    <!-- 有单无程 -->
                    <div style="
                        width:70px; height:100%;
                        margin-left:5px;
                        "  @click="filterCar(carType[2][4])">
                        <!-- 圆 -->
                        <div style="
                                font-size:25px; 
                                color:red;
                                width:50px; height:50px;
                                border:1px solid red;
                                border-radius:60px;
                                text-align:center;
                                margin-top:10%; margin-left:5%;
                              ">
                                <div style="padding-top:10%;">{{carCnt.operationWarning.noItinerary.sum}}</div>
                        </div>
                        <!-- 字 -->
                        <div style="font-size:12px;color:red;margin-top:8%;"> 有单无程 </div>
                    </div>
                    <!-- 超一日无单 -->
                    <div style="
                        width:70px; height:100%;
                        margin-left:15px;
                        "  @click="filterCar(carType[2][5])">
                        <!-- 圆 -->
                        <div style="
                                 font-size:25px; 
                                color:red;
                                width:50px; height:50px;
                                border:1px solid red;
                                border-radius:60px;
                                text-align:center;
                                margin-top:10%; margin-left:-10%;
                              ">
                                <div style="padding-top:10%;">{{carCnt.operationWarning.dayNoPay.sum}}</div>
                        </div>
                        <!-- 字 -->
                        <div style="font-size:12px;color:red;margin-top:8%; margin-left:-10%;"> 一日无单 </div>
                    </div>
                </div>
                <!-- 丢失 -->
                <div style="
                    margin-top:5%;
                    width:100%; height:90px;
                    display:flex;
                    ">
                    <!-- 丢失 -->
                    <div style="
                        width:70px; height:100%;
                        margin-left:5px;
                        "  @click="filterCar(carType[2][6])">
                        <!-- 圆 -->
                        <div style="
                                font-size:25px; 
                                color:red;
                                width:50px; height:50px;
                                border:1px solid red;
                                border-radius:60px;
                                text-align:center;
                                margin-top:10%; margin-left:5%;
                              ">
                                <div style="padding-top:10%;">{{carCnt.operationWarning.lost.sum}}</div>
                        </div>
                        <!-- 字 -->
                        <div style="font-size:12px;color:red;margin-top:8%;margin-left:-25%;"> 报失 </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /************** 服务区颜色 ****************************/
            colorCtr:{
                serviceArea1: "#1FC3A4",
                serviceArea2: "#32334F",
                serviceArea3: "#32334F",
                serviceArea4: "#32334F",
                gray: "#32334F",
                light: "#1FC3A4",
            },
            /*************** 服务区名称 ***************************/
            serviceName:{
                service1:"",
                service1_visiable:false,
                service2:"",
                service2_visiable:false,
                service3:"",
                service3_visiable:false,
                service4:"",
                service4_visiable:false,
            },
            /*************** 搜索输入 *****************************/
            userInput:"",
            /*************** 从服务区读取的数据 ********************/
            serviceInfo:[],
            serviceCtr:{
                pointer:0,
                curPtr:1,
                len:9,
            },
            /*************** 地图上展示的数据 ************************/
            mapData:{
                map:null,
                polygon:null,
                circle:null,
            },
            /********************************************************/
            Host:null,
            URLs:{
                mapURL:null,
                getServiceList:null,
                getServiceInfo:null,
                search:null,
                getServiceListData:{
                    "agentId":2,
                    "fenceType":"1",
                    // debug:true,
                },
                getServiceInfoData:{
                    "agentId":2,
                    "serviceId":0,
                    // debug:true,
                },
            },
            //  从后台读取的服务区原数据
            serviceRawInfo:[],
            /******************** 车辆数值 *******************************/
            carCnt:{
                // 所有车辆
                all:{
                    "sum":'-- --',
                },
                // 运营车辆
                operation: {
                    "forRent": {
                        "sum": '-- --',
                        "list": []
                    },
                    "renting": {
                        "sum":  '-- --',
                        "list": []
                    },
                    "ordered": {
                        "sum":  '-- --',
                        "list": []
                    }
                },
                // 下架车辆
                soldOut: {
                    "toFix": {
                        "sum":  '-- --',
                        "list": []
                    },
                    "dragBack": {
                        "sum":  '-- --',
                        "list": []
                    },
                    "lowBattery": {
                        "sum": '-- --',
                        "list": []
                    }
                },
                // 运营警示
                operationWarning: {
                    "batteryOff": {
                        "sum":  '-- --',
                        "list": []
                    },
                    "defend": {
                        "sum": '-- --',
                        "list": []
                    },
                    "outOfFence": {
                        "sum": '-- --',
                        "list": []
                    },
                    "offLine": {
                        "sum": '-- --',
                        "list": []
                    },
                    "noItinerary": {
                        "sum": '-- --',
                        "list": []
                    },
                    "dayNoPay": {
                        "sum": '-- --',
                        "list": []
                    },
                    "lost": {
                        "sum": '-- --',
                        "list": []
                    }
                }
            },
            carType:[
                ['operation_forRent','operation_renting','operation_ordered'],
                ['soldOut_toFix','soldOut_lowBattery','soldOut_dragBack'],
                ['operationWarning_batteryOff','operationWarning_defend','operationWarning_outOfFence',
                 'operationWarning_offLine','operationWarning_noItinerary','operationWarning_dayNoPay',
                 'operationWarning_lost'],
            ],
            /***********************************************************/
            markerList:[],
        }
    },
    mounted(){
        /************ 测试加速  *****************************/
        var self = this;
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
            this.URLs.mapURL = myConfig.newCarManager.Test_mapURL;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
            this.URLs.mapURL = myConfig.newCarManager.Formal_mapURL;
        }else if(versionType == 'localTest'){
            this.Host = myConfig.host.test_url;;//"http://localhost:8080";
            this.URLs.mapURL = "/#/newCarManagerInfo?param=";
        }
        this.URLs.getServiceList = this.Host + myConfig.newCarManager.getServiceList;
        this.URLs.getServiceInfo = this.Host + myConfig.newCarManager.getServiceInfo;
        this.URLs.search = this.Host + myConfig.newCarManager.search;
        /***************************************************/
        this.loadUI();
        this.initMap();                  // 初始化地图
        this.readServiceList();          // 读取服务区数据 并默认显示第一个服务区的Fence和car,数据信息
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /************ 后台交互 ******************************/
        /* 2,辅助函数:
            (1) 根据后台读取的数据 更新已有服务区 
            (2) 读取第一个服务区的车辆数据信息, 更新显示
            (3) 显示第一个服务区的 Fence和car
        */
        help_updateService(array){
            var self = this;
            // 清空旧数组
            this.serviceInfo = [];
            // 更新数组
            for(var i = 0;i<array.length;i++){
                var tmpObj = {};
                tmpObj.serviceName = array[i].name;
                tmpObj.serviceId = array[i].id;
                this.serviceInfo[i] = tmpObj;
            }
            // 1,更新显示
            if(array.length >= 4) {
                this.serviceName.service4 = this.serviceInfo[3].serviceName;
                this.serviceName.service4_visiable = true;
            }
            else {
                this.serviceName.service4 = "";
                this.serviceName.service4_visiable = false;
            }
            if(array.length >= 3){
                this.serviceName.service3 = this.serviceInfo[2].serviceName;
                this.serviceName.service3_visiable = true;                
            }
            else {
                this.serviceName.service3 = "";
                this.serviceName.service3_visiable = false;
            }
            if(array.length >= 2){
                this.serviceName.service2 = this.serviceInfo[1].serviceName;
                this.serviceName.service2_visiable = true;
            }
            else {
                this.serviceName.service2 = "";
                this.serviceName.service2_visiable = false;
            }
            if(array.length >= 1) {
                this.serviceName.service1 = this.serviceInfo[0].serviceName;
                this.serviceName.service1_visiable = true;
                // 2,默认读取第一个服务区的 车辆数据信息 ,并更新显示
                this.readServiceInfo(0);
            }
            else {
                this.serviceName.service1 = "";
                this.serviceName.service1_visiable = false;
            }
            // 更新服务区数量
            this.serviceCtr.len = array.length;   
        },
        // 辅助函数: 给每个车辆添加type
        help_addTypeForCar(array,type){
            for(var i = 0;i<array.length;i++){
                array[i].type = type;
            }
        },
        // 4.1,Debug函数 ---> 使用自己的数据
        help_updateCarCnt_debug(carCnt,idx){
            // 1,给all添加list字段
            this.carCnt.all.sum = 13; 
            this.carCnt.all.list = [];
            // 2,运营车辆
            this.carCnt.operation.forRent.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.515977",  //114.414724,30.515977
                    "lng": "114.414724",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operation.forRent.list,this.carType[0][0]);
            this.carCnt.operation.renting.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.517426",  //114.414724,30.515977
                    "lng": "114.419101",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operation.renting.list,this.carType[0][1]);
            this.carCnt.operation.ordered.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.513138",  //114.414724,30.515977
                    "lng": "114.419273",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operation.ordered.list,this.carType[0][2]);
            
            // 下架车辆
            this.carCnt.soldOut.toFix.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.518757",  //114.414724,30.515977
                    "lng": "114.41172",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.soldOut.toFix.list,this.carType[1][0]);
            this.carCnt.soldOut.lowBattery.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.521715",  //114.414724,30.515977
                    "lng": "114.414295",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.soldOut.lowBattery.list,this.carType[1][1]);
            this.carCnt.soldOut.dragBack.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.51225",  //114.414724,30.515977
                    "lng": "114.409746",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.soldOut.dragBack.list,this.carType[1][2]);
            // 运营警示车辆
            this.carCnt.operationWarning.batteryOff.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.508849",  //114.414724,30.515977
                    "lng": "114.407772",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operationWarning.batteryOff.list,this.carType[2][0]);
            this.carCnt.operationWarning.defend.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.511289",  //114.414724,30.515977
                    "lng": "114.402708",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operationWarning.defend.list,this.carType[2][1]);
            this.carCnt.operationWarning.outOfFence.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.515079",  //114.414724,30.515977
                    "lng": "114.415282",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operationWarning.outOfFence.list,this.carType[2][2]);
            this.carCnt.operationWarning.offLine.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.515374",  //114.414724,30.515977
                    "lng": "114.413994",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operationWarning.offLine.list,this.carType[2][3]);
            this.carCnt.operationWarning.noItinerary.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.514413",  //114.414724,30.515977
                    "lng": "114.417084",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operationWarning.noItinerary.list,this.carType[2][4]);
            this.carCnt.operationWarning.dayNoPay.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.513822",  //114.414724,30.515977
                    "lng": "114.412364",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operationWarning.dayNoPay.list,this.carType[2][5]);
            this.carCnt.operationWarning.lost.list = [
                {
                    "imei": "865067025724397",
                    "gsmSignal": "23",
                    "defend": "",
                    "acc": "",
                    "lat": "30.517223",  //114.414724,30.515977
                    "lng": "114.414338",
                    "batteryLock": "9",
                    "batteryConnect": "6",
                    "backWheelLock": "",
                    "isAutoLock": "",
                    "autoLockPeriod": "",
                    "agentId": "2",
                    "state": "2",
                    "objectType": "",
                    "voltage": "31895",
                    "carId": "100600017"
                },
            ]
            this.help_addTypeForCar(this.carCnt.operationWarning.lost.list,this.carType[2][6]);

            // 运营
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operation.forRent.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operation.renting.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operation.ordered.list);
            // 下架
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.soldOut.toFix.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.soldOut.dragBack.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.soldOut.lowBattery.list);
            // 运营警示
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.batteryOff.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.defend.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.outOfFence.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.offLine.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.noItinerary.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.dayNoPay.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.lost.list);
            
            console.log("总的车辆信息汇总: ",this.carCnt.all.list);
            // 3,默认显示第一个服务区的Fence和car
            this.help_showFenceAndCar(idx);
        },
        // 4.2,辅助函数 --> 根据后台读取的数据更新 车辆数据信息
        help_updateCarCnt(carCnt,idx){
            // 1,赋值新的数据
            this.carCnt = carCnt;
            // 2,给all添加list字段
            this.carCnt.all.list = [];
         
            // 3,给每个车加一个类型
            this.help_addTypeForCar(this.carCnt.operation.forRent.list,this.carType[0][0]);
            this.help_addTypeForCar(this.carCnt.operation.renting.list,this.carType[0][1]);
            this.help_addTypeForCar(this.carCnt.operation.ordered.list,this.carType[0][2]);
            
            this.help_addTypeForCar(this.carCnt.soldOut.toFix.list,this.carType[1][0]);
            this.help_addTypeForCar(this.carCnt.soldOut.lowBattery.list,this.carType[1][1]);
            this.help_addTypeForCar(this.carCnt.soldOut.dragBack.list,this.carType[1][2]);

            this.help_addTypeForCar(this.carCnt.operationWarning.batteryOff.list,this.carType[2][0]);
            this.help_addTypeForCar(this.carCnt.operationWarning.defend.list,this.carType[2][1]);
            this.help_addTypeForCar(this.carCnt.operationWarning.outOfFence.list,this.carType[2][2]);
            this.help_addTypeForCar(this.carCnt.operationWarning.offLine.list,this.carType[2][3]);
            this.help_addTypeForCar(this.carCnt.operationWarning.noItinerary.list,this.carType[2][4]);
            this.help_addTypeForCar(this.carCnt.operationWarning.dayNoPay.list,this.carType[2][5]);
            this.help_addTypeForCar(this.carCnt.operationWarning.lost.list,this.carType[2][6]);

            // 运营
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operation.forRent.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operation.renting.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operation.ordered.list);
            // 下架
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.soldOut.toFix.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.soldOut.dragBack.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.soldOut.lowBattery.list);
            // 运营警示
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.batteryOff.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.defend.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.outOfFence.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.offLine.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.noItinerary.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.dayNoPay.list);
            this.carCnt.all.list = this.carCnt.all.list.concat(this.carCnt.operationWarning.lost.list);
            
            console.log("总的车辆信息汇总: ",this.carCnt.all.list);
            // 3,默认显示第一个服务区的Fence和car
            this.help_showFenceAndCar(idx);
        },
        // 1,读取服务区列表
        readServiceList(){
            var self = this;
            console.log("向 ",this.URLs.getServiceList,"发送post数据: ",this.URLs.getServiceListData);
            this.$http.post(
                this.URLs.getServiceList,
                this.URLs.getServiceListData,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"服务区列表读取成功",
                            });
                            self.serviceRawInfo = res.data;
                            console.log("读到服务区列表: ",self.serviceRawInfo);
                            // 更新服务区信息
                            self.help_updateService(self.serviceRawInfo);
                        }
                        else {
                            self.$Notice.error({
                                title:"服务区列表读取失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"服务区列表读取 异常"
                    });
            });
        },
        // 3,读取具体某个服务区的数据: 输入: 第几个服务区,服务区的索引
        readServiceInfo(idx){
            // 1,读取服务区的编号
            var serviceId = this.serviceInfo[idx].serviceId;
            var self = this;
            this.URLs.getServiceInfoData.serviceId = this.serviceInfo[idx].serviceId;
            
            // 2,读取数据
            this.$http.post(
                this.URLs.getServiceInfo,
                this.URLs.getServiceInfoData,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"服务区信息读取成功",
                            });
                            console.log("服务区信息: ",res.data);
                            // 更新车辆数据信息的展示, 更新fence和car的显示
                            self.help_updateCarCnt(res.data,idx);
                        }
                        else {
                            self.$Notice.error({
                                title:"服务区信息读取失败",
                            });
                        }

                        // 关闭刷新样式
                        var items = document.getElementById('refresh');
                        items.setAttribute('class','icon-load')
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"服务区信息读取 异常"
                    });
            });
        },
        /* 辅助函数 : 
                输入: 数组
                在地图上画点标记车辆 
        */
        // 辅助函数 --> 跳转到详细信息
        help_go2Detail(array,myId,type){
            var self = this;
            // 1,定义变量
            var params = {};
            // 2,构造变量
            params.imei = array[myId].imei;
            if(type == self.carType[0][0] || type == self.carType[0][1] || type == self.carType[0][2]){
                params.type = 'operation';
                params.alarmType = "";
                params.carStateColor = "#27FFD7";
                if(type == self.carType[0][0]) params.carState = '待租车辆';
                if(type == self.carType[0][1]) params.carState = '出租车辆';
                if(type == self.carType[0][2]) params.carState = '被预约车辆';
                
            }else if(type == self.carType[1][0] || type == self.carType[1][1] || type == self.carType[1][2]){
                params.type = 'soldOut';
                params.alarmType = "";
                params.carStateColor = "yellow";

                if(type == self.carType[1][0]) params.carState = '报修车辆';
                if(type == self.carType[1][1]) params.carState = '拖回车辆';
                if(type == self.carType[1][2]) params.carState = '低电量车辆';

            }else if(type == self.carType[2][0] || type == self.carType[2][1] || type == self.carType[2][2] ||
                    type == self.carType[2][3] || type == self.carType[2][4] || type == self.carType[2][5] ||
                    type == self.carType[2][6]
            ){
                params.type = 'operationWarning';
                params.alarmType = array[myId].alarmType;
                params.carStateColor = "red";

                if(type == self.carType[2][0]) params.carState = '电瓶移除';
                if(type == self.carType[2][1]) params.carState = '异常移动';
                if(type == self.carType[2][2]) params.carState = '出围栏';
                if(type == self.carType[2][3]) params.carState = '离线';
                if(type == self.carType[2][4]) params.carState = '有单无程';
                if(type == self.carType[2][5]) params.carState = '超一日无单';
                if(type == self.carType[2][6]) params.carState = '丢失';
            }
            params.agentId = 2;
            params.state = array[myId].state;
            params.isSearch = false;
            
            console.log("传参: ",params);
            // 2,obj转string
            var str = JSON.stringify(params);
            // 3,跳转页面
            window.open(window.location.origin + self.URLs.mapURL + encodeURIComponent(str)) ;
        },
        help_drawCar(array){
            var self = this;
            var data = array;

            var redMarker =  "<div style='width:5px; height:5px; background: red; border-radius:5px'></div>" ;
            var greenMarker = "<div style='width:5px; height:5px; background: #27FFD7; border-radius:5px'></div>";
            var yellowMarker = "<div style='width:5px; height:5px; background: yellow; border-radius:5px'></div>";

            // Marker的 点击响应函数 --> 跳转到详情页面
            var marker_click = function(e){
                var myId = e.target.F.id;
                var type = e.target.F.myType;
                // 跳转到详情页面
                self.help_go2Detail(array,myId,type);
            }
            // Marker的 移入响应函数
            var marker_hover = function(e){
                var myId = e.target.F.id;
                var type = e.target.F.myType;
                var place = [e.target.getPosition().lng ,e.target.getPosition().lat + 0.001];
                e.target.F.info.open(self.mapData.map,place);
            }
            // Marker的 移出响应函数
            var marker_out = function(e){
                e.target.F.info.close();
            }
            // 1,清空旧数据
            for(var i = 0;i<self.markerList.length;i++){
                self.markerList[i].hide();
            }
            self.markerList = [];

            // 2,创建Marker,添加到数组markerList中
            for(var i = 0;i<data.length;i++){
                var self = this;
                (function(i){
                    var markerType = null;
                    // (1) 选择marker的类型
                    if(data[i].type == self.carType[0][0] || data[i].type == self.carType[0][1] || data[i].type == self.carType[0][2] ){
                        markerType = greenMarker;
                    }else if(data[i].type == self.carType[1][0] || data[i].type == self.carType[1][1] ||data[i].type == self.carType[1][2] ){
                        markerType = yellowMarker;
                    }else if(data[i].type == self.carType[2][0] || data[i].type == self.carType[2][1]  || 
                            data[i].type ==  self.carType[2][2]  || data[i].type == self.carType[2][3]   ||
                            data[i].type ==  self.carType[2][4]  || data[i].type ==  self.carType[2][5]  || 
                            data[i].type ==  self.carType[2][6] 
                    ){
                        markerType = redMarker;
                    }
                    // (2) for循环阻塞,设置每个marker: 绑定事件,信息窗体,信息窗体的绑定事件
                    // 我自己定义要使用的变量
                    var carId = data[i].carId;
                    var myType = data[i].type;
                    var place = [data[i].lng,data[i].lat];
                    var myData = data[i];
                    // 设置信息窗体
                    AMapUI.setDomLibrary($);
                    AMapUI.loadUI(['overlay/SimpleInfoWindow'], function(SimpleInfoWindow) {
                        var infoWindow = new SimpleInfoWindow({
                            infoTitle : '<strong>车辆号</strong>',
                            infoBody  : '<p class="myBody">' + carId + '</p>',
                            myId      : i,
                            myType    : myType,
                        });
                        infoWindow.get$Container().on('click', '.myBody',function(event) {
                            infoWindow.close();
                            /*************************** 未完,待续*********************************************/
                            // 跳转到详情页面
                            self.help_go2Detail(array,infoWindow.F.myId,infoWindow.F.myType);
                            /************************************************************************/
                        });
                        // (3) 创建marker,并添加事件
                        var marker = new AMap.Marker({
                            content  :markerType,
                            id       :i,
                            myType   :myType,
                            info     :infoWindow,
                            position :place,
                            map      :self.mapData.map,
                        })
                        marker.on('click',marker_click);
                        marker.on('mouseover',marker_hover);
                        marker.on('mouseout',marker_out);
                        
                        self.markerList[i] = marker;

                        // console.log("marker: ",marker);
                    });
                })(i);
            }
        },
        /* 辅助函数 :
                (1) 展示具体某个服务区的电子围栏 
                (2) 展示里面的车辆点
        */
        help_showFenceAndCar(id){
            if(this.serviceRawInfo.length == []) return;
            // 1,显示电子围栏
            if(this.serviceRawInfo[id].shapeType == 'polygon'){
                this.mapData.polygon.setPath(this.serviceRawInfo[id].pointList);
                this.mapData.polygon.show();
                this.mapData.circle.hide();
            }else if(this.serviceRawInfo[id].shapeType == 'circle'){
                var center = [this.serviceRawInfo[id].centerLng,this.serviceRawInfo[id].centerLat];
                this.mapData.circle.setCenter(center);
                if(this.serviceRawInfo[id].pointList instanceof Array){
                    this.mapData.circle.setRadius(this.serviceRawInfo[id].pointList[0]);
                }else{
                    this.mapData.circle.setRadius(this.serviceRawInfo[id].pointList);
                }
                this.mapData.polygon.hide();
                this.mapData.circle.show();
            }
            // 2,显示车辆点
            this.help_drawCar(this.carCnt.all.list);
            this.mapData.map.setFitView();
        },
        /************ 过滤显示具体类型车辆 ******************/
        filterCar(type){
            console.log("选择类型: ",type);
            if(type == 'all'){
                for(var i = 0;i<this.markerList.length;i++){
                    this.markerList[i].show();
                }    
                return;
            }
            for(var i = 0;i<this.markerList.length;i++){
                if(this.markerList[i].F.myType == type){
                    this.markerList[i].show();
                }else{
                    this.markerList[i].hide(); 
                }
            }
        },
        /************ 服务区选择 ***************************/
        // 辅助函数 --> 服务区颜色切换
        help_changeServiceColor(id){
             if(id == 1){
                // 1,颜色切换
                this.colorCtr.serviceArea1 = this.colorCtr.light;
                this.colorCtr.serviceArea2 = this.colorCtr.gray;
                this.colorCtr.serviceArea3 = this.colorCtr.gray;
                this.colorCtr.serviceArea4 = this.colorCtr.gray;

            }else if(id == 2){
                // 1,颜色切换
                this.colorCtr.serviceArea1 = this.colorCtr.gray;
                this.colorCtr.serviceArea2 = this.colorCtr.light;
                this.colorCtr.serviceArea3 = this.colorCtr.gray;
                this.colorCtr.serviceArea4 = this.colorCtr.gray;
            }else if(id == 3){
                // 1,颜色切换
                this.colorCtr.serviceArea1 = this.colorCtr.gray;
                this.colorCtr.serviceArea2 = this.colorCtr.gray;
                this.colorCtr.serviceArea3 = this.colorCtr.light;
                this.colorCtr.serviceArea4 = this.colorCtr.gray;
            }else if(id == 4){
                // 1,颜色切换
                this.colorCtr.serviceArea1 = this.colorCtr.gray;
                this.colorCtr.serviceArea2 = this.colorCtr.gray;
                this.colorCtr.serviceArea3 = this.colorCtr.gray;
                this.colorCtr.serviceArea4 = this.colorCtr.light;
            }else{
                this.colorCtr.serviceArea1 = this.colorCtr.gray;
                this.colorCtr.serviceArea2 = this.colorCtr.gray;
                this.colorCtr.serviceArea3 = this.colorCtr.gray;
                this.colorCtr.serviceArea4 = this.colorCtr.gray;
            }
        },
        // 选择服务区
        chooseService(id){
            // 1,补充保护逻辑: 如果该Tab没有服务区,byebye!!
            if(id == 1 && this.serviceName.service1 == '') return;
            else if(id == 2 && this.serviceName.service2 == '') return;
            else if(id == 3 && this.serviceName.service3 == '') return;
            else if(id == 4 && this.serviceName.service4 == '') return;


            // 1,更新颜色
            this.serviceCtr.curPtr = this.serviceCtr.pointer + id;
            this.help_changeServiceColor(id);
            // 2,找到他的serviceId
            var serviceId = this.serviceInfo[this.serviceCtr.curPtr - 1].serviceId;
            var serviceName = this.serviceInfo[this.serviceCtr.curPtr - 1].serviceName;
            console.log("服务区名称: ",serviceName,'服务区ID: ',serviceId);
            // 3,读取服务区信息 并展示
            this.readServiceInfo(this.serviceCtr.curPtr-1);
        },
        /************ 输入判断 *******************************/
        checkInput(e){
            // 输入了回车
            if(e.keyCode == 13){
                this.search();
                return;
            }
            // 正常输入
            var changedValue=this.userInput.replace(/[^\d,\.]/g,'')
            if(changedValue != this.userInput){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如18"
                })
                this.userInput = "";
            }
        },
        /************ 翻页逻辑 *******************************/
        // 服务区左移
        moveLeft(){
            // 1,补充保护逻辑: 如果服务区的总数少于4个,不支持翻页功能
            if(this.serviceCtr.len <= 4) return;
            // 左边还有很多服务区
            if(this.serviceCtr.pointer >= 4){
                this.serviceCtr.pointer =  this.serviceCtr.pointer - 4;
                var pointer = this.serviceCtr.pointer;
                this.serviceName.service1 = this.serviceInfo[pointer].serviceName;
                this.serviceName.service2 = this.serviceInfo[pointer+1].serviceName;
                this.serviceName.service3 = this.serviceInfo[pointer+2].serviceName;
                this.serviceName.service4 = this.serviceInfo[pointer+3].serviceName;
            }
            // 后面少于4个服务区
            else{
                this.serviceCtr.pointer =  0
                var pointer = this.serviceCtr.pointer;
                this.serviceName.service1 = this.serviceInfo[pointer].serviceName;
                this.serviceName.service2 = this.serviceInfo[pointer+1].serviceName;
                this.serviceName.service3 = this.serviceInfo[pointer+2].serviceName;
                this.serviceName.service4 = this.serviceInfo[pointer+3].serviceName;
            }
            this.help_changeServiceColor(this.serviceCtr.curPtr - this.serviceCtr.pointer);
        },
        // 服务区右移
        moveRight(){
            // 1,补充保护逻辑: 如果服务区的总数少于4个,不支持翻页功能
            if(this.serviceCtr.len <= 4) return;
            // 右边还有很多服务区
            if(this.serviceCtr.len - this.serviceCtr.pointer >= 8){
                this.serviceCtr.pointer =  this.serviceCtr.pointer + 4;
                var pointer = this.serviceCtr.pointer;
                this.serviceName.service1 = this.serviceInfo[pointer].serviceName;
                this.serviceName.service2 = this.serviceInfo[pointer+1].serviceName;
                this.serviceName.service3 = this.serviceInfo[pointer+2].serviceName;
                this.serviceName.service4 = this.serviceInfo[pointer+3].serviceName;
            }
            // 后面少于4个服务区
            else{
                this.serviceCtr.pointer =  this.serviceCtr.len - 4;
                var pointer = this.serviceCtr.pointer;
                this.serviceName.service1 = this.serviceInfo[pointer].serviceName;
                this.serviceName.service2 = this.serviceInfo[pointer+1].serviceName;
                this.serviceName.service3 = this.serviceInfo[pointer+2].serviceName;
                this.serviceName.service4 = this.serviceInfo[pointer+3].serviceName;
            }
            this.help_changeServiceColor(this.serviceCtr.curPtr - this.serviceCtr.pointer);
        },
        /************ 搜索 ************************************/
        // 搜索
        search(){
            var self = this;
            // 1,校验
            if(this.userInput == '' || this.userInput == '车辆号/设备号'){
                this.$Modal.warning({
                    title:"输入有误",
                    content:"请输入合法的车辆号或设备号"
                })
                return;
            }
            var len = this.userInput.length;
            console.log("len: ",len);
            if(len != 15 && len != 9){
                 this.$Modal.warning({
                    title:"输入有误",
                    content:"车辆号或设备号长度有误"
                })
                return;
            }
            // 2,搜索
            var url = this.URLs.search + this.userInput;
            console.log("向 ",url,' 发送get请求搜索数据 ');
            // 2,请求数据
            this.$http.get(url).then(
                function(res){
                    res = res.body;
                    console.log("搜索返回: ",res);
                    if(res.suc == true) {
                        self.$Notice.success({
                            title:"搜索成功",
                        });
                        console.log("搜索读取的数据: ",res.data);
                    }
                    else {
                        self.$Notice.error({
                            title:"搜索失败",
                        });
                    }
                }).catch( function(err){
                    self.$Notice.error({
                        title:"数据读取 异常"
                    });
            });
            /****************** to be continue... ***************************************/
            /*
            // 2,构造参数
            var param = {};
            param.isSearch = true;
            param.info = this.userInput;

            console.log("跳转页面传参: ",param);
            var str = JSON.stringify(param);
            // 3,传参
            window.open(window.location.origin + self.URLs.mapURL + encodeURIComponent(str),'_blank');
            */
        },
        /*************** 初始化地图 ****************************/
        // 初始化地图
        initMap(){
            // 1,初始化地图
            var self = this;
            self.mapData.map = new AMap.Map('container',{
                    mapStyle: 'amap://styles/7ff74f54c1e36a03a20d0bd77f6120d3' // 极夜黑
                }
            );
            var place = [114.430857,30.508989];
            self.mapData.map.setCenter(place);
            // 设置分辨率
            self.mapData.map.setZoom(10);     // 俯瞰全国
            // 2,初始化 多边形围栏
            self.mapData.polygon=(function(){
                var arr = [
                    [114.414724-0.01,30.515977-0.01],
                    [114.414724-0.024,30.515977+0.02],
                    [114.414724+0.012,30.515977+0.023],
                    [114.414724+0.032,30.515977-0.015],
                    [114.414724+0.022,30.515977-0.017],
                    [114.414724+0.012,30.515977-0.018],
                ];
                return new AMap.Polygon({
                    map: self.mapData.map,
                    path: arr,
                    strokeColor: "#8C8C8C",
                    strokeOpacity: 1,
                    strokeWeight: 1,
                    fillColor: "#4F505E",
                    fillOpacity: 0.35
                });
            })();
            self.mapData.polygon.hide();
            // 3,初始化 圆形围栏
            self.mapData.circle=(function(){
                var circle = new AMap.Circle({
                    center: place,// 圆心位置
                    radius: 100, //半径
                    strokeColor: "#8C8C8C", //线颜色
                    strokeOpacity: 1, //线透明度
                    strokeWeight: 1, //线粗细度
                    fillColor: "#4F505E", //填充颜色
                    fillOpacity: 0.35//填充透明度
                });
                circle.setMap(self.mapData.map);
                return circle;
            })();
            self.mapData.circle.hide();
            // 4,适应展示
            self.mapData.map.setFitView();
        },
        /************ 强行刷新 *********************************/
        refresh(){
            // this.readServiceInfo(this.serviceCtr.curPtr-1);
            var items = document.getElementById('refresh');
            items.setAttribute('class','spin-icon-load')
            this.chooseService(this.serviceCtr.curPtr - this.serviceCtr.pointer);
        },
    }
}
</script>
<style scoped>
/************ 加载条 ***********************************/
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.spin-icon-load{
    width:20px;height:20px;
    animation: ani-demo-spin 1s linear infinite;
}
.icon-load{
    width:20px;height:20px;
}
/**************************************************/
/* 服务器名字显示 */
.serviceNameCss{
    width:120px;
    color: white;
    font-size:15px;
    padding-top:9%;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
}
/* 服务器框显示*/
.serviceCss{
    float:left;
    height:40px;
    margin-left:2%;
    border-radius: 10px 10px 0 0;
}
</style>
