<template>
    <div class="layout">
        <!-- 恒基共享运营平台 -->
        <div style="width:100%;height:100px;display:flex; position:relative; top:0; left:0;">
            <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_caocao.png" 
                 style="width:70px; height:70px;margin-left:5%;margin-top:0.3%;"/>
            <div style="width:50%;height:100%;text-align:left;margin-top:1%;">
                <span style="font-size:20px;color:#1FC3A4;margin-left:4%;">恒基共享</span>
                <br>
                <span style="font-size:20px;color:white;margin-left:4%;">电曹操运营平台</span>
            </div>
        </div>
        <!-- 地图与信息 -->
        <div style="position:relative;width:100%; height:100%;">
            <!-- 地图 -->
            <div id = 'container' style="width:100%; height:100%;"></div>
            <!-- 上边栏 -->
            <div style="
                position:absolute;
                top:0;left:2%;
                width:850px; height:65px;
                margin-top:0.5%;
                background: rgba(0,0,0,0.8);
                display:flex;
                ">
                <!-- 设备号 -->
                <div style="
                    width:15%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div class="upName">设备号</div>
                    <div class="upValue">{{UI.imei}}</div>
                </div>
                <!-- 车辆号 -->
                <div style="
                    width:15%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div class="upName">车辆号</div>
                    <div class="upValue">{{UI.carId}}</div>
                </div>
                <!-- 车辆状态 -->
                <div style="
                    width:15%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div class="upName">车辆状态</div>
                    <div style="display:flex; width:100%; height:25px;">
                        <div v-bind:style="{
                                'width':'5px', 'height':'5px',
                                'margin-top':'7%',
                                'margin-left':'30%',
                                'border-radius':'5px',
                                'background':UI.carStateColor
                                }"></div>
                        <div v-bind:style="{
                                'font-size':'12px',
                                'color':UI.carStateColor,
                                'margin-top':'3%',
                                'margin-left':'5%',
                            }">{{UI.carState}}</div>
                    </div>
                </div>
                <!-- 电门状态 -->
                <div style="
                    width:15%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div class="upName">电门状态</div>
                    <div v-bind:style="{
                            'font-size':'12px',
                            'color':UI.accColor,
                            'margin-top':'3%',
                        }">{{UI.acc}}</div>
                </div>
                <!-- 电池仓状态 -->
                <div style="
                    width:15%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div class="upName">电池仓状态</div>
                    <div v-bind:style="{
                            'font-size':'12px',
                            'color':UI.batteryLockColor,
                            'margin-top':'3%',
                            }">{{UI.batteryLock}}</div>
                </div>
                <!-- 设防状态 -->
                <div style="
                    width:15%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div class="upName">设防状态</div>
                    <div v-bind:style="{
                            'font-size':'12px',
                            'color':UI.defendColor,
                            'margin-top':'3%'
                            }">{{UI.defend}}</div>
                </div>
                 <!-- 后轮锁状态 -->
                <div style="
                    width:15%; height:80%;
                    margin-top:1%;
                    ">
                    <div class="upName">后轮锁状态</div>
                    <div v-bind:style="{
                            'font-size':'12px',
                            'color':UI.backWheelLockColor,
                            'margin-top':'3%',
                            }">{{UI.backWheelLock}}</div>
                </div>
            </div> 
            <!-- 左边列 -->
            <div v-if="UI.ticket.visiable"
               style="
                position:absolute;
                top:12%; left:2%;
                width:120px;
                height:380px;
                background: rgba(0,0,0,0.8);
                ">
                <!-- 工单信息 -->
                <div style="
                    width:100%; height:50px;
                    color:#1FC3A4; font-size:17px;
                    text-align:center;
                    ">
                    <div style="padding-top:10%;">工单信息</div>
                </div>
                <!-- 工单时间 -->
                <div style="
                    width:100%; height:60px;
                    color:white;
                    text-align:center;
                    background: #191919;
                    ">
                    <div style="padding-top:5%; font-size:15px;">工单时间</div>
                    <div style="padding-top:5%; font-size:12px;">{{UI.ticket.ticketTime}}</div>
                </div>
                <!-- 工单状态 -->
                <div style="
                    width:100%; height:60px;
                    color:white; 
                    text-align:center;
                    ">
                    <div style="padding-top:10%;font-size:15px;">工单状态</div>
                    <div style="display:flex; width:100%; height:25px;">
                        <div v-bind:style="{
                                'width':'5px', 'height':'5px',
                                'margin-top':'9%',
                                'margin-left':'25%',
                                'border-radius':'5px',
                                'background':UI.ticket.ticketStateColor
                                }"></div>
                        <div v-bind:style="{
                                    'font-size':'12px', 
                                    'color':UI.ticket.ticketStateColor, 
                                    'margin-top':'3%',
                                    'margin-left':'5%',
                            }">{{UI.ticket.ticketState}}</div>
                    </div>
                </div>
                <!-- 处理人手机号 -->
                <div style="
                    width:100%; height:60px;
                    color:white;
                    text-align:center;
                    background: #191919;
                    ">
                    <div style="padding-top:10%; font-size:15px;">处理人手机号</div>
                    <div style="padding-top:5%; font-size:12px;">{{UI.ticket.tel}}</div>
                </div>
                <!-- 处理时间 -->
                <div style="
                    width:100%; height:60px;
                    color:white; 
                    text-align:center;
                    ">
                    <div style="padding-top:10%;font-size:15px;">处理时间</div>
                    <div style="padding-top:5%;font-size:12px;">{{UI.ticket.handleTime}}</div>
                </div>
                <!-- 闭合工单 -->
                <div style="
                    width:100%; height:60px;
                    color:white; font-size:15px;
                    ">
                    <div style="
                        width:80%; height:40%; 
                        background:#1FC3A4;
                        margin-top:10%;
                        margin-left:10%;
                        cursor:pointer;
                        border-radius:20px;"
                        @click="shut_ticket">
                        闭合工单
                    </div>
                </div>
            </div>
            <!-- 右边列 -->
            <div style="
                position:absolute;
                top:1%; right:2%;
                width:250px;
                height:230px;
                background: rgba(0,0,0,0.8);
                ">
                <!-- 行程轨迹 -->
                <div style="
                    width:100%; height:40px;
                    font-size:17px; color:#1FC3A4;
                    ">
                    <div style="padding-top:2%;">行程轨迹</div>
                </div>
                <!-- 起始时间 -->
                <div style="width:100%; height:40px;display:flex;">
                    <div style="color:white; font-size:10px;margin-top:3%;margin-left:6%;">起始时间</div>
                    <DatePicker type="datetime" format="yyyy-MM-dd HH:mm" placeholder="请输入起始时间" 
                                style="width: 180px; margin-left:10px;" @on-ok="ok_startTime" v-model="timePeriod.startTime"></DatePicker>
                </div>
                <!-- 还车时间 -->
                <div style="width:100%; height:40px;display:flex;">
                    <div style="color:white; font-size:10px;margin-top:3%;margin-left:6%;">还车时间</div>
                    <DatePicker type="datetime" format="yyyy-MM-dd HH:mm" placeholder="请输入还车时间" 
                                style="width: 180px; margin-left:10px;"  @on-ok="ok_endTime" v-model="timePeriod.endTime"></DatePicker>
                </div>
                <!-- 进度条 -->
                <Slider v-model="timePeriod.curTime" :step="10"  :tip-format="format" @on-change='silder_change'
                        style="width:90%;margin-left:5%;color:red;"></Slider>
                <div style="
                    width:100%; height:20px;
                    color:white;
                    margin-top:-10px;
                    float:right;
                    margin-right:10px;
                    text-align:right;
                    ">用时：{{timePeriod.curTimeFormat}}</div>
                <!-- 开始按钮 -->
                <img v-if="timePeriod.running" src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_running.png" style="width:45px; height:45px;margin-top:8px;" @click="pauseRun"/>
                <img v-else src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_start.png" style="width:65px; height:65px;margin-top:0px;" @click="startRun"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /*****************************************************/
            timePeriod:{
                // 起止时间
                startTime:"",
                startTimeStamp:0,
                endTime:"",
                endTimeStamp:0,

                // 滑块的时间
                curTime:0,
                curTimeFormat:'00:00:00',
                maxTime:0,
                maxTimeFormat:'00:00:00',

                running:false,
                trace:null,
                
                // 运动点
                startMarker:null,
                endMarker:null,
                moveMarker:null,
                curMarker:null,

                isStarted:false,            // 是否已经开始
            },
            /***************** UI数据 *****************************/
            UI:{
                imei:"123456789012354",
                carId:"123456789",
                carState:"待租车辆",
                carStateColor:"#1FC3A4",
                acc:"开启",
                accColor:"#1FC3A4",
                batteryLock:"关闭",
                batteryLockColor:"yellow",
                defend:"开启",
                defendColor:"#1FC3A4",
                backWheelLock:"关闭",
                backWheelLockColor:"yellow",
                ticket:{
                    visiable:true,
                    ticketTime:"2017/12/21 12:30",
                    ticketState:"待完成",
                    ticketStateColor:"yellow",
                    tel:"15963254786",
                    handleTime:"2017/12/21 12:31",
                },
            },
            /***************** Raw数据 *****************************/
            Raw:{
                isSearch:false,
                marker_data:{

                },
                search_data:{

                },
            },
            Raw_param:{},
            /**************** 原始 轨迹数据 *************************/
            Raw_Trace:{
                Raw_Trace:[],        // 原始轨迹
                Raw_runTrace:[],     // 正在 播放的轨迹数据
                curPosition:0,       // 记录当前的 播放的位置
            },
            /***************** 路由 *******************************/
            URLs:{
                Host:null,
                singleDevInfo:null,
                Data4singleDevInfo:{
                    imei:"",
                    type: "",
                    alarmType:"",
                    agentId:'',
                    state:'',
                },
                search:null,
                shut_ticket_alarm:null,
                shut_ticket_flxed:null,
                Data4shut_Ticket:{
                    "ticketNo":'',
                    "authInfo":{
                        "agentId":2,
                        "opManId":'',
                    },
                },
                getTrace:null,
            },
            map:null,
        }
    },
    mounted(){
        var self = this;
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }else if(versionType == 'localTest'){
            this.Host = myConfig.host.test_url;
        }
        this.URLs.singleDevInfo     = this.Host + myConfig.newCarManagerInfo.singleDevInfo;
        this.URLs.search            = this.Host + myConfig.newCarManagerInfo.search;
        this.URLs.shut_ticket_alarm = this.Host + myConfig.newCarManagerInfo.shut_ticket_alarm;
        this.URLs.shut_ticket_fixed = this.Host + myConfig.newCarManagerInfo.shut_ticket_fixed;
        this.URLs.getTrace          = this.Host + myConfig.newCarManagerInfo.getTrace;
        /************ 读取传参 **********************************/
        var param = window.location.href;
        var tmp = param.split('=')[1];
        tmp = decodeURIComponent(tmp);
        param = JSON.parse(tmp);
        console.log("收到传参: ",param);
        this.Raw_param = param;
        this.readData(param);
        /*******************************************************/
        this.initMap();
        this.help_initTrace();

    },
    methods:{
        /************** 初始化地图 **********************************/
        initMap(){
            // 1,初始化地图
            var self = this;
            self.map = new AMap.Map('container',{
                    mapStyle: 'amap://styles/7ff74f54c1e36a03a20d0bd77f6120d3' // 极夜黑
                }
            );
            var place = [114.430857,30.508989];
            self.map.setCenter(place);
            // 设置分辨率
            self.map.setZoom(10);     // 俯瞰全国
            self.map.setFitView();
        },
        /************** 页面更新 ***********************************/
        // 辅助函数 --> 将Date对象转换成 2018-02-01 12:45:25
        help_dateToString(date){
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var h  = date.getHours();
            var m  = date.getMinutes() ;
            var s = date.getSeconds();
            return year + '-' + month + '-' + day + ' ' + h + ':' + m + ':' + s;
        },
        // 辅助函数 --> 将轨迹点的起止时间显示在时间选择器中
        help_setDatePicker(array){
            if(array.length == 0) return;
            var tmp = new Date(array[0].timestamp*1000);
            var st = this.help_dateToString(tmp);
            this.timePeriod.startTime = st;

            tmp = new Date(array[array.length-2].timestamp*1000);
            var et = this.help_dateToString(tmp);
            this.timePeriod.endTime = et;
        },
        // marker方式更新页面
        update_UI_byMarker(){
            var self = this;
            /**************** 上边车辆信息展示 ***********************/
            // 设备号
            this.UI.imei     = this.Raw.marker_data.devInfo.imei;
            // 车辆号
            this.UI.carId    = this.Raw.marker_data.devInfo.carId;
            // 电门状态
            if( this.Raw.marker_data.devInfo.acc == 'true') {
                this.UI.acc = '开启';
                this.UI.accColor = "#27FFD7";
             }
            else if( this.Raw.marker_data.devInfo.acc == 'false'){
                this.UI.acc = '关闭';
                this.UI.accColor = "yellow";
             }
            else{
                this.UI.acc = '-- --';
                this.UI.accColor = "red";
             }
            // 电池仓状态
            if( this.Raw.marker_data.devInfo.batteryLock == 'true') {
                this.UI.batteryLock = '开启';
                this.UI.batteryLockColor = "#27FFD7";
             }
            else if( this.Raw.marker_data.devInfo.batteryLock == 'false'){
                this.UI.batteryLock = '关闭';
                this.UI.batteryLockColor = "yellow";
             }
            else{
                this.UI.batteryLock = '-- --';
                this.UI.batteryLockColor = "red";
             }
            // 设防状态
            if( this.Raw.marker_data.devInfo.defend == 'true') {
                this.UI.defend = '开启';
                this.UI.defendColor = "#27FFD7";
             }
            else if( this.Raw.marker_data.devInfo.defend == 'false'){
                this.UI.defend = '关闭';
                this.UI.defendColor = "yellow";
             }
            else{
                this.UI.defend = '-- --';
                this.UI.defendColor = "red";
             }
            // 后轮锁状态
            if( this.Raw.marker_data.devInfo.backWheelLock == 'true') {
                this.UI.backWheelLock = '开启';
                this.UI.backWheelLockColor = "#27FFD7";
             }
            else if( this.Raw.marker_data.devInfo.backWheelLock == 'false'){
                this.UI.backWheelLock = '关闭';
                this.UI.backWheelLockColor = "red";
             }
            else{
                this.UI.backWheelLock = '-- --';
                this.UI.backWheelLockColor = "red";
             }
            /**************** 左边工单信息展示 ***********************/
            if('ticket' in this.Raw.marker_data){
                if(this.Raw.marker_data.ticket.length == 0){
                    this.UI.ticket.visiable = false;    
                }else{
                    this.UI.ticket.visiable = true;
                    // 工单时间
                    var tmp = this.Raw.marker_data.ticket[0].createdAt;               
                    tmp = new Date(tmp);
                    this.UI.ticket.ticketTime = self.help_dateToString(tmp);
                    // 工单状态
                    if(this.Raw.marker_data.ticket[0].state == 0){
                        this.UI.ticket.ticketState = '待完成';
                        this.UI.ticket.ticketStateColor = 'yellow';
                    }else if(this.Raw.marker_data.ticket[0].state == 1){
                        this.UI.ticket.ticketState = '正在维修';
                        this.UI.ticket.ticketStateColor = '#F93938';
                    }else if(this.Raw.marker_data.ticket[0].state == 2){
                        this.UI.ticket.ticketState = '已完成';
                        this.UI.ticket.ticketStateColor = '#28FED6';
                    }else if(this.Raw.marker_data.ticket[0].state == 3){
                        this.UI.ticket.ticketState = '拖回';
                        this.UI.ticket.ticketStateColor = '#FE7327';
                    }
                    // 处理人手机
                    this.UI.ticket.tel = this.Raw.marker_data.ticket[0].fixManId;
                    // 处理时间
                    tmp = this.Raw.marker_data.ticket[0].updatedAt;               
                    tmp = new Date(tmp);
                    this.UI.ticket.handleTime = self.help_dateToString(tmp);
                }
                
            }else{
                this.UI.ticket.visiable = false;
            }
            /**************** 设置现在的位置 *************************/
            // this.setCurPosition();
            this.timePeriod.curMarker.setPosition([this.Raw.marker_data.devInfo.lng,this.Raw.marker_data.devInfo.lat]);
            this.timePeriod.curMarker.show();
            /**************** 设置轨迹 *******************************/
            this.help_setDatePicker(this.Raw.marker_data.itinerary);
            this.setTrace(this.Raw.marker_data.itinerary);
        },
        // search方式更新页面
        update_UI_bySearch(){
            var self = this;
            /******************* 上边车辆信息展示 ******************************/
            // 设备号
            this.UI.imei = this.Raw.search_data.deviceInfo.imei;
            // 车辆号
            this.UI.carId = this.Raw.search_data.deviceInfo.carId;
            // 车辆状态  --> 没有数据
            this.UI.carState = ' -- --';
            this.UI.carStateColor = 'red';
            // 电门状态
            if( this.Raw.search_data.deviceInfo.acc == '1') {
                this.UI.acc = '开启';
                this.UI.accColor = "#27FFD7";
             }
            else if( this.Raw.search_data.deviceInfo.acc == '0'){
                this.UI.acc = '关闭';
                this.UI.accColor = "yellow";
             }
            else{
                this.UI.acc = '-- --';
                this.UI.accColor = "red";
             }
            // 电池仓状态
            if( this.Raw.search_data.deviceInfo.batteryLock == '1') {
                this.UI.batteryLock = '开启';
                this.UI.batteryLockColor = "#27FFD7";
             }
            else if( this.Raw.search_data.deviceInfo.batteryLock == '0'){
                this.UI.batteryLock = '关闭';
                this.UI.batteryLockColor = "yellow";
             }
            else{
                this.UI.batteryLock = '-- --';
                this.UI.batteryLockColor = "red";
             }
            // 设防状态
            if( this.Raw.search_data.deviceInfo.defend == '1') {
                this.UI.defend = '开启';
                this.UI.defendColor = "#27FFD7";
             }
            else if( this.Raw.search_data.deviceInfo.defend == '0'){
                this.UI.defend = '关闭';
                this.UI.defendColor = "yellow";
             }
            else{
                this.UI.defend = '-- --';
                this.UI.defendColor = "red";
             }
            // 后轮锁状态
            if( this.Raw.search_data.deviceInfo.backWheelLock == '1') {
                this.UI.backWheelLock = '开启';
                this.UI.backWheelLockColor = "#27FFD7";
             }
            else if( this.Raw.search_data.deviceInfo.backWheelLock == '0'){
                this.UI.backWheelLock = '关闭';
                this.UI.backWheelLockColor = "yellow";
             }
            else{
                this.UI.backWheelLock = '-- --';
                this.UI.backWheelLockColor = "red";
             }
            /******************* 工单信息 ***********************************/
            if('ticketInfo' in this.Raw.search_data){
                this.UI.ticket.visiable = true;
                // 工单时间
                if(this.Raw.search_data.ticketInfo.createdAt == null || this.Raw.search_data.ticketInfo.createdAt == ''){
                    this.UI.ticket.ticketTime = '-- --';
                }else{
                    var tmp = this.Raw.search_data.ticketInfo.createdAt;               
                    tmp = new Date(tmp);
                    this.UI.ticket.ticketTime = self.help_dateToString(tmp);
                }
                // 工单状态
                if(this.Raw.search_data.ticketInfo.state == 0){
                    this.UI.ticket.ticketState = '待完成';
                    this.UI.ticket.ticketStateColor = 'yellow';
                }else if(this.Raw.search_data.ticketInfo.state == 1){
                    this.UI.ticket.ticketState = '正在维修';
                    this.UI.ticket.ticketStateColor = '#F93938';
                }else if(this.Raw.search_data.ticketInfo.state == 2){
                    this.UI.ticket.ticketState = '已完成';
                    this.UI.ticket.ticketStateColor = '#28FED6';
                }else if(this.Raw.search_data.ticketInfo.state == 3){
                    this.UI.ticket.ticketState = '拖回';
                    this.UI.ticket.ticketStateColor = '#FE7327';
                }
                // 处理人手机号
                if(this.Raw.search_data.ticketInfo.fixManId == null || this.Raw.search_data.ticketInfo.fixManId == ''){
                    this.UI.ticket.tel = '-- --';
                }else{
                    this.UI.ticket.tel = this.Raw.search_data.ticketInfo.fixManId;
                }
                // 处理时间
                if(this.Raw.search_data.ticketInfo.updatedAt == null || this.Raw.search_data.ticketInfo.updatedAt == ''){
                    this.UI.ticket.handleTime = '-- --';
                }else{
                    var tmp = this.Raw.search_data.ticketInfo.updatedAt;               
                    tmp = new Date(tmp);
                    this.UI.ticket.handleTime = self.help_dateToString(tmp);
                }
            }else{
                this.UI.ticket.visiable = false;
            }
            /**************** 设置轨迹 *******************************/
            this.help_setDatePicker(this.Raw.search_data.tracingPoints);
            this.setTrace(this.Raw.search_data.tracingPoints);
        },
        /************** 读取传参 + 读取数据 *************************/
        // 辅助函数 --> 设置 UI的车辆状态
        help_updateCarState(){
            if(this.Raw_param.state == '1'){
                this.UI.carState = '可使用';
            }else if(this.Raw_param.state == '2'){
                this.UI.carState = '骑行中';
            }else if(this.Raw_param.state == '3'){
                this.UI.carState = '设备报修';
            }else if(this.Raw_param.state == '4'){
                this.UI.carState = '设备被预约';
            }else if(this.Raw_param.state == '5'){
                this.UI.carState = '设备离线';
            }else if(this.Raw_param.state == '6'){
                this.UI.carState = '处于工人换电池阶段';
            }else if(this.Raw_param.state == '7'){
                this.UI.carState = '拖回中';
            }
        },
        // 从url中读取参数,然后利用参数向服务器读数据或直接展示
        readData(param){
            this.Raw.isSearch = param.isSearch;
            if(param.isSearch == false){
                // 更新车辆状态
                this.help_updateCarState();
                // 更新其他UI
                this.readData_marker(param);
            }else{
                this.readData_search(param);
            }
        },
        // 1,点击marker跳转过来的, 向服务器读取数据
        readData_marker(param){
            var self = this;
            // 1,构造参数
            this.URLs.Data4singleDevInfo.imei = param.imei;
            this.URLs.Data4singleDevInfo.type = param.type;
            this.URLs.Data4singleDevInfo.alarmType = param.alarmType;
            this.URLs.Data4singleDevInfo.agentId = param.agentId;
            this.URLs.Data4singleDevInfo.state = param.state;
            // 2,请求数据
            console.log("向 ",this.URLs.singleDevInfo,' 发送post请求数据: ',this.URLs.Data4singleDevInfo);
            this.$http.post(
                this.URLs.singleDevInfo,
                this.URLs.Data4singleDevInfo,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:" 数据读取 成功",
                            });
                            console.log("marker方式读取数据: ",res.data);
                            // 更新 UI
                            self.Raw.marker_data = res.data;
                            self.update_UI_byMarker();
                        }
                        else {
                            self.$Notice.error({
                                title:"数据读取 失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"数据读取 异常"
                    });
            });
        },
        // 2,点击搜索跳转过来的,直接更新UI
        readData_search(param){
            var self = this;
            // 1,构造访问url
            var url = this.URLs.search + param.info;
            console.log("向 ",url,' 发送get请求搜索数据 ');
            // 2,请求数据
            this.$http.get(url).then(
                function(res){
                    res = res.body;
                    if(res.suc == true) {
                        self.$Notice.success({
                            title:"搜索成功",
                        });
                        console.log("搜索读取的数据: ",res.data);
                        // 更新UI
                        self.Raw.search_data = res.data;
                        self.update_UI_bySearch();
                    }
                    else {
                        self.$Notice.error({
                            title:"搜索失败",
                        });
                    }
                }).catch( function(err){
                    self.$Notice.error({
                        title:"数据读取 异常"
                    });
            });
        },
        /***********************************************************/
        // 选择时间
        ok_startTime(){
            var time
            if(this.timePeriod.startTime != '') this.timePeriod.startTimeStamp = Date.parse(this.timePeriod.startTime)/1000;
            else this.timePeriod.startTimeStamp = '';
            console.log("选择起始时间: ",this.timePeriod.startTime);
            console.log("选择起始时间戳: ",this.timePeriod.startTimeStamp);
            // 时间选择完毕,读取数据
            this.help_readTrace(this.timePeriod.startTimeStamp,this.timePeriod.endTimeStamp);
        },
        ok_endTime(){
            if(this.timePeriod.endTime != '') this.timePeriod.endTimeStamp = Date.parse(this.timePeriod.endTime)/1000;
            else this.timePeriod.endTimeStamp = '';
            console.log("选择结束时间: ",this.timePeriod.endTime);
            console.log("选择结束时间戳: ",this.timePeriod.endTimeStamp);
            // 时间选择完毕,读取数据
            this.help_readTrace(this.timePeriod.startTimeStamp,this.timePeriod.endTimeStamp);            
        },
        // 读取 相应时间戳的 轨迹点
        help_readTrace(startTime,endTime){
            if(startTime == '' || endTime == '' ||startTime == 0 || endTime == 0) return;
            var self = this;
            var url = this.URLs.getTrace + this.UI.imei + '?startTime='+ startTime + '&endTime=' + endTime;

            console.log("向 ",url,' 读取轨迹点数据: ');

            this.$http.get(url).then(
                function(res){
                    res = res.body;
                    console.log("读取到轨迹点: ",res);
                    if(res.suc == true){
                        self.$Notice.success({
                            title:'轨迹点读取 成功'
                        })      
                        // 更新轨迹显示
                        self.setTrace(res.data);  
                    }else{
                        self.$Notice.error({
                            title:'轨迹点读取 错误'
                        })
                    }

                }
            ).catch(err => function(err){
                self.$Notice.error({
                     title:'轨迹点读取 异常'
                })
            });
        },
        /************* 轨迹展示 ***************************************/
        // 辅助函数 -- 初始化轨迹
        help_initTrace(){
            var self = this;
            // 1,初始化轨迹
            var lineArr = [];
            this.timePeriod.trace = new AMap.Polyline({
                path: lineArr,          //设置线覆盖物路径
                strokeColor: "#9a5afb", //线颜色
                strokeOpacity: 1,       //线透明度
                strokeWeight: 3,        //线宽
                strokeStyle: "solid",   //线样式
                strokeDasharray: [10, 5], //补充线样式
                showDir:true,
            });
            this.timePeriod.trace.setMap(self.map);
            this.timePeriod.trace.show();

            // 2,初始化 起点 
            var startIcon = new AMap.Icon({
                image : 'http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_qi.png',//24px*24px
                size : new AMap.Size(30,30)
            });
            this.timePeriod.startMarker = new AMap.Marker({
                icon : startIcon,//24px*24px
                // position :  [lineArr[0].lng,lineArr[0].lat],
                map : self.map
            });
            // 3,初始化 终点 
            var endIcon = new AMap.Icon({
                image : 'http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_zhong.png',//24px*24px
                size : new AMap.Size(30,30)
            });
            this.timePeriod.endMarker = new AMap.Marker({
                icon : endIcon,
                // position : [lineArr[lineArr.length-1].lng,lineArr[lineArr.length-1].lat],
                map : self.map
            });
            // 4,初始化移动点
            var moveIcon = new AMap.Icon({
                image : 'http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_bike.png',//24px*24px
                size : new AMap.Size(50,50)
            });
            this.timePeriod.moveMarker = new AMap.Marker({
                icon : moveIcon,//24px*24px
                // position : [lineArr[0].lng,lineArr[0].lat],
                map : self.map
            });
            // 5,当前位置
            this.timePeriod.curMarker = new AMap.Marker({
                // icon : moveIcon,//24px*24px
                // position : [lineArr[0].lng,lineArr[0].lat],
                map : self.map
            });
            this.timePeriod.trace.hide();
            this.timePeriod.startMarker.hide();
            this.timePeriod.endMarker.hide();
            this.timePeriod.moveMarker.hide();
            this.timePeriod.curMarker.hide();


            /*************** 播放 ***************************************************/
            // marker开始播放 响应函数
            var handle_moving = function(obj){
                var maxLen = self.Raw_Trace.Raw_Trace.length;
                var curLen = obj.passedPath.length + self.Raw_Trace.curPosition;
                // 计算当前的百分比
                self.timePeriod.curTime = curLen / maxLen * 100;
                // 更新时间线
                self.timePeriod.curTimeFormat = self.format(self.timePeriod.curTime);

            }
            // 绑定 播放 事件
            this.timePeriod.moveMarker.on('moving',handle_moving);
            /*************** 播放结束 ************************************************/
            // marker开始播放 响应函数
            var handle_moveEnd = function(obj){
                self.Raw_Trace.curPosition = 0;
                self.Raw_Trace.Raw_runTrace = self.Raw_Trace.Raw_Trace;
                self.timePeriod.isStarted  = false;
                self.pauseRun();
            }
            // 绑定 播放 事件
            this.timePeriod.moveMarker.on('movealong',handle_moveEnd);
            /************************************************************************/
            // 初始化轨迹
            this.Raw_Trace.Raw_Trace = [];//this.timePeriod.trace.getPath();
            this.Raw_Trace.Raw_runTrace = [];//this.Raw_Trace.Raw_Trace;

            self.map.setFitView();
        },
        // 设置轨迹
        setTrace(traceList){
            // 空轨迹预防
            if(traceList.length == 0){
                this.timePeriod.trace.hide();
                this.timePeriod.startMarker.hide();
                this.timePeriod.endMarker.hide();
                this.timePeriod.moveMarker.hide();
                // this.timePeriod.curMarker.hide();
                return;
            }
           
            var path = [];
            // 1,构造数据
            for(var i = 0;i<traceList.length;i++){
                var item = [ traceList[i].lon ,traceList[i].lat ];
                path.push(item);
            }
            // 2,设置 轨迹
            this.timePeriod.trace.setPath(path);
            // 设置 起点
            this.timePeriod.startMarker.setPosition([path[0].lng,path[0].lat]);
            // 设置 终点
            this.timePeriod.endMarker.setPosition([path[traceList.length-1].lng,path[traceList.length-1].lat]);
            // 设置 移动点
            this.timePeriod.moveMarker.setPosition([path[0].lng,path[0].lat]);
            // 设置 现在的位置
            // this.timePeriod.curMarker.setPosition([path[0].lng,path[0].lat]);
            // 3,设置时间
            var timDiff = traceList[traceList.length - 1].timestamp - traceList[0].timestamp ;
            this.timePeriod.maxTime = timDiff;
            this.timePeriod.maxTimeFormat = this.help_timeSwitch(timDiff);
            console.log("最长时间: ",this.timePeriod.maxTimeFormat);

            // 打开显示
            this.timePeriod.trace.show();
            this.timePeriod.startMarker.show();
            this.timePeriod.endMarker.show();
            this.timePeriod.moveMarker.show();
            // this.timePeriod.curMarker.show();
            
            // 更新总的轨迹点的显示
            this.Raw_Trace.Raw_Trace = this.timePeriod.trace.getPath();
            this.Raw_Trace.Raw_runTrace = this.Raw_Trace.Raw_Trace;
            
            // 更新时间显示
            this.timePeriod.curTime = 0;
            this.timePeriod.curTimeFormat = this.format(0);
            
            // 适应页面显示
            this.map.setFitView();
        },
        /*************************************************************/
        // 辅助函数 --> 120s 与 00:02:00 之间的转换
        help_timeSwitch(value){
            if( typeof value == 'string'){
                var times = value.split(':');
                var seconds = parseInt(times[0])*3600 
                            + parseInt(times[1])*60
                            + parseInt(times[2])*1 ;
                return seconds;
            }else{
                var h =  Math.floor(value / 3600);
                var m =  Math.floor((value - h*3600)/60);
                var s =  Math.floor(value % 60);
                return h + ':' + m + ':' + s;
            }
        },
        // 格式化时间条显示: 60s -> 00:01:00
        format(val){
            if(this.timePeriod.maxTime == 0){
                this.timePeriod.maxTime = this.help_timeSwitch(this.timePeriod.maxTimeFormat);
            }
            // 计算现在是多少秒
            val = val / 100 * this.timePeriod.maxTime;
            // 将s转换成00:02:12
            var value = this.help_timeSwitch(val);
            return value;
        },
        // 拖动触发事件
        silder_change(val){
            // 1,更新车辆的位置
            var self = this;
            var totalPathLen = this.Raw_Trace.Raw_Trace.length;
            var curPosition = Math.floor(val / 100 * totalPathLen);

            if(curPosition == 0) curPosition = 1;
            this.timePeriod.moveMarker.setPosition(this.Raw_Trace.Raw_Trace[curPosition-1]);
            // 2,更新车辆的轨迹
            this.Raw_Trace.Raw_runTrace = this.Raw_Trace.Raw_Trace.slice(curPosition);
            this.Raw_Trace.curPosition = curPosition;
            this.timePeriod.isStarted = false;
            // 3,更新时间显示
            this.timePeriod.curTimeFormat = this.format(val);
        },
        // 开始展示车辆轨迹
        startRun(){
            var self = this;
            this.timePeriod.running = true;
            console.log("开始播放轨迹...");
            if(this.timePeriod.isStarted == false){
                var path = this.Raw_Trace.Raw_runTrace;
                console.log("剩下的长度是: ",path.length);
                this.timePeriod.moveMarker.moveAlong(path,5000);
                this.timePeriod.isStarted = true;
            }else{
                this.timePeriod.moveMarker.resumeMove();
            }
        },
        pauseRun(){
            this.timePeriod.running = false;
            console.log("暂停播放轨迹...");
            this.timePeriod.moveMarker.pauseMove();
        },
        /**************** 闭合工单 ***************************************/
        shut_ticket(){
            var self = this;
            var url = '';
            // search方式跳转过来
            if(this.Raw.isSearch){
                // 1,设置数据
                this.URLs.Data4shut_Ticket.ticketNo = this.Raw.search_data.ticketInfo.ticketNo;
                this.URLs.Data4shut_Ticket.authInfo.agentId = 2;
                this.URLs.Data4shut_Ticket.authInfo.opManId = this.Raw.search_data.ticketInfo.fixManId;
                if(this.Raw.search_data.ticketInfo.TICKET_TYPE == 'ALARM'){
                    url = this.URLs.shut_ticket_alarm;
                }else if(this.Raw.search_data.ticketInfo.TICKET_TYPE == 'FIX'){
                    url = this.URLs.shut_ticket_fixed;
                }
            }
            // marker方式跳转过来
            else{
                this.URLs.Data4shut_Ticket.ticketNo = this.Raw.marker_data.ticket[0].ticketNo;
                this.URLs.Data4shut_Ticket.authInfo.agentId = 2;
                this.URLs.Data4shut_Ticket.authInfo.opManId = this.Raw.marker_data.ticket[0].fixManId;
                if(this.Raw.marker_data.ticket[0].TICKET_TYPE == 'ALARM'){
                    url = this.URLs.shut_ticket_alarm;
                }else if(this.Raw.marker_data.ticket[0].TICKET_TYPE == 'FIX'){
                    url = this.URLs.shut_ticket_fixed;
                }
            }
            console.log("向 ",url," 发送闭合工单请求: ",this.URLs.Data4shut_Ticket);
            if(url == '') return;
            this.$http.post(
                url,
                this.URLs.Data4shut_Ticket,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:" 工单闭合 成功",
                            });
                            this.UI.ticket.visiable = false;
                        }
                        else {
                            self.$Notice.error({
                                title:"工单闭合 失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"工单闭合 异常"
                    });
            });
        },
    }
}
</script>

<style scoped>
.layout{
    width:100%;
    height: 770px;     /* 770 -> 840 : 70px*/
    background: url(http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_back.png) top center no-repeat; background-size:cover;;
    border: 1px solid black;
}
.upName{
    font-size:17px; 
    color:white;
}
.upValue{
    font-size:12px; 
    color:white; 
    margin-top:3%;
}
</style>
