<template>
    <div v-if="speed" style="width:100%;height:100%; border:0.1px solid black; overflow:hidden;">
        <!-- Tab选择 -->
        <div style="
            width: calc( ( 100% - 200px) * 0.95);
            height:40px;
            margin-left:20px;

            display:flex;
            position:fixed;
            justify-content:space-between;
            ">
            <div style="display:flex;width:40%; height:100%; float:left;">
                <div v-bind:style="{'background': colorCtr.item1,'margin-left':'0'}" class="TabCss" @click="itemChoose(1)">
                    <div style="padding-top:5%;">费用异议工单</div>
                </div>
                <div v-bind:style="{'background': colorCtr.item2}" class="TabCss" @click="itemChoose(2)">
                    <div style="padding-top:5%;">搜索结果</div>
                </div>
            </div>

            <div style="
                float:right;
                width:250px;height:100%; 
                background:#32334F;
                border-radius:5px;
                display:flex;
                ">
                <input style="
                    width:80%; height:100%;
                    background:#32334F;
                    border: 2px solid #32334F;
                    font-size:15px;
                    color:#C1C0C1;
                    margin-left:5%;
                    " placeholder="输入手机号码/工单单号"
                      @keyup="checkInput"
                    v-model="userInput"/>
                <img style="
                    width: 20px; height:20px;
                    margin-top:4%; margin-left:2%;
                    cursor:pointer;
                " src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_search.png"
                @click="search()">
            </div>
        </div>
        <!-- 名称行 -->
        <div style="
                    width: calc( ( 100% - 200px) * 0.95 + 20px);
                    height:40px;
                    margin-top:50px;
                    margin-left:20px;
                    position:fixed;
                    display:flex;">
            <div class="itemNameCss1"> 工单编号 </div>
            <div class="itemNameCss2"> 车辆号 </div>
            <div class="itemNameCss1"> 工单状态 </div>
            <div class="itemNameCss2"> 用户手机号码 </div>
            <div class="itemNameCss1"> 操作 </div>
        </div> 

        <!-- 费用异议工单 -->
        <div v-if="!isSearch" class="scroller">
            <!-- <div class="scrollerContent"> -->
                <div style="width:100%; height:45px; display:flex;justify-content: flex-start" v-for="(item,index) in UI.complaintTicketInfo">
                    <div class="itemValueCss1">
                        {{item.ticketNo}}
                    </div>
                    <div class="itemValueCss2">
                        {{item.carId}}
                    </div>
                    <div v-bind:style="{'color':item.ticketStateColor}"  class="itemValueCss1">
                        {{item.ticketState}}
                    </div>
                    <div  class="itemValueCss2">
                        {{item.tel}}
                    </div>
                    <div  class="itemValueCss1" style="cursor:pointer;"  @click="jumpToDetail(item)">
                        <div style="white-space:nowrap; width:50%; height:50%; background:#9a5afb;border-radius:50px;">进入详情</div> 
                    </div>
                </div> 
            <!-- </div>        -->
        </div>
        <!-- 搜索结果 -->
        <div v-if="isSearch" class="scroller">
            <div class="scrollerContent">
                <div style="width:100%; height:45px; display:flex;justify-content: flex-start" v-for="(item,index) in UI.searchComplaintTicketInfo">
                    <div class="itemValueCss1">
                        {{item.ticketNo}}
                    </div>
                    <div class="itemValueCss2">
                        {{item.carId}}
                    </div>
                    <div v-bind:style="{'color':item.ticketStateColor}"  class="itemValueCss1">
                        {{item.ticketState}}
                    </div>
                    <div  class="itemValueCss2">
                        {{item.tel}}
                    </div>
                    <div  class="itemValueCss1" style="cursor:pointer;"  @click="jumpToDetail(item)">
                        <div style="white-space:nowrap; width:50%; height:50%; background:#9a5afb;border-radius:50px;">进入详情</div> 
                    </div>
                </div> 
            </div>       
        </div>
        <!-- 翻页器 -->
        <div style="
                position:fixed;
                bottom:10px;
                right:30px;
                display:flex;
                cursor:pointer
            ">
                <!-- 左箭头 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'color': pageCtl.leftArrowColor,
                    }"
                    @click="pageChange(0)">
                   <Icon type="chevron-left"></Icon>
                </div>
                <!-- 页1 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page1Color,
                    }"
                    @click="pageChange(1)">
                    {{pageCtl.startPage}}
                </div>
                <!-- 页2 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page2Color,
                    }"
                    @click="pageChange(2)">
                    {{pageCtl.startPage+1}}
                </div>
                <!-- 页3 -->
                <div class="pageSelect"
                    v-bind:style="{
                        'background-color':pageCtl.page3Color,
                    }" 
                    @click="pageChange(3)">
                    {{pageCtl.startPage+2}}
                </div>
                <!-- 页4 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page4Color,
                    }"
                    @click="pageChange(4)">
                    {{pageCtl.startPage+3}}
                </div>
                <!-- 页5 -->
                <div class="pageSelect" 
                    v-bind:style="{
                        'background-color':pageCtl.page5Color,
                    }"
                    @click="pageChange(5)">
                    {{pageCtl.startPage+4}}
                </div>
                <!--右箭头 -->
                <div class="pageSelect" @click="pageChange(6)">
                   <Icon type="chevron-right"></Icon>
                </div>
        </div>
    </div>
        
</template>

<script>
export default {
    data(){
        return{
            /************** 测试加速 ******************************/
            speed:false,
            /**************** 颜色控制 ************************/
            colorCtr:{
                item1:"#9a5afb",
                item2:"#364354",

                gray:"#364354",
                light:"#9a5afb"
            },
            // 分页器颜色
            pageCtl:{
                startPage:1,
                curPage:1,
                leftArrowColor:'#060914',
                page1Color:'#12173c',
                page2Color:'#363958',
                page3Color:'#363958',
                page4Color:'#363958',
                page5Color:'#363958',
            },
            isSearch:false,
            userInput:"",
            /**************** 界面数据 ***************************/
            UI:{
                complaintTicketInfo:[],
                searchComplaintTicketInfo:[],
            },
            /**************** 原数据 ******************************/
            Raw:{
                complaintTicketInfo:[],
                searchComplaintTicketInfo:[],
            },
            /**************** 路由 ****************************/
            URLs:{
                Host:null,
                mapURL:null,
                // 获取所有工单
                getComplaintTicketInfo:null,
                Data4getComplaintTicketInfo:{
                    "pageSize": 50,
                    "pageNumber": 1,
                    "agentId": 2
                },
                // 搜索工单
                searchComplaintTicketInfo:null,
                Data4SearchComplaintTicketInfo:{
                    info:null,
                    "agentId":2,
                    "pageSize": 50,
                    "pageNumber": 1,
                },
               
            },
           
        }
    },
    mounted(){
        /************ 测试加速  *****************************/
        this.speed = true;
        var self = this;
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.URLs.Host = myConfig.host.test_url;
            this.URLs.mapURL = myConfig.newUserList.Test_mapURL;
        }else if(versionType == 'Formal'){
            this.URLs.Host = myConfig.host.Formal_url;
            this.URLs.mapURL = myConfig.newUserList.Formal_mapURL;
        }else if(versionType == 'localTest'){
            this.URLs.Host = "http://localhost:8080";
            this.URLs.mapURL = "/#/newUserListInfo?param=";
        }
        this.URLs.getComplaintTicketInfo = this.URLs.Host + myConfig.newUserList.getComplaintTicketInfo;
        this.URLs.searchComplaintTicketInfo = this.URLs.Host + myConfig.newUserList.searchComplaintTicketInfo;
        /**************************************************************/
        this.loadUI();
        this.readData(1);
    },

    methods:{ 
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /****************************************************/
        // 1,Tab页选择
        itemChoose(id){
            if(id == 1){
                this.colorCtr.item1 = this.colorCtr.light;
                this.colorCtr.item2 = this.colorCtr.gray;
                this.isSearch = false;
            }else if(id == 2){
                this.colorCtr.item2 = this.colorCtr.light;
                this.colorCtr.item1 = this.colorCtr.gray;
                this.isSearch = true;
            }
        },
        /****************** 读取后台数据 **********************/
        // 辅助函数: 更新UI显示,更新费用异议工单显示
        help_updateUI(array,id){
            // 1,清空
            if(id == 1) this.UI.complaintTicketInfo = [];
            else if(id == 2) this.UI.searchComplaintTicketInfo = [];
            // 2,赋值
            for(var i = 0;i < array.length;i++){
                var item = {};

                if( 'ticket' in array[i] && array[i].ticket.ticketNo != '' && array[i].ticket.ticketNo != null)
                    item.ticketNo = array[i].ticket.ticketNo;
                else item.ticketNo = '-- --';

                if( 'ticket' in array[i] && array[i].ticket.phone != '' && array[i].ticket.phone != null) item.tel = array[i].ticket.phone;
                else item.tel = '-- --';

                if( 'device' in array[i] && array[i].device.carId != '' && array[i].device.carId != null) item.carId = array[i].device.carId;
                else item.carId = '-- --';

                if('ticket' in array[i]){
                    if(array[i].ticket.state == 1){
                        item.ticketState = "退款中";
                        item.ticketStateColor = '#8699FF';
                    }else if(array[i].ticket.state == 0){
                        item.ticketState = "新建";
                        item.ticketStateColor = '#FFE35E';
                    }else if(array[i].ticket.state == 2){
                        item.ticketState = "已处理";
                        item.ticketStateColor = '#27FFD6';
                    }else{
                        item.ticketState = "-- --";
                        item.ticketStateColor = '#C1C1C1';
                    }
                }else{
                    item.ticketState = "-- --";
                    item.ticketStateColor = '#C1C1C1';
                }
               
                if(id == 1) {
                    this.UI.complaintTicketInfo.push(item);
                }
                else if(id == 2) {
                    this.UI.searchComplaintTicketInfo.push(item);
                }
            }
        },
        // 读取费用异议工单
        readData(pageNum){
            var self = this;
            // 1,设置post数据
            this.URLs.Data4getComplaintTicketInfo.pageNumber = pageNum;
            // 2,发送请求
            this.$http.post(
                this.URLs.getComplaintTicketInfo,
                this.URLs.Data4getComplaintTicketInfo,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        console.log("异议工单返回: ",res);
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"异议工单 读取成功",
                            });
                            self.Raw.complaintTicketInfo = res.data;
                            console.log("异议工单: ",self.Raw.complaintTicketInfo);
                            // 更新 页面显示
                            self.help_updateUI(self.Raw.complaintTicketInfo,1);
                        }
                        else {
                            self.$Notice.error({
                                title:"异议工单 读取失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"异议工单 读取异常"
                    });
            });
        },
        /****************** 输入检查 **************************/
        // 2,搜索输入框动态变化
        checkInput(e){
            // 输入了回车
            if(e.keyCode == 13){
                this.search();
                return;
            }
            // 正常输入
            var changedValue=this.userInput.replace(/[^\d,\.]/g,'')
            if(changedValue != this.userInput){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如18"
                })
                this.userInput = "";
            }
        },
        /******************* 进入详情 ***************************/
        // 辅助函数 --> 输入Date,输出2018-12-15 12:41:52
        help_dateToString(date){
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var h  = date.getHours();
            var m  = date.getMinutes() ;
            var s = date.getSeconds();
            return year + '-' + month + '-' + day + ' ' + h + ':' + m + ':' + s;
        },
        jumpToDetail(item){
            var self = this;
            // 1,构造数据
            var str = item.ticketNo;
            console.log("页面传参: ",str);
            window.open(window.location.origin + self.URLs.mapURL + encodeURIComponent(str)) ;
        },
        /******************** 翻页器 *****************************/
        // 1, 辅助函数 ---> 改变颜色
        help_pageHighlignt(page){
            if(page == 0){
                this.pageCtl.page1Color = '#12173c';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 1){
                this.pageCtl.page2Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 2){
                this.pageCtl.page3Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page4Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 3){
                this.pageCtl.page4Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page5Color = '#363958';
            }else if(page == 4){
                this.pageCtl.page5Color = '#12173c';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }else{
                this.pageCtl.page5Color = '#363958';
                this.pageCtl.page1Color = '#363958';
                this.pageCtl.page2Color = '#363958';
                this.pageCtl.page3Color = '#363958';
                this.pageCtl.page4Color = '#363958';
            }
        },
        pageChange(val){
            // 向左翻页
            if(val == 0){
                if(this.pageCtl.startPage == 1){
                    this.pageCtl.leftArrowColor = "#060914";
                }else if(this.pageCtl.startPage == 2){
                    this.pageCtl.leftArrowColor = "#060914";
                    this.pageCtl.startPage = 1;
                }else{
                    this.pageCtl.startPage -= 1;
                }
            }else if(val == 1){
                this.pageCtl.curPage = this.pageCtl.startPage;
            }else if(val == 2){
                this.pageCtl.curPage = this.pageCtl.startPage + 1;
            }else if(val  == 3){
                this.pageCtl.curPage = this.pageCtl.startPage + 2;
            }else if(val  == 4){
                this.pageCtl.curPage = this.pageCtl.startPage + 3;
            }else if(val  == 5){
                this.pageCtl.curPage = this.pageCtl.startPage + 4;
            }else if(val  == 6){
                this.pageCtl.leftArrowColor = "white";
                this.pageCtl.startPage += 1;
            }
            this.help_pageHighlignt(this.pageCtl.curPage - this.pageCtl.startPage);

            // 读取页面数据
            if(val !=0 && val != 6){
                if(this.isSearch == false) this.readData(this.pageCtl.curPage);
                else this.help_search(this.pageCtl.curPage);
            }
        },
        /******************** 搜索 *********************************/
        // 辅助函数 --> 读取搜索数据
        help_search(pageNum){
            // 1,判断输入
            if(this.userInput == ''){
                this.$Modal.error({
                    title:"请输入手机号码或工单号",
                })
                return;
            }
            // 2,设置搜索post的data
            var self = this;
            this.URLs.Data4SearchComplaintTicketInfo.info = this.userInput;
            this.URLs.Data4SearchComplaintTicketInfo.pageNumber = pageNum;

            console.log('向',this.URLs.searchComplaintTicketInfo,'发送post数据: ',
                        this.URLs.Data4SearchComplaintTicketInfo);
            // 3,发送请求           
            this.$http.post(
                this.URLs.searchComplaintTicketInfo,
                this.URLs.Data4SearchComplaintTicketInfo,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        console.log("搜索结果: ",res);
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"搜索成功",
                            });
                            self.Raw.searchComplaintTicketInfo = res.data;
                            console.log("搜索工单: ",self.Raw.searchComplaintTicketInfo);
                            // 更新 页面显示
                            self.help_updateUI(self.Raw.searchComplaintTicketInfo,2);
                            // 更新 页面显示
                            self.itemChoose(2);
                        }
                        else {
                            self.$Notice.error({
                                title:"搜索失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"搜索异常"
                    });
            });
        },
        search(){
            this.help_search(1);
        },
    }
}
</script>

<style scoped>
/************ 滚动条 ***********************************/
.scroller{
    width: calc( 95%  + 20px );
    height: 70%;
    margin-left: 20px;
    overflow-y:scroll;
    margin-top:90px;
}
.scrollerContent{
    width: calc(100%);
}
/************ 分页器样式 *******************************/
.pageSelect{
    width:40px; 
    height:40px;
    margin-left:5px;
    background-color: #363958;
    border-radius: 10px;
    color:white;
    text-align: center;
    font-size:25px;
}
/*******************************************************/
.TabCss{
    width:120px;
    height:100%;
    color:#C1C0C1;
    border-radius:10px 10px 0 0;
    font-size:17px;
    margin-left: 20px;
    cursor:pointer;
    white-space: nowrap; /* 不换行 */

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemNameCss1{
    width: calc( 20% - 3.5px);
    height:100%;
    background:#2C223C;
    font-size:15px;
    color:#C1C0C1;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemNameCss2{
    width: calc( 20% - 3.5px);
    height:100%;
    background:#120C1E;
    font-size:15px;
    color:#C1C0C1;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemValueCss1{
    float: left;
    width:20%; 
    height:100%;
    background:#2C223C;
    font-size:13px;
    color:#C1C0C1;
    border-top:1px dashed gray;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemValueCss2{
    float: left;
    width:20%; 
    height:100%;
    background:#120C1E;
    font-size:13px;
    color:#C1C0C1;
    border-top:1px dashed gray;

    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
