<template>
    <div class="layout">
        <!-- 上边栏(小安科技....) -->
        <div style="width:100%;height:100px;display:flex; position:relative;">
            <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_caocao.png" 
                 style="width:70px; height:70px;margin-left:5%;margin-top:0.3%;"/>
            <div style="width:50%;height:100%;text-align:left;margin-top:1%;">
                <span style="font-size:20px;color:#9a5afb;margin-left:4%;">XIAOAN TECH</span>
                <br>
                <span style="font-size:20px;color:white;margin-left:4%;">电曹操共享运营平台</span>
            </div>
        </div>
        <!-- 地图与信息 -->
        <div style="position:relative;width:100%; height:100%;">
            <!-- 地图 -->
            <div id = 'container' style="width:100%; height:100%;"></div>
            <!-- 上边栏 信息 -->
            <div style="
                position:absolute;
                top:0;left:2%;
                width:700px; height:60px;
                margin-top:1%;
                background: rgba(0,0,0,0.8);
                display:flex;
                ">
                <!-- 工单状态 -->
                <div style="
                    width:20%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div style="font-size:17px; color:white; padding-top:0%;">工单状态</div>
                    <div v-if="!handleTicket.finished"
                         style="
                            font-size:13px;
                            color:white;
                            margin-top:2%; margin-left:25%;
                            width:50%; height:20px; 
                            border-radius:25px;
                            background:#9a5afb;
                            cursor:pointer;"
                            @click="handle_ticket()">
                            处理工单
                    </div>
                    <div v-else style="display:flex; width:100%; height:25px;">
                        <div style="
                                width:5px; height:5px;
                                margin-top:7%;
                                margin-left:35%;
                                border-radius:5px;
                                background:#1FC3A4;
                                "></div>
                        <div style="font-size:10px; color:#1FC3A4; margin-top:3%;margin-left:5%;">已完成</div>
                    </div>
                </div>
                <!-- 行程费用 -->
                <div style="
                    width:20%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div style="font-size:17px; color:white; padding-top:2%;">行程费用</div>
                    <div style="font-size:13px; color:white;">{{UI.refundMoney}}元</div>
                </div>
                <!-- 用户手机号码 -->
                <div style="
                    width:20%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div style="font-size:17px; color:white; padding-top:2%;">用户手机号码</div>
                    <div style="font-size:13px; color:white;">{{UI.tel}}</div>
                </div>
                <!-- 行程总公里数 -->
                <div style="
                    width:20%; height:80%;
                    margin-top:1%;
                    border-right:1px solid white;
                    ">
                    <div style="font-size:17px; color:white; padding-top:2%;">行程总公里数</div>
                    <div style="font-size:13px; color:white;">{{UI.itinerary}}千米</div>
                </div>
                <!-- 行程总时间 -->
                <div style="
                    width:20%; height:80%;
                    margin-top:1%;
                    ">
                    <div style="font-size:17px; color:white; padding-top:2%;">行程总时间</div>
                    <div style="font-size:13px; color:white; ">{{UI.time}}</div>
                </div>
            </div> 
            <!-- 左边列 结束订单 -->
            <div v-if="handleTicket.visiable" 
                style="
                    position:absolute;
                    width:180px; height: 22%;
                    top:12%; left:2%;
                    background: rgba(0,0,0,0.8);
                ">
                <!-- 行程费用 -->
                <div style="
                    width:100%; height:40px;
                    display:flex;
                    ">
                    <div style="
                            color:white; 
                            font-size:13px;
                            width:60%; height:80%;
                            margin-top:5%;
                        ">行程费用</div>
                    <div style="
                            color:white; 
                            font-size:13px;
                            width:60%; height:80%;
                            margin-top:5%;
                        ">{{UI.refundMoney}}元</div>
                </div>
                <!-- 费用 -->
                <div style="
                    width:100%; height:40px;
                    display:flex;
                    ">
                    <div style="
                            color:white; 
                            font-size:13px;
                            width:25%; height:70%;
                            margin-top:3%;
                        ">费用</div>
                    <div style="
                            color:#27FFD8; 
                            font-size:10px;
                            width:20%; height:70%;
                            margin-top:3%; margin-left:5%;
                            padding-top:2%;
                        ">合理</div>
                    <div style="
                            color:#27FFD8; 
                            font-size:10px;
                            width:40px; height:18px;
                            margin-top:5%; margin-left:2%;
                            background:white;
                            border-radius:20px;
                            cursor:pointer;
                        " @click="refund()">
                        <!-- 圆 -->
                        <div v-if="handleTicket.reasonable" style="width:20px; height:18px; background:#27FFD8; border-radius:20px;"></div>
                        <div v-else style="width:20px; height:18px; background:#BA3B20; border-radius:20px; margin-left:50%;"></div>
                    </div>
                    <div style="
                            color:#BA3B20; 
                            font-size:10px;
                            width:25%; height:70%;
                            margin-top:3%;  margin-left:2%;
                            padding-top:2%;
                        ">不合理</div>
                </div>
                <!-- 退款 -->
                <div v-if="handleTicket.moneyVisiable" 
                    style="
                        width:100%; height:40px;
                        display:flex;
                    ">
                    <div style="
                            color:white; 
                            font-size:13px;
                            width:25%; height:70%;
                            margin-top:3%;
                        ">退款</div>
                    <input v-model="handleTicket.money" placeholder="输入相应退款金额.." 
                        style="
                            background:black; 
                            width:50%;height:80%;
                            margin-left:2%;
                            color:white;
                            padding-left:5%;

                            font-size:13px;
                            border:1px solid black;
                            border-bottom:1px solid gray;
                            border-radius:10px;
                    " @keyup="checkInput()"/>
                    <div style="
                            color:white; 
                            font-size:13px;
                            width:25%; height:70%;
                            margin-top:3%;
                        ">元</div>
                </div>
                <!-- 确定 -->
                <div style="
                    width:100%; height:40px;
                    display:flex;
                    cursor:pointer;
                    " @click="handle_ok()">
                    <div style="
                            color:white; 
                            font-size:13px;
                            width:40%; height:60%;
                            border-radius:20px;
                            background: #9a5afb;
                            margin-top:6%; margin-left:30%;
                        ">确定</div>
                </div>
            </div>
            <!-- 右边列 车辆轨迹 -->
            <div style="
                position:absolute;
                top:0%; right:2%;
                width:280px;
                height:43%;
                margin-top:1%;
                background: rgba(0,0,0,0.8);
                ">
                <!-- 行程轨迹 -->
                <div style="
                    width:100%; height:40px;
                    font-size:17px; color:#8D47F7;
                    ">
                    <div style="padding-top:2%;">行程轨迹</div>
                </div>
                <!-- 起始时间 -->
                <div style="width:100%; height:30px;display:flex;margin-left:3%;">
                    <div style="color:white; font-size:13px;margin-top:3%;margin-left:4%;">起始时间：</div>
                    <div style="color:white; font-size:13px;margin-top:3%;margin-left:10%;">{{UI.trace.startTime}}</div>
                </div>
                <!-- 起始地点 -->
                <div style="width:100%; height:50px;display:flex;margin-left:3%;">
                    <div style="color:#27FFD6; font-size:13px;margin-top:3%;margin-left:4%;">起始地点：</div>
                        <div class="placeCss" style="width:70%;">
                            <Tooltip placement="top-start" style="width:100%;overflow:hidden;white-space: nowrap;text-overflow:ellipsis; "> 
                                {{UI.trace.startPlace}}
                                <div slot="content" style="font-size:15px;color:white;width:150px;word-break: break-all;white-space: normal ;">
                                    {{UI.trace.startPlace}}
                                </div>
                            </Tooltip>
                    </div>
                </div>
                
                <!-- 还车时间 -->
                <div style="width:100%; height:30px;display:flex;margin-left:3%;">
                    <div style="color:white; font-size:13px;margin-top:3%;margin-left:4%;">还车时间：</div>
                    <div style="color:white; font-size:13px;margin-top:3%;margin-left:10%;">{{UI.trace.endTime}}</div>
                </div>
                <!-- 还车地点 -->
                <div style="width:100%; height:50px;display:flex;margin-left:3%;">
                    <div style="color:#27FFD6; font-size:13px;margin-top:3%;margin-left:4%;">还车地点：</div>
                        <div class="placeCss" style="width:70%;">
                            <Tooltip placement="top-start" style="width:100%;overflow:hidden;white-space: nowrap;text-overflow:ellipsis; "> 
                                {{UI.trace.endPlace}}
                                <div slot="content" style="font-size:15px;color:white;width:150px;word-break: break-all;white-space: normal ;">
                                    {{UI.trace.endPlace}}
                                </div>
                            </Tooltip>
                    </div>
                </div>
                <!-- 进度条 -->
                <Slider v-model="timePeriod.curTime" :step="10"  :tip-format="format" @on-change='silder_change'
                        style="width:90%;margin-left:5%;color:red;"></Slider>
                <div style="
                    width:100%; height:20px;
                    color:white;
                    margin-top:-10px;
                    float:right;
                    margin-right:10px;
                    text-align:right;
                    ">用时：{{timePeriod.curTimeFormat}}</div>
                <!-- 开始按钮 -->
                <img v-if="timePeriod.running" src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_running.png" style="width:45px; height:45px;margin-top:8px;" @click="pauseRun"/>
                <img v-else src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_start.png" style="width:65px; height:65px;margin-top:0px;" @click="startRun"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /****************** 播放车辆轨迹 *****************************/
            timePeriod:{
                // 起止时间
                startTime:"",
                startTimeStamp:0,
                endTime:"",
                endTimeStamp:0,

                // 滑块的时间
                curTime:0,
                curTimeFormat:'00:00:00',
                maxTime:0,
                maxTimeFormat:'00:02:30',

                running:false,
                trace:null,
                
                // 运动点
                startMarker:null,
                endMarker:null,
                moveMarker:null,

                isStarted:false,            // 是否已经开始
            },
            /**************** 原始 轨迹数据 *************************/
            Raw_Trace:{
                Raw_Trace:[],        // 原始轨迹
                Raw_runTrace:[],     // 正在 播放的轨迹数据
                curPosition:0,       // 记录当前的 播放的位置
            },
            /****************** 处理工单 **********************************/
            handleTicket:{
                visiable:false,      // 处理工单是否可见
                reasonable:true,     // 是否觉得合理
                money:"",            // 输入退款金额
                moneyVisiable:false, // 是否显示退款金额
                finished: false,     // 是否已完成
            },
            /****************** 路由 ***************************************/
            URLs:{
                Host:null,
                // 进入详情
                detailURL:null,
                Data4Detail:{
                    ticketNo:null,
                    agentId:2,
                },
                // 处理工单
                refund:'',
                Data_refund:{
                    ticketNo : '',
                    refund_fee: 0,
                    fixManId : '',
                }
            },
            /****************** UI数据 **************************************/
            UI:{
                refundMoney:13,
                tel:"123321123321",
                itinerary:"15",
                time:"00:12:42",

                trace:{
                    startTime:"2017/12/21 12:23:41",
                    startPlace:"华中科技大学启明学院",
                    endTime:"2017/12/21 12:23:42",
                    endPlace:"华中科技大学启明学院",
                },
                geocoder:null,           // 经纬度转地址
            },
            /****************** 原数据 *****************************************/
            Raw:{},
            map:null,
        }
    },
    mounted(){
        var self = this;
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.URLs.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.URLs.Host = myConfig.host.Formal_url;
        }else if(versionType == 'localTest'){
            this.URLs.Host = "http://localhost:8080";
        }
        this.URLs.detailURL = this.URLs.Host + myConfig.newUserListInfo.detailURL;
        this.URLs.refund = this.URLs.Host + myConfig.newUserListInfo.refund;
        /***********************************************************************/
        this.initMap();
        /************ 读取传参 **********************************/
        var param = window.location.href;
        var tmp = param.split('=')[1];
        tmp = decodeURIComponent(tmp);
        param = JSON.parse(tmp);
        console.log("收到传参: ",param);
        this.readData(param);
        /***********************************************************************/
        this.help_initTrace();
    },
    methods:{
        /***********************************************************/
        // 1,初始化地图
        initMap(){
            // 1,初始化地图
            var self = this;
            self.map = new AMap.Map('container',{
                    mapStyle: 'amap://styles/7ff74f54c1e36a03a20d0bd77f6120d3' // 极夜黑
                }
            );
            var place = [114.430857,30.508989];
            self.map.setCenter(place);
            // 2,经纬度转地址
            AMap.service('AMap.Geocoder',function(){//回调函数
                //实例化Geocoder
                self.UI.geocoder = new AMap.Geocoder({
                    city: "010"//城市，默认：“全国”
                });
            })
            // 3,设置分辨率
            self.map.setZoom(10);     // 俯瞰全国
            self.map.setFitView();
        },
        // 2,检查 退款金额
        checkInput(){
            var changedValue=this.handleTicket.money.replace(/[^\d,\.]/g,'')
            if(changedValue != this.handleTicket.money){
                this.$Modal.error({
                    title:"输入有错",
                    content:"请输入数字，如18"
                })
                this.handleTicket.money = "";
            }
        },
        /*************** 更新页面 ************************************/
        update_UI(){
            var self = this;
            if(this.Raw == {}) return;
            
            // 退款 金额
            this.UI.refundMoney = this.Raw.refundMoney/100;
            // 用户 手机号码
            this.UI.tel = this.Raw.phone;
            // 行程 总公里数
            this.UI.itinerary = this.Raw.itineraryInfo.itinerary / 1000;
            // 行程 开始时间
            var startTime = this.Raw.itineraryInfo.startTime;
            startTime = new Date(startTime);
            this.UI.trace.startTime = self.help_dateToString(startTime);

            // 行程 结束时间
            var endTime = this.Raw.itineraryInfo.endTime;
            endTime = new Date(endTime);
            this.UI.trace.endTime = self.help_dateToString(endTime);

            // 行程 总时间
            var timeDiff = endTime.getTime() - startTime.getTime() ;
            timeDiff = timeDiff / 1000;
            var h = parseInt(timeDiff / 3600);         // 小时
            var m = parseInt((timeDiff - h*3600)/60);
            var s = timeDiff%60;
            this.UI.time = h + ':' + m + ':' + s;

            // 行程 终止地址
            var place = [this.Raw.itineraryInfo.startLng,this.Raw.itineraryInfo.startLat];
            this.UI.geocoder.getAddress(place, function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    console.log("开启地址",result.regeocode.formattedAddress);
                    self.UI.trace.startPlace = result.regeocode.formattedAddress;
                }else{
                     self.$Notice.error({
                         title:"开启地址 转换失败"
                     })
                }
            });
            place = [this.Raw.itineraryInfo.endLng,this.Raw.itineraryInfo.endLat];
            this.UI.geocoder.getAddress(place, function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    console.log("终止地址",result.regeocode.formattedAddress);
                    self.UI.trace.endPlace = result.regeocode.formattedAddress;
                }else{
                     self.$Notice.error({
                         title:"终止地址 转换失败"
                     })
                }
            }); 
            // 更新轨迹
            this.setTrace(this.Raw.itinerary);
        },
        /*************** 读取本页面所需数据 ***************************/
        // 辅助函数 --> 输入Date,输出2018-12-15 12:41:52
        help_dateToString(date){
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var h  = date.getHours();
            var m  = date.getMinutes() ;
            var s = date.getSeconds();
            return year + '-' + month + '-' + day + ' ' + h + ':' + m + ':' + s;
        },
        readData(param){
            var self = this;
            // 1,构造数据
            this.URLs.Data4Detail.ticketNo = param;
            console.log("向 ",this.URLs.detailURL,' 发送post请求数据: ',this.URLs.Data4Detail);
            // 2,发送请求
            this.$http.post(
                this.URLs.detailURL,
                this.URLs.Data4Detail,
                {emulateJSON:true}).
                then(
                    function(res){
                        res = res.body;
                        if(res.suc == true) {
                            self.$Notice.success({
                                title:"异议工单 读取成功",
                            });
                            console.log("读取到数据: ",res.data);
                            // 更新页面
                            self.Raw = res.data;
                            this.update_UI();
                        }
                        else {
                            self.$Notice.error({
                                title:"异议工单 读取失败",
                            });
                        }
                    }
                ).catch( function(err){
                    self.$Notice.error({
                        title:"异议工单 读取异常"
                    });
            });
        },
        /*************** 设置 车辆轨迹 *********************************/

        // 辅助函数 -- 初始化轨迹
        help_initTrace(){
            var self = this;
            // 1,初始化轨迹
            var lineArr = [];
            this.timePeriod.trace = new AMap.Polyline({
                path: lineArr,          //设置线覆盖物路径
                strokeColor: "#9a5afb", //线颜色
                strokeOpacity: 1,       //线透明度
                strokeWeight: 3,        //线宽
                strokeStyle: "solid",   //线样式
                strokeDasharray: [10, 5],//补充线样式
                showDir:true,
            });
            this.timePeriod.trace.setMap(self.map);
            this.timePeriod.trace.show();

            /********************************************************************/
            // debug函数
            /*var myTrace = [
                {"lat":30.50907,"lon":114.431867,"timestamp":1516265088},
                {"lat":30.509004,"lon":114.431098,"timestamp":1516265093},
                {"lat":30.509046,"lon":114.431296,"timestamp":1516265098},
                {"lat":30.509069,"lon":114.43141,"timestamp":1516265103},
                {"lat":30.509082,"lon":114.431433,"timestamp":1516265108},
                {"lat":30.509114,"lon":114.43157,"timestamp":1516265113},
                {"lat":30.509158,"lon":114.431738,"timestamp":1516265118},
                {"lat":30.509164,"lon":114.431799,"timestamp":1516265123},
                {"lat":30.509224,"lon":114.432218,"timestamp":1516265128},
                {"lat":30.509239,"lon":114.432408,"timestamp":1516265133},
                {"lat":30.509235,"lon":114.432446,"timestamp":1516265138},
                {"lat":30.509256,"lon":114.432576,"timestamp":1516265143},
                {"lat":30.509275,"lon":114.432652,"timestamp":1516265148},
                {"lat":30.509281,"lon":114.432697,"timestamp":1516265153},
                {"lat":30.509174,"lon":114.432758,"timestamp":1516265158},
                {"lat":30.509084,"lon":114.432812,"timestamp":1516265163},
                {"lat":30.509054,"lon":114.432819,"timestamp":1516265168},
                {"lat":30.509096,"lon":114.432736,"timestamp":1516265178},
                {"lat":30.509119,"lon":114.43269,"timestamp":1516265183},
                {"lat":30.509147,"lon":114.432659,"timestamp":1516265188},
                {"lat":30.509168,"lon":114.432637,"timestamp":1516265193},
                {"lat":30.50918,"lon":114.432621,"timestamp":1516265198},
                {"lat":30.509182,"lon":114.432621,"timestamp":1516265203},
                {"lat":30.509182,"lon":114.432652,"timestamp":1516265208},
                {"lat":30.509178,"lon":114.432667,"timestamp":1516265213},
                {"lat":30.509216,"lon":114.432644,"timestamp":1516265218},
                {"lat":30.509294,"lon":114.432667,"timestamp":1516265223},
                {"lat":30.509332,"lon":114.432675,"timestamp":1516265228},{"lat":30.509346,"lon":114.432682,"timestamp":1516265233},
                {"lat":30.509311,"lon":114.432705,"timestamp":1516265243},{"lat":30.509266,"lon":114.432743,"timestamp":1516265248},
                {"lat":30.509233,"lon":114.432713,"timestamp":1516265253},{"lat":30.509205,"lon":114.432682,"timestamp":1516265258},
                {"lat":30.509228,"lon":114.432652,"timestamp":1516265263},{"lat":30.50921,"lon":114.432576,"timestamp":1516265268},
                {"lat":30.509214,"lon":114.432515,"timestamp":1516265273},{"lat":30.509251,"lon":114.432477,"timestamp":1516265278},
                {"lat":30.509266,"lon":114.432492,"timestamp":1516265283},{"lat":30.509295,"lon":114.432515,"timestamp":1516265288},
                {"lat":30.509316,"lon":114.432477,"timestamp":1516265293},{"lat":30.509312,"lon":114.432423,"timestamp":1516265298},
                {"lat":30.5093,"lon":114.432423,"timestamp":1516265303},{"lat":30.509342,"lon":114.432439,"timestamp":1516265308},
                {"lat":30.509352,"lon":114.432469,"timestamp":1516265313},{"lat":30.509386,"lon":114.432408,"timestamp":1516265318}
                ,{"lat":30.509333,"lon":114.43256,"timestamp":1516265328},{"lat":30.509256,"lon":114.432728,"timestamp":1516265333},
                {"lat":30.50921,"lon":114.432736,"timestamp":1516265338},{"lat":30.509195,"lon":114.432743,"timestamp":1516265343},
                {"lat":30.509143,"lon":114.432781,"timestamp":1516265348},{"lat":30.509077,"lon":114.432819,"timestamp":1516265353},
                {"lat":30.509061,"lon":114.432819,"timestamp":1516265358},{"lat":30.509058,"lon":114.432827,"timestamp":1516265363}
                ,{"lat":30.509075,"lon":114.432842,"timestamp":1516265368},{"lat":30.509077,"lon":114.432804,"timestamp":1516265373},
                {"lat":30.50905,"lon":114.432728,"timestamp":1516265378},{"lat":30.509046,"lon":114.43272,"timestamp":1516265383},
                {"lat":30.509016,"lon":114.432644,"timestamp":1516265388},{"lat":30.50901,"lon":114.432606,"timestamp":1516265393}
            ]
            lineArr = [];
            for(var i = 0;i<myTrace.length;i++){
                var item = [ myTrace[i].lon ,myTrace[i].lat ];
                lineArr.push(item);
            }
            this.timePeriod.trace.setPath(lineArr); */
            /********************************************************************/

            // 2,初始化起止点 
            var startIcon = new AMap.Icon({
                image : 'http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_qi.png',//24px*24px
                size : new AMap.Size(30,30)
            });
            this.timePeriod.startMarker = new AMap.Marker({
                icon : startIcon,//24px*24px
                // position :  [lineArr[0].lng,lineArr[0].lat],
                map : self.map
            });
            var endIcon = new AMap.Icon({
                image : 'http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_zhong.png',//24px*24px
                size : new AMap.Size(30,30)
            });
            this.timePeriod.endMarker = new AMap.Marker({
                icon : endIcon,
                // position : [lineArr[lineArr.length-1].lng,lineArr[lineArr.length-1].lat],
                map : self.map
            });
            var moveIcon = new AMap.Icon({
                image : 'http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_bike.png',//24px*24px
                size : new AMap.Size(50,50)
            });
            this.timePeriod.moveMarker = new AMap.Marker({
                icon : moveIcon,//24px*24px
                // position : [lineArr[0].lng,lineArr[0].lat],
                map : self.map
            });

            // 3,设置轨迹的总时间
            // var timDiff = myTrace[myTrace.length - 1].timestamp - myTrace[0].timestamp ;
            // this.timePeriod.maxTime = timDiff;
            // this.timePeriod.maxTimeFormat = this.help_timeSwitch(timDiff);
            // console.log("最长时间: ",this.timePeriod.maxTimeFormat);

            /*************** 播放 ***************************************************/
            // marker开始播放 响应函数
            var handle_moving = function(obj){
                var maxLen = self.Raw_Trace.Raw_Trace.length;
                var curLen = obj.passedPath.length + self.Raw_Trace.curPosition;
                // 计算当前的百分比
                self.timePeriod.curTime = curLen / maxLen * 100;
                // 更新时间线
                self.timePeriod.curTimeFormat = self.format(self.timePeriod.curTime);

            }
            // 绑定 播放 事件
            this.timePeriod.moveMarker.on('moving',handle_moving);
            /*************** 播放结束 ************************************************/
            // marker开始播放 响应函数
            var handle_moveEnd = function(obj){
                self.Raw_Trace.curPosition = 0;
                self.Raw_Trace.Raw_runTrace = self.Raw_Trace.Raw_Trace;
                self.timePeriod.isStarted  = false;
                self.pauseRun();
            }
            // 绑定 播放 事件
            this.timePeriod.moveMarker.on('movealong',handle_moveEnd);
            /************************************************************************/
            // 初始化轨迹
            this.Raw_Trace.Raw_Trace = this.timePeriod.trace.getPath();
            this.Raw_Trace.Raw_runTrace = this.Raw_Trace.Raw_Trace;

            self.map.setFitView();
        },
        // 设置轨迹
        setTrace(traceList){
            // 空轨迹预防
            if(traceList.length == 0) {
                this.timePeriod.trace.hide();
                this.timePeriod.startMarker.hide();
                this.timePeriod.endMarker.hide();
                this.timePeriod.moveMarker.hide();
                return;
            }

            var path = [];
            // 1,构造数据
            for(var i = 0;i<traceList.length;i++){
                var item = [ traceList[i].lon ,traceList[i].lat ];
                path.push(item);
            }
            // 2,设置  轨迹
            this.timePeriod.trace.setPath(path);
            // 设置 起点
            this.timePeriod.startMarker.setPosition([path[0].lng,path[0].lat]);
            // 设置 终点
            this.timePeriod.endMarker.setPosition([path[traceList.length-1].lng,path[traceList.length-1].lat]);
            // 设置 移动点
            this.timePeriod.moveMarker.setPosition([path[0].lng,path[0].lat]);
            // 3,设置时间
            var timDiff = traceList[traceList.length - 1].timestamp - traceList[0].timestamp ;
            this.timePeriod.maxTime = timDiff;
            this.timePeriod.maxTimeFormat = this.help_timeSwitch(timDiff);
            console.log("最长时间: ",this.timePeriod.maxTimeFormat);

            // 打开显示
            this.timePeriod.trace.show();
            this.timePeriod.startMarker.show();
            this.timePeriod.endMarker.show();
            this.timePeriod.moveMarker.show();

            // 更新总的轨迹点的显示
            this.Raw_Trace.Raw_Trace = this.timePeriod.trace.getPath();
            this.Raw_Trace.Raw_runTrace = this.Raw_Trace.Raw_Trace;
            
            // 更新时间显示
            this.timePeriod.curTimeFormat = this.format(0);
            
            // 适应页面显示
            this.map.setFitView();
        },
        /*************** 播放 车辆轨迹 *********************************/
        // 辅助函数 --> 120s 与 00:02:00 之间的转换
        help_timeSwitch(value){
            if( typeof value == 'string'){
                var times = value.split(':');
                var seconds = parseInt(times[0])*3600 
                            + parseInt(times[1])*60
                            + parseInt(times[2])*1 ;
                return seconds;
            }else{
                var h =  Math.floor(value / 3600);
                var m =  Math.floor((value - h*3600)/60);
                var s =  Math.floor(value % 60);
                return h + ':' + m + ':' + s;
            }
        },
        // 格式化时间条显示: 60s -> 00:01:00
        format(val){
            if(this.timePeriod.maxTime == 0){
                this.timePeriod.maxTime = this.help_timeSwitch(this.timePeriod.maxTimeFormat);
            }
            // 计算现在是多少秒
            val = val / 100 * this.timePeriod.maxTime;
            // 将s转换成00:02:12
            var value = this.help_timeSwitch(val);
            return value;
        },
        // 拖动触发事件
        silder_change(val){
            // 1,更新车辆的位置
            var self = this;
            var totalPathLen = this.Raw_Trace.Raw_Trace.length;
            var curPosition = Math.floor(val / 100 * totalPathLen);
            if(curPosition == 0) curPosition = 1;
            this.timePeriod.moveMarker.setPosition(this.Raw_Trace.Raw_Trace[curPosition-1]);
            // 2,更新车辆的轨迹
            this.Raw_Trace.Raw_runTrace = this.Raw_Trace.Raw_Trace.slice(curPosition);
            this.Raw_Trace.curPosition = curPosition;
            this.timePeriod.isStarted = false;
            // 3,更新时间显示
            this.timePeriod.curTimeFormat = this.format(val);
        },
        // 开始展示车辆轨迹
        startRun(){
            var self = this;
            this.timePeriod.running = true;
            console.log("开始播放轨迹...");
            if(this.timePeriod.isStarted == false){
                var path = this.Raw_Trace.Raw_runTrace;
                console.log("剩下的长度是: ",path.length);
                this.timePeriod.moveMarker.moveAlong(path,500);
                this.timePeriod.isStarted = true;
            }else{
                this.timePeriod.moveMarker.resumeMove();
            }
        },
        pauseRun(){
            this.timePeriod.running = false;
            console.log("暂停播放轨迹...");
            this.timePeriod.moveMarker.pauseMove();
        },
        /*************** 处理退款 ****************************************/
        refund(){
            if(this.handleTicket.reasonable == true){
                this.handleTicket.reasonable = false;
                this.handleTicket.moneyVisiable = true;
            }else{
                this.handleTicket.reasonable = true;
                this.handleTicket.moneyVisiable = false;
            }
        },
        /*************** 处理工单 ****************************************/
        // 点击处理工单 响应函数
        handle_ticket(){
            this.handleTicket.visiable = true;
        },
        // 点击确定 响应函数
        handle_ok(){
            var self = this;
            // 合理
            if(this.handleTicket.reasonable == true){
                console.log("合理");
            }
            // 不合理
            else if(this.handleTicket.reasonable == false){
                console.log("不合理");
                /************** 错误判断 *****************/
                if(this.handleTicket.money == '' || 
                   this.handleTicket.money < 0   ||
                   this.handleTicket.money > this.UI.refundMoney)
                {    
                    this.$Modal.error({
                        title:"输入有错",
                        content:"请输入正确的退款金额"
                    })
                    return;
                }
            }
            // 1,设置数据
            this.URLs.Data_refund.ticketNo = this.Raw.ticketNo;
            this.URLs.Data_refund.fixManId = this.Raw.fixManId;
            this.URLs.Data_refund.refund_fee = this.handleTicket.money*100;
            console.log("向 ",this.URLs.refund,'发送 ',this.URLs.Data_refund,'进行结束工单请求');;
            // 2,发送结束工单请求
            this.$http.post(
                this.URLs.refund,
                this.URLs.Data_refund,
                {emulateJSON:true}
            ).then(
                function(res){
                    res = res.body;
                    console.log("工单处理: ",res);
                    if(res.suc == true) {
                        self.$Notice.success({
                            title:"工单处理完毕",
                        });
                        // 2,隐藏 处理工单接口 显示
                        self.handleTicket.visiable = false;
                        // 3,将工单状态变成已处理
                        self.handleTicket.finished = true;
                    }
                    else{
                        self.$Notice.error({
                            title:"工单处理失败",
                        });
                    }
                }).catch( function(err){
                    self.$Notice.error({
                        title:"工单处理异常"
                    });
                });

         
        },     
    }
}
</script>

<style scoped>
.layout{
    width:100%;
    height: 770px;     /* 770 -> 840 : 70px*/
    background: url(http://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_back.png) top center no-repeat; background-size:cover;;
    border: 1px solid black;
}

.placeCss{
    color:white; 
    font-size:13px;
    margin-top:3%;
    margin-left:0%;
    width:70%;
}
</style>
