<template>
    <div style="width:100%; height:100%; position:relative;">
    
        <!-- 信息展示 -->
        <div class="topBoxInfoCss">
            <div class="topBoxInfoItemCss" style=" margin-left:0px;">总单数：{{UI.orderSum}}</div> 
            <div class="topBoxInfoItemCss">日均单数：{{UI.dailyAverageOrder}}</div> 
            <div class="topBoxInfoItemCss">总金额：{{UI.rental}}元</div> 
            <div class="topBoxInfoItemCss">日均金额：{{UI.dailyAverageRent}}元</div> 
        </div>
        <!-- 按天显示,按时间戳显示 -->
        <div class="topBoxCss">
            <!-- 按天显示 -->
            <div class="topBoxDayCss">
                <DatePicker :value="UI_time.dateSelected" format="yyyy-MM-dd" type="daterange" placement="bottom" 
                            @on-change="dateChanged" placeholder="自定义时间"  style="width:200px;"></DatePicker>
            </div>
            <!-- 按时间戳显示 -->
            <div class="topBoxTimeStapCss">
                选择时间：
                <RadioGroup v-model="UI_time.daySelected" @on-change="dayChanged">
                    <Radio label="7天"></Radio>
                    <Radio label="15天"></Radio>
                    <Radio label="30天"></Radio>
                    <Radio label="60天"></Radio>
                </RadioGroup>
            </div>
        </div>

        <!-- 订单列表 -->
        <div style="
            width:95%; height: 90%;
            margin-top:2%;
            position:relative;
            ">
            <!-- 名称行 -->
            <div style="width:100%; height:40px;
                        margin-left:1.5%;
                        overflow-y:scroll;
                        display:flex;">
                <div class="itemNameCss1"> <div style="padding-top:5%;">行程ID</div> </div>
                <div class="itemNameCss2"> <div style="padding-top:5%;">开启时间</div> </div>
                <div class="itemNameCss1"> <div style="padding-top:5%;">结束时间</div> </div>
                <div class="itemNameCss2"> <div style="padding-top:5%;">总里程</div> </div>
                <div class="itemNameCss1"> <div style="padding-top:5%;">总花费</div> </div>
                <div class="itemNameCss2"> <div style="padding-top:5%;">支付情况</div> </div>
                <div class="itemNameCss1"> <div style="padding-top:5%;">操作</div> </div>
            </div>
            <!-- 数据行 -->
            <div style="width:100%; height:75%; margin-left:1.5%; overflow-y:scroll;">
                <div style="width:100%; height:45px; display:flex;justify-content: flex-start" v-for="(item,index) in UI.orderList">
                    <!-- 行程ID -->
                    <div class="itemValueCss1">
                        {{item.orderId}}
                    </div>
                    <!-- 开启时间 -->
                    <div class="itemValueCss2">
                        {{item.startTime}}
                    </div>
                    <!-- 结束时间 -->
                    <div class="itemValueCss1">
                        {{item.endTime}}
                    </div>
                    <!-- 总里程 -->
                    <div  class="itemValueCss2">
                        {{item.itinerary}}
                    </div>
                    <!-- 总花费 -->
                    <div class="itemValueCss1">
                        {{item.cost}}
                    </div>
                    <!-- 是否支付 -->
                    <div  class="itemValueCss2">
                        <div v-if="!item.isPaid" style="color:red;">未支付</div> 
                        <div v-else style="color:green;">已支付</div> 
                    </div>
                    <!-- 操作 -->
                    <div  class="itemValueCss1" style="cursor:pointer;display:flex;justify-content: center;align-items: center;"  @click="jumpToDetail(item)">
                        <div class="detailCss">进入详情</div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- 隐藏条 -->
        <!-- <div style="position:absolute;top:15%;right:2.2%; width:30px; height:600px; background:black"></div> -->
    </div>
        
</template>

<script>
export default {
    data(){
        return{
            /**************** 界面数据 ***************************/
            UI:{
                "rental": '-- --',
                "dailyAverageRent": '-- --',
                "dailyAverageOrder": '-- --',
                "orderSum": '-- --',
            },
            // 时间选择
            UI_time:{
                dateSelected:[],           // 选中的 起止日期
                daySelected:'7天',         // 选中的 时间段
            },
            /**************** 原数据 ******************************/
            Raw:{
                "rental": 42949672.8,
                "dailyAverageRent": 6135667.542857142,
                "dailyAverageOrder": 0.85,
                "orderSum": 6,
                "orderList": [
                {
                    "itinId": 1,
                    "userId": "59ca4a5267f35600428c171d",
                    "orderId": 113,
                    "startTime": "2018-01-15T08:29:27.000Z",
                    "startLat": 0,
                    "startLng": 0,
                    "endTime": "2018-01-15T08:47:04.000Z",
                    "endLat": 0,
                    "endLng": 0,
                    "itinerary": 0,
                    "createdAt": "2018-01-15T08:47:07.000Z",
                    "updatedAt": "2018-01-15T08:47:07.000Z",
                    "cost": 0
                },
                {
                    "itinId": 2,
                    "userId": "59ca4a5267f35600428c171d",
                    "orderId": 114,
                    "startTime": "2018-01-15T09:00:57.000Z",
                    "startLat": 0,
                    "startLng": 0,
                    "endTime": "2018-01-15T09:11:11.000Z",
                    "endLat": 0,
                    "endLng": 0,
                    "itinerary": 0,
                    "createdAt": "2018-01-15T09:11:13.000Z",
                    "updatedAt": "2018-01-15T09:11:13.000Z",
                    "cost": 0
                },
                {
                    "itinId": 3,
                    "userId": "59ca4a5267f35600428c171d",
                    "orderId": 115,
                    "startTime": "2018-01-15T09:25:00.000Z",
                    "startLat": 0,
                    "startLng": 0,
                    "endTime": "2018-01-15T09:26:59.000Z",
                    "endLat": 0,
                    "endLng": 0,
                    "itinerary": 0,
                    "createdAt": "2018-01-15T09:27:01.000Z",
                    "updatedAt": "2018-01-15T09:27:01.000Z",
                    "cost": 0
                },
                {
                    "itinId": 4,
                    "userId": "59ca4a5267f35600428c171d",
                    "orderId": 116,
                    "startTime": "2018-01-15T09:35:25.000Z",
                    "startLat": 0,
                    "startLng": 0,
                    "endTime": "2018-01-15T10:03:01.000Z",
                    "endLat": 0,
                    "endLng": 0,
                    "itinerary": 0,
                    "createdAt": "2018-01-15T10:03:04.000Z",
                    "updatedAt": "2018-01-15T10:03:04.000Z",
                    "cost": 0
                },
                {
                    "itinId": 5,
                    "userId": "59ca4a5267f35600428c171d",
                    "orderId": 117,
                    "startTime": "2018-01-15T10:06:15.000Z",
                    "startLat": 0,
                    "startLng": 0,
                    "endTime": "2018-01-15T10:29:32.000Z",
                    "endLat": 30.509176,
                    "endLng": 114.430885,
                    "itinerary": 12343134,
                    "createdAt": "2018-01-15T10:29:37.000Z",
                    "updatedAt": "2018-01-15T10:29:37.000Z",
                    "cost": 42949672.8
                },
                {
                    "itinId": 6,
                    "userId": "59e4a3b87565714641f31f0e",
                    "orderId": 1000006003,
                    "startTime": "2018-01-17T09:05:02.000Z",
                    "startLat": 0,
                    "startLng": 0,
                    "endTime": "2018-01-17T09:19:58.000Z",
                    "endLat": 30.509161,
                    "endLng": 114.431037,
                    "itinerary": 12343967,
                    "createdAt": "2018-01-17T09:20:00.000Z",
                    "updatedAt": "2018-01-17T09:20:01.000Z",
                    "cost": 42949672.95
                }
                ]
            },
            /**************** 路由 ****************************/
            route:{
                Host:null,
                getOrder:'',
                deviceId:'',
                mapURL:'',
            },
           
        }
    },
    mounted(){
        var self = this;
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.route.Host = myConfig.host.test_url;
            this.route.mapURL = myConfig.orderList.Test_mapURL;            
        }else if(versionType == 'Formal'){
            this.route.Host = myConfig.host.Formal_url;
            this.route.mapURL = myConfig.orderList.Formal_mapURL;
        }
        this.route.deviceId = this.$route.query.deviceId;  // '866796034763629';//
        this.route.getOrder = this.route.Host + myConfig.orderList.getOrder + this.route.deviceId ;
        /**************************************************************/
        this.readOrderList_day(7);

        // /******************************************************************/
        // if(localStorage.hasOwnProperty('refreshOrderList_count')){
        //     var curCount = localStorage.getItem('refreshOrderList_count')
        //     if(curCount == 0){
        //         location.reload();
        //         localStorage.setItem('refreshOrderList_count',1)        
        //     }
        //     else{
        //         localStorage.setItem('refreshOrderList_count',0)        
        //     }
        // }else{
        //     location.reload();
        //     localStorage.setItem('refreshOrderList_count',1)
        // }
    },
    methods:{
        /***********************************************************/
        // 按 天 读取数据
        readOrderList_day(days){
            var self = this;
            var url = this.route.getOrder + '&days=' + days;
            console.log("向 ",url,'发送get请求 按天 获取order数据');

            this.$http.get(url).then(
                function(res){
                    res = res.body;
                    console.log(url,"回应: ",res);
                    if(res.suc){
                        self.$Notice.success({
                            title:"读取order数据 成功"
                        })

                        self.Raw = res.data;
                        // 更新UI显示
                        self.update_UI();
                    }else{
                        self.$Notice.error({
                            title:"读取order数据 失败"
                        })        
                    }
                }
            ).catch(function(err){
                self.$Notice.error({
                    title:"读取order数据 异常"
                })
            });
        },
        // 按 时间戳 读取数据
        readOrderList_timeStamp(){
            var self = this;
            // 1,准备数据
            var st = Date.parse(new Date(this.UI_time.dateSelected[0]))/1000;
            var et = Date.parse(new Date(this.UI_time.dateSelected[1]))/1000;
            var url = this.route.getOrder + '&startTime=' + st  + '&endTime=' + et;
            console.log("向 ",url,'发送get请求 按时间戳 获取order数据');

            // 2,发送请求
            this.$http.get(url).then(
                function(res){
                    res = res.body;
                    console.log(url,"回应: ",res);
                    if(res.suc){
                        self.$Notice.success({
                            title:"读取order数据 成功"
                        })

                        self.Raw = res.data;
                        // 更新UI显示
                        self.update_UI();
                    }else{
                        self.$Notice.error({
                            title:"读取order数据 失败"
                        })        
                    }
                }
            ).catch(function(err){
                self.$Notice.error({
                    title:"读取order数据 异常"
                })
            }); 
        },

        /***********************************************************/
        // 辅助函数 --> 将Date对象转换成 2018-02-01 12:45:25
        help_dateToString(date){
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var h  = date.getHours();
            var m  = date.getMinutes() ;
            var s = date.getSeconds();
            return year + '-' + month + '-' + day + ' ' + h + ':' + m + ':' + s;
        },
        // 更新UI
        update_UI(){
            // 1,清空
            this.UI = {};
            this.UI = this.Raw;
            // 2,赋值
            for(var i = 0;i<this.UI.orderList.length;i++){
                this.UI.orderList[i].startTime = this.help_dateToString(new Date(this.UI.orderList[i].startTime));
                this.UI.orderList[i].endTime = this.help_dateToString(new Date(this.UI.orderList[i].endTime));
            }
        },

        /************************************************************/
        // 跳转展示详情
        jumpToDetail(item){
            console.log("选中了: ",item);
            var self = this;
            // 1,构造数据
            var param = {
                imei          : this.route.deviceId,
                orderId       : item.orderId,
                startTime     : item.startTime,
                endTime       : item.endTime,
                itinerary     : item.itinerary,
                cost          : item.cost,
                isPaid        : item.isPaid,
                startPlace    : [item.startLng,item.startLat],
                endPlace      : [item.endLng,item.endLat],
            };
            var str = JSON.stringify(param);
            console.log("页面传参: ",str);
            // 2,页面跳转
            window.open(window.location.origin + self.route.mapURL + encodeURIComponent(str)) ;
        },
        
        /************************************************************/
        // 选中日期,进行订单读取
        dayChanged(){
            var day = this.UI_time.daySelected.split('天')[0];
            console.log(day,'天');
            this.readOrderList_day(day);
        },
        dateChanged(value){
            // 1,更新选中的日期
            this.UI_time.dateSelected = value;
            console.log(value);
            // 2,按照 时间戳 读取订单数据
            this.readOrderList_timeStamp();
        }
    }
}
</script>

<style scoped>
/*********** 订单列表数据 ***********************/
.itemNameCss1{
    width:15%; 
    height:100%;

    background:#2C223C;
    
    font-size:15px;
    color:#C1C0C1;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemNameCss2{
    width:15%; 
    height:100%;
    
    background:#120C1E;

    font-size:15px;
    color:#C1C0C1;
    white-space:nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemValueCss1{
    float: left;
    width: 15%; 
    height:100%;

    background:#2C223C;

    font-size:13px;
    color:#C1C0C1;
    border-top:1px dashed gray;
    white-space:nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemValueCss2{
    float: left;
    width:15%; 
    height:100%;

    background:#120C1E;

    font-size:13px;
    color:#C1C0C1;
    border-top:1px dashed gray;
    white-space:nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
/************ 进入详情 ***************************/
.detailCss{
    white-space:nowrap; 
    width:80%; height:50%; 
    background:#9a5afb;
    border-radius:50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/************* 顶部信息展示 ***********************/
.topBoxInfoCss{
    width:95%;
    height:40px;
    font-size: 15px;
    color:white;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:2%;

    /* border:1px dashed green; */
}
.topBoxInfoItemCss{
    width:25%;
    /* border:1px solid red; */
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
/************* 顶部时间选中 ***********************/
.topBoxCss{
    width:95%;
    height:80px;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
/* 按时间戳读取订单 */
.topBoxDayCss{
    /* width:30%; */
    height:100%;
    display: flex;
    align-items: center;
}
/* 按天读取订单 */
.topBoxTimeStapCss{
    /* width:30%; */
    height:100%;
    font-size:15px;
    color:white;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* border:1px dashed green; */
}
</style>
