<template>
    <div style="height: 98%; width:100%; position:relative; overflow:hidden;">
        <!-- 0,地图 -->
        <div id="container"></div>
        <!-- 1,列表 -->
        <div style="
              position:absolute;
              top:20%; left:2%;
              width:220px;
              height:75%;
              background:#3e3d3b;
              opacity:0.8;
              border-radius:10px;
              cursor:pointer;
             ">
            <!-- 1-1,服务区围栏列表 -->
            <div style="
                width:100%; height:20%;
                color:white;
                font-size:17px;
                padding-top:20%;
                ">
                {{fenceShowCtr.fenceName}}
            <!-- 1-2,具体列表信息 -->
            </div>
            <div style="
                width:100%;
                height:76%;
                overflow:auto;
                color:white;
                font-size:15px;
                ">
                <div v-for="(item,index) in FanceList" class="serviceFenceNameCss"
                    v-bind:style="{'background':colorCtl.itemColor[index]}"
                    @click="clickShowItem(item,index)">
                        <Tooltip placement="top" style="width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                            {{item.id}}({{item.Uid}})
                            <div slot="content" style="font-size:15px;color:white;">
                                {{item.id}}({{item.Uid}})
                            </div>
                        </Tooltip>
                </div>
            </div>
        </div>
        <!-- 2,所有按钮: (编辑 + 删除),(完成 + 取消) -->
        <div style="
              position:absolute;
              right:6%; top:5%;
              width:600px;
              height:50px;
              display:flex;
              flex-direction: row-reverse;
              cursor:pointer;
            "> 
            <!-- 2-1,删除 与 取消编辑,取消新建 -->
            <!-- <div v-if="!editing && !makeNew"  class="btnCss"
                style=" background:#b3636c;margin-left:3%;"
                    @click="deleteFance()">
                    删除
            </div> -->
            <div v-if="editing"   class="btnCss"
                style="
                    background:#b3636c;
                    margin-left:3%;
                    "
                    @click="cancelEdit()">
                    取消
            </div>
            <div v-if="makeNew"  class="btnCss"
                style="
                    background:#b3636c;
                    margin-left:3%;
                    "
                    @click="cancelCreate()">
                    取消
            </div>
            <!-- 2-2,编辑 与 完成编辑,完成新建 -->
            <div  v-if="!editing  && !makeNew"  class="btnCss"
                style="  background:#587bcd;  margin-left:3%;"
                    @click="editFance()">
                    编辑
            </div>
            <div v-else-if="!makeNew" class="btnCss"
                style="
                    background:#f0a882;
                    margin-left:3%;
                    "
                    @click="finishEdit()">
                    完成
            </div>
            <div v-else  class="btnCss"
                style="
                    background:#f0a882;
                    margin-left:3%;
                    "
                    @click="finishNewFance()">
                    完成
            </div>
            <!-- 2-3,新建: 编辑时关闭新建按钮的显示 -->
            <div v-if="!editing && !makeNew"  class="btnCss"  style="background:green;"  @click="clickAddNewItem()">
                    新建
            </div>
            <!-- 2-4,编辑: 重命名电子围栏名称输入框 -->
            <input type="text" v-model="updateFence.updateFenceName"
                v-if = "editing"
                v-bind:style="{
                    'width': '250px', 'height':'40px',
                    'margin-left':'5%',
                    'margin-top':'1%',
                    'font-size':'20px',
                    'background':'transparent',
                    'color': placeHolderColorCtr.editFenceNameColor,
                    'border-top':'1.5px solid #bbbec4',
                    'border-left':'1.5px solid #bbbec4',
                    'border-right':'1.5px solid #bbbec4',
                    'border-bottom':'1.5px solid black',
                    'border-radius':'10px',}
                "
                @focus="onfocus('update')" @blur="onblur('update')"
                >
        </div>
        <!-- 3,新建信息输入box -->
        <div v-if="makeNew" 
            style="
             width:350px; height:140px; 
             position:absolute;
             right:2%; top:80px;
             background:rgba(255,255,255,0.7);
             border-radius:7px;
            ">
            <!-- 3-1,地理位置跳转 -->
            <div style="
                width:100%; height:50px;
                display:flex;
                ">
                <!-- 3-1-1,输入地理位置 -->
                <input type="text" v-model="geo2gps"
                    v-bind:style="{
                        'width': '70%', 'height':'40px',
                        'margin-left':'5%',
                        'margin-top':'2%',
                        'font-size':'18px',
                        'background':'transparent',
                        'color':placeHolderColorCtr.geoColor,
                        'border-top':'1.5px solid white',
                        'border-left':'1.5px solid white',
                        'border-right':'1.5px solid white',
                        'border-bottom':'1.5px solid black',
                        'border-radius':'10px',}
                    " @keyup="checkInput"
                    @focus="geoOnfocus()" @blur="geoOnblur()">
                <!-- 3-1-2,定位 -->
                <div style="
                    width:20%; height:36px;
                    background:#587bcd;
                    margin-top:2%; margin-left:2%;
                    border-radius:7px;
                    box-shadow:3px 3px 10px black;
                    font-size:15px; padding-top:2%;
                    text-align:center;
                    color:white;
                    cursor:pointer;
                    "
                    @click="jump2Gps()"> 
                    定位
                </div>
            </div>
            <!-- 3-2,输入新建电子围栏名称 -->
            <input type="text" v-model="newFanceId"
                v-bind:style="{
                    'width': '90%', 'height':'40px',
                    'margin-left':'2%',
                    'margin-top':'2%',
                    'font-size':'20px',
                    'background':'transparent',
                    'color':placeHolderColorCtr.newFenceNameColor,
                    'border-top':'1.5px solid white',
                    'border-left':'1.5px solid white',
                    'border-right':'1.5px solid white',
                    'border-bottom':'1.5px solid black',
                    'border-radius':'10px',}
                "
                @focus="onfocus('create')" @blur="onblur('create')"
                >
            <!-- 3-3,选择电子围栏形状 -->
            <RadioGroup v-model="newFance.type" @on-change="selectShape"
                style="
                    width:90%;
                    margin-left:2%;
                    margin-top:2%;
                ">
                <Radio label="圆形" style="font-size:20px;"></Radio>
                <Radio label="矩形" style="font-size:20px;"></Radio>
                <Radio label="多边形" style="font-size:20px;"></Radio>
            </RadioGroup>
        </div>
        <!-- 4,确认删除 -->
        <Modal
            v-model="modal.deleteVisible"
            title="是否确认删除围栏？"
            @on-ok="ok_delete"
            @on-cancel="cancel_delete">
        </Modal>
        <!-- 5,确认取消新建 -->
        <Modal
            v-model="modal.cancelCreateVisible"
            title="是否确认取消新建？"
            @on-ok="ok_cancelCreate"
            @on-cancel="cancel_cancelCreate">
        </Modal>
        <!-- 6,确认取消编辑 -->
        <Modal
            v-model="modal.cancelEditVisible"
            title="是否确认取消编辑？"
            @on-ok="ok_cancelEdit"
            @on-cancel="cancel_cancelEdit">
        </Modal>
    </div>
</template>

<script>
export default {
    data(){
        return{
            /*************** 页面逻辑变量 *******************/
            map:"",
            makeNew:false,
            Host:null,
            geo2gps:'湖北省武汉市华中科技大学',
            geoConstText:"湖北省武汉市华中科技大学", 
            showShape: false,   // 显示选择围栏类型
            colorCtl:{
                newItemColor:"#3e3d3b",
                itemColor:{
                    "0":'#3e3d3b',
                    "1":'#3e3d3b',
                    "2":'#3e3d3b',
                    "3":'#3e3d3b',
                    "4":'#3e3d3b',
                    "5":'#3e3d3b',
                    "6":'#3e3d3b',
                    "7":'#3e3d3b',
                    "8":'#3e3d3b',
                    "9":'#3e3d3b',
                    "10":'#3e3d3b',
                    "11":'#3e3d3b',
                    "12":'#3e3d3b',
                    "13":'#3e3d3b',
                    "14":'#3e3d3b',
                    "15":'#3e3d3b',
                    "16":'#3e3d3b',
                    "17":'#3e3d3b',
                    "18":'#3e3d3b',
                    "19":'#3e3d3b',
                    "20":'#3e3d3b',
                },
                commonColor:"#3e3d3b",
                highLightColor:"#474a6d",
            },
            /*************** 编辑围栏工具 ******************/
            editor:{
                // circle:null,
                marker:null,       // 中心点 marker
                _polygon:{},       // 新建多边形
                _circle:{},        // 新建圆形
                _polygonEditor:{}, // 多边形编辑器
                _circleEditor:{},  // 圆形编辑器

                pos : [],          // 记录现在展示的围栏的 中心点
                idx :0,            // 记录现在展示的围栏的 索引index
                type:null,         // 记录现在展示的围栏的 类型
            },
            /**************** 地址拖拽工具 ******************/
            positionPicker:{
                picker:null,     // 拖拽工具
            },
            /**************** 数据:电子围栏列表 ***************/
            // 电子围栏列表
            FanceList:[
                /*
                {
                    id:"id1",
                    type:"polygon",    // circle 圆, polygon 多边形
                    arr:[
                        [116.40,39.92],
                        [116.41,39.90],
                        [116.40,39.89],
                        [116.39,39.89]
                    ],
                    center:[116.40,39.90],
                },
                {
                    id:"id2",
                    type:"circle",    // circle 圆, polygon 多边形
                    center:[116.30,39.80],
                    radius:1000,
                },
                {
                    id:"id3",
                    type:"polygon",    // circle 圆, polygon 多边形
                    arr:[
                        [116.20,39.72],
                        [116.21,39.70],
                        [116.20,39.69],
                        [116.19,39.69]
                    ],
                    center:[116.20,39.70],
                },
                {
                    id:"id4",
                    type:"circle",    // circle 圆, polygon 多边形
                    center:[116.10,39.60],
                    radius:1000,
                },       */
            ],
            /**************** 变量:新建电子围栏 ********************/
            newFance:{
                constText:"输入名称",
                type:null,                           // 新建电子围栏类型
            },
            newFanceId:"输入名称",          // 新建电子围栏名称
            // 更新的电子围栏名字
            updateFence:{
                updateFenceName:"输入名称", 
                constText:"输入名称",
                visible:false, 
            },
            editing:false,                             // 是否在编辑中
            // 控制显示的名称fenceName 和 围栏类型fenceType
            fenceShowCtr:{
                fenceType:"1",
                fenceName:"",
            },
            // 确认框显示的控制
            modal:{
                cancelEditVisible:false,
                cancelCreateVisible:false,
                deleteVisible:false,
            },
            /**************** placeholder验收控制 **********************/
            placeHolderColorCtr:{
                geoColor: "gray",
                newFenceNameColor:"gray",
                editFenceNameColor:'gray',
            }
        }
    },
    mounted:function(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        if(versionType == 'Test'){
            this.Host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            this.Host = myConfig.host.Formal_url;
        }
        this.fenceShowCtr.fenceName = myConfig.fenceInfo[this.fenceShowCtr.fenceType];
        /***************************************************/
        this.loadUI();
        this.initMap();
        this.readFance();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /**************** 页面逻辑 ***********************/
        onfocus(name){
            if(name == 'create'){
                if(this.newFanceId == this.newFance.constText){
                    this.newFanceId = "";
                }
                this.placeHolderColorCtr.newFenceNameColor = 'black';
            }
            else if(name == 'update'){
                if(this.updateFence.updateFenceName == this.updateFence.constText){
                    this.updateFence.updateFenceName = "";
                }
                this.placeHolderColorCtr.editFenceNameColor = 'black';
            }
         },
        onblur(name){
            if(name == 'create'){
                if(this.newFanceId == ""){
                    this.newFanceId = this.newFance.constText;
                    this.placeHolderColorCtr.newFenceNameColor = 'gray';
                }
            }
            else if(name == 'update'){
                if(this.updateFence.updateFenceName == ''){
                    this.updateFence.updateFenceName = this.updateFence.constText;
                    this.placeHolderColorCtr.editFenceNameColor = 'gray';
                }
            }
         },
        
        /**************** 地理位置转gps *******************/
        geoOnfocus(){
            if(this.geo2gps == this.geoConstText){
                this.geo2gps = '';
            }
            this.placeHolderColorCtr.geoColor = 'black';
         },
        geoOnblur(){
             if(this.geo2gps == ""){
                this.geo2gps = this.geoConstText;
                this.placeHolderColorCtr.geoColor = 'gray';
            }
         },
        // 回车跳转
        checkInput(e){
            // 输入了回车
            if(e.keyCode == 13){
                this.jump2Gps();
            }
        },
        jump2Gps(){
            // 1,判断输入合法
            if(this.geo2gps == '' || this.geo2gps == this.geoConstText){
                this.$Modal.info({
                    title:this.geoConstText
                })
                return;
            }
            var self = this;
            // 2,截取省份,直辖市,区
            var province = self.geo2gps.split('省')[0];        // 省
            var municipality= self.geo2gps.split('市')[0];     // 市
            var district = self.geo2gps.split('区')[0];        // xx区
            var city  = "";
            if(province != '') city = province + '省';
            else if(municipality != '') city = municipality + '市';
            else if(district != '') city = district + '区';
            else city = '010';

            AMap.plugin('AMap.Geocoder',function(){//回调函数
                var geocoder = new AMap.Geocoder({
                    city: city
                });
                geocoder.getLocation(self.geo2gps, function(status, result) {
                    if (status === 'complete' && result.info === 'OK') {
                        console.log("成功: ",result);
                        console.log("gps: ",result.geocodes[0].location);
                        var pos = [result.geocodes[0].location.O,result.geocodes[0].location.Q];
                        self.map.setCenter(pos);
                    }else{
                        //获取经纬度失败
                        self.$Modal.error({
                            title:"未查询到定位点，请手动定位",
                            content:self.geoConstText
                        })
                        self.geo2gps = self.geoConstText;
                    }
                }); 
            })
         },
       
        /**************** 与后台交互(√) ******************/
        // 初始化地图显示 (√)
        initMap(){
            // 1,初始化地图
            var self = this;
            self.map = new AMap.Map('container')
            self.map.setZoom(13);     // 俯瞰全国
            var place = [116.40, 39.90];
            self.map.setCenter(place);
            AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
                function(){
                    self.map.addControl(new AMap.ToolBar());  // 添加工具条:缩放,平移
                    self.map.addControl(new AMap.Scale());    // 添加比例尺:显示缩放比例尺
            });

            // 2,初始化拖拽组件
            AMapUI.loadUI(['misc/PositionPicker'], function(PositionPicker) {

                self.positionPicker.picker = new PositionPicker({
                    mode:'dragMap',//设定为拖拽地图模式，可选'dragMap'、'dragMarker'，默认为'dragMap'
                    map:self.map//依赖地图对象
                });
                self.positionPicker.picker.on('success',function(positionRes){
                    self.editor.pos[0] = positionRes.position.O;
                    self.editor.pos[1] = positionRes.position.Q;
                    console.log('定位成功:',self.editor.pos);                   
                })
                self.positionPicker.picker.on('fail',function(positionRes){
                    self.editor.pos = [];
                    console.log('定位失败:',positionRes);
                })
            });
            
            // 3,初始化marker -- 围栏中心点
            self.editor.marker = new AMap.Marker({
                position:place,//marker所在的位置
            });
            self.editor.marker.setMap(self.map);
            self.editor.marker.setDraggable(false);   // 不可拖动
            var dragEnd = function(e){
                var a = self.editor.marker.getPosition()
                var pos = [a.O,a.Q]
                self.editor.pos = pos;  // 更新中心点位置
                console.log("拖到后的marker: ",pos);
            }
            self.editor.marker.on('dragend',dragEnd)

            // 4,初始化 多边形，圆形
            self.editor._polygon=(function(){
                var arr = [
                    [116.40,39.92],
                    [116.41,39.90],
                    [116.40,39.89],
                    [116.39,39.89]
                ];
                return new AMap.Polygon({
                    map: self.map,
                    path: arr,
                    strokeColor: "#FF4500",
                    strokeOpacity: 1,
                    strokeWeight: 3,
                    fillColor: "#FF7F00",
                    fillOpacity: 0.35
                });
            })();
            self.editor._circle=(function(){
                var circle = new AMap.Circle({
                    center: place,// 圆心位置
                    radius: 100, //半径
                    strokeColor: "#F33", //线颜色
                    strokeOpacity: 1, //线透明度
                    strokeWeight: 3, //线粗细度
                    fillColor: "#ee2200", //填充颜色
                    fillOpacity: 0.35//填充透明度
                });
                circle.setMap(self.map);
                return circle;
            })();

            // 5,初始化 编辑形状工具
            self.editor._polygonEditor= new AMap.PolyEditor(self.map, self.editor._polygon);
            self.editor._circleEditor= new AMap.CircleEditor(self.map, self.editor._circle);
            self.editor._polygon.hide();
            self.editor._circle.hide();
            self.editor.marker.hide();
            
            self.map.setFitView();
         }, 
        // 从后台读取围栏,并展示第一个围栏 (√)
        readFance(){
            var self = this;
            var url = this.Host + "/ebike/electricFence/getElectricFence";
            
            this.$http.post(
                url,
                {"agentId":2,"fenceType":this.fenceShowCtr.fenceType},
                {emulateJSON:true}
            ).then(
                function(res){
                    res = res.body;
                    console.log("从后台: ",url," 读取服务区围栏:",res);
                    if(res.suc == true){
                        self.$Notice.success({
                            title:"围栏信息读取成功"
                        });
                        var data = res.data;
                        // 先清空,再赋值
                        self.FanceList = [];         
                        for(var i = 0;i<data.length;i++){
                            var item = {
                                "id": data[i].name,
                                "Uid":data[i].id,
                                "type":data[i].shapeType,
                                "center":[data[i].centerLng,data[i].centerLat],
                                "arr":[],
                                "radius":null,
                            }
                            if(item.type == 'polygon'){
                                // 如果保存的是string,则我这边自己转化一下,否则直接使用
                                if(typeof data[i].pointList == 'string'){
                                    data[i].pointList = JSON.parse(data[i].pointList)
                                }
                                for(var j = 0; j<data[i].pointList.length;j++){
                                    item.arr[j] = [parseFloat(data[i].pointList[j][0]),parseFloat(data[i].pointList[j][1])]
                                }
                            }
                            else{
                                // 如果保存的是string,则我这边自己转化一下,否则直接使用
                                if(typeof data[i].pointList == 'string'){
                                    data[i].pointList = JSON.parse(data[i].pointList)
                                }
                                item.radius = parseFloat(data[i].pointList[0]);
                            }
                            self.FanceList.push(item);
                        }
                        // 设置颜色
                        for(var j = 0;j<data.length;j++){
                            self.colorCtl.itemColor[j] = '#3e3d3b';
                        }
                        // 4,如果有围栏,则显示第一个围栏
                        if(self.FanceList.length != 0){
                            self.showFance(0);
                            self.editor.idx = 0;          // 记录现在展示的围栏的索引index
                            self.colorCtl.itemColor[0]  = self.colorCtl.highLightColor;
                        }
                    }
                    else{
                        self.FanceList = [];
                        self.$Notice.error({
                            title:"围栏信息读取出错"
                        });
                    }
                }).catch(error=>{
                    self.FanceList = [];
                    self.$Notice.error({
                        title:"围栏信息读取异常"
                    });
                });
         },
        /**************** 新建(√) ************************/
        // 1,新建 (√)
        clickAddNewItem(){
            // 1,页面颜色切换
            this.colorCtl.newItemColor = this.colorCtl.highLightColor;
            for(var key in this.colorCtl.itemColor){
                this.colorCtl.itemColor[key] = this.colorCtl.commonColor;
            }
            // 2,打开 新建页面
            this.makeNew = true;
            this.editor._circle.hide();    // 隐藏现在的显示
            this.editor._polygon.hide();   // 隐藏现在的显示
            this.editor.marker.hide();     // 隐藏中心点
            this.newFanceId = this.newFance.constText;

            // 3,清空旧状态
            this.editor.type = "";
            this.editor.pos = [];          // 清空旧坐标
            // 4,打开拖拽选址
            this.positionPicker.picker.start(); 
             
         },
        // 2,取消新建 (√)
        cancelCreate(){
            console.log("取消新建？...");
            // 弹出窗口判断是否确定 取消新建
            this.modal.cancelCreateVisible = true;
         },
        ok_cancelCreate(){
            console.log("确认 取消 新建");
            // 1,页面颜色切换
            for(var key in this.colorCtl.itemColor){
                this.colorCtl.itemColor[key] = this.colorCtl.commonColor;
            }
            this.colorCtl.itemColor[0] =  this.colorCtl.highLightColor;
            // 2,置标志位
            this.makeNew = false;
            // 3,关闭拖拽选址
            this.positionPicker.picker.stop(); 
            // 4,展示第一个围栏
            this.showFance(0);
         },
        cancel_cancelCreate(){
            console.log("放弃 取消 新建");
         },
        // 3,选择新建电子围栏的形状 (√)
        selectShape(){
            console.log("选中了形状: ",this.newFance.type);
            // 根据选择的形状 展示围栏
            if(this.newFance.type == '圆形'){
                this.chooseFanceShape_helper(1)
            }else if( this.newFance.type == '矩形'){
                this.chooseFanceShape_helper(2)
            }else if(this.newFance.type == '多边形'){
                this.chooseFanceShape_helper(3)
            }
         },  
        chooseFanceShape_helper(id){
            var self = this;
            if(id == 1){
                // this.newFance.type = 'circle';
                this.positionPicker.picker.stop();    // 停止拖拽选址

                // 1,展示中心点
                var center = this.editor.pos;
                this.editor.marker.setPosition(center);
                this.editor.marker.show();

                // 2,记录现在展示的围栏(新建的围栏)的type 
                this.editor.type = 'circle';

                // 3,显示新建的围栏
                var radius = 500;
                this.editor._circle.setCenter(center);
                this.editor._circle.setRadius(radius);
                this.editor._circle.show();
                this.editor._polygon.hide();

                // 4,打开圆编辑器
                this.editor._polygonEditor.close();
                this.editor._circleEditor.open();

                // 5,设置marker可拖动,以更新
                self.editor.marker.setDraggable(true);

            }else if(id == 2){
                // this.newFance.type = 'polygon';
                this.positionPicker.picker.stop();     // 停止拖拽选址

                // 1,展示中心点
                var center = this.editor.pos;
                this.editor.marker.setPosition(center);
                this.editor.marker.show();

                // 2,记录现在展示的围栏(新建的围栏)的type 
                this.editor.type = 'polygon';

                // 3,显示新建的围栏
                var arr = [
                    [center[0]-0.01,center[1]-0.01],
                    [center[0]-0.01,center[1]+0.01],
                    [center[0]+0.01,center[1]+0.01],
                    [center[0]+0.01,center[1]-0.01],
                ];
                this.editor._polygon.setPath(arr);
                this.editor._circle.hide();
                this.editor._polygon.show();

                // 4,打开 多边形编辑器
                this.editor._polygonEditor.open();
                this.editor._circleEditor.close();

                // 5,设置marker可拖动,以更新
                self.editor.marker.setDraggable(true);

            }else if(id == 3){
                // this.newFance.type = 'polygon';
                this.positionPicker.picker.stop();      // 停止拖拽选址
    
                // 1,展示中心点
                var center = this.editor.pos;
                this.editor.marker.setPosition(center);
                this.editor.marker.show();

                // 2,记录现在展示的围栏(新建的围栏)的type 
                this.editor.type = 'polygon';

                // 3,显示新建的围栏
                var arr = [
                    [center[0]-0.005,center[1]-0.005],
                    [center[0]-0.005,center[1]+0.0055],
                    [center[0]+0.0075,center[1]+0.006],
                    [center[0]+0.0025,center[1]-0.005],
                ];
                this.editor._polygon.setPath(arr);
                this.editor._circle.hide();
                this.editor._polygon.show();

                // 4,打开 多边形编辑器
                this.editor._polygonEditor.open();
                this.editor._circleEditor.close();

                // 5,设置marker可拖动,以更新
                self.editor.marker.setDraggable(true);
            }
            self.map.setFitView()
         },
        // 4,结束新建电子围栏 (√)
        finishNewFance(){
            var self = this;
            /************* 1,检查输入 *********************/
            // 没有输入电子围栏id
            if(this.newFanceId == "" || this.newFanceId == this.newFance.constText){
                this.$Modal.info({
                    title: self.newFance.constText
                });
                return;
            }
            // 检查id名字是否冲突
            for(var i = 0;i<this.FanceList.length;i++){
                if(this.FanceList[i].id == this.newFanceId){
                    this.$Modal.info({
                        title:"电子围栏id已存在"
                    });
                    return;
                }
            }
            // 检查是否选择了形状
            if(this.editor.type != "circle" && 
                this.editor.type != "polygon" ){
                this.$Modal.info({
                    title:"您还没有选择电子围栏的形状"
                });
                return;
            }
            /************* 2,检查通过 *********************/
            this.makeNew = false;
            // 1,关闭编辑
            this.editor._polygonEditor.close();
            this.editor._circleEditor.close();

            // 2,保存圆
            if(this.editor.type == 'circle'){
                var center = self.editor.pos;

                var radius = this.editor._circle.getRadius();
                var newFance = {
                    Uid:null,
                    id: self.newFanceId,
                    type:self.editor.type,
                    center:center,
                    radius:radius,
                } 
                // 放置半径的tmp数组
                var tmpPoints = [];
                tmpPoints[0] = radius;
                /***************** 提交给后台的数据 ******************/
                var postData = {
                    "agentId":2,
                    "fenceType":self.fenceShowCtr.fenceType,
                    "data":[
                        {
                            "name": self.newFanceId,
                            "shapeType":"circle",
                            "centerLng": center[0],
                            "centerLat": center[1],
                            "pointList": JSON.stringify(tmpPoints)
                        }
                    ]
                }
                var url = this.Host + "/ebike/electricFence/createElectricFence";
                console.log("向后台 " ,url," 提交的圆形围栏是: ",postData);
                console.log("向后台 " ,url," 提交的圆形围栏的string是: ",JSON.stringify(postData));
                this.$http.post(
                    url,
                    postData,
                    {emulateJSON:true}
                ).then(function(res){
                    res = res.body;
                    if(res.suc == true){
                        self.$Notice.success({
                            title:"电子围栏创建成功"
                        });
                        
                        // 1,创建成功之后 再添加
                        newFance.Uid = res.data[0];
                        self.FanceList.push(newFance);

                        if(self.FanceList.length > 0){
                            var len = self.FanceList.length-1;
                            // 2,显示新建的电子围栏
                            self.showFance(len);
                            self.colorCtl.itemColor[len] = self.colorCtl.highLightColor;
                            self.colorCtl.newItemColor = self.colorCtl.commonColor;
                        }
                    }else{
                        self.$Modal.error({
                            title:"电子围栏创建失败"
                        });
                        console.log(res);
                    }
                }).catch(error=>{
                        self.$Modal.error({
                            title:"电子围栏创建异常"
                        });
                        console.log("error: " ,error);
                });
             }
            // 2,保存多边形
            else{
                var arr = this.editor._polygon.getPath();
                var self = this;
                var newFance = {
                    Uid:null,
                    id: self.newFanceId,
                    type:self.editor.type,
                    center:self.editor.pos,
                    arr:arr,
                } 
                /***************** 提交给后台的数据 ******************/
                let arr_2 = (arr||[]).map((item,index)=>{
                    return [parseFloat(item.lng), parseFloat(item.lat)];
                })
                console.log("arr_2是：",(arr_2));
                console.log("arr_2的数据类型是: ",typeof(arr_2[0][0]));
                var postData = {
                    "agentId":2,
                    "fenceType":self.fenceShowCtr.fenceType,
                    "data":[
                        {
                            "name": self.newFanceId,
                            "shapeType":"polygon",
                            "centerLng": self.editor.pos[0],
                            "centerLat": self.editor.pos[1],
                            "pointList": JSON.stringify(arr_2),
                        }
                    ]
                }
                var url = this.Host + "/ebike/electricFence/createElectricFence";
                console.log("向后台 " ,url," 提交的 多边形 形围栏是: ",postData);
                console.log("向后台 " ,url," 提交的 多边形 围栏的string是: ",JSON.stringify(postData));
                this.$http.post(
                    url,
                    postData,
                    {emulateJSON:true}
                ).then(function(res){
                    res = res.body;
                    if(res.suc == true){
                        self.$Notice.success({
                            title:"电子围栏创建成功"
                        });
                        // 创建成功之后 再添加
                        newFance.Uid = res.data[0];
                        self.FanceList.push(newFance);

                        if(self.FanceList.length > 0){
                            var len = self.FanceList.length-1;
                            self.showFance(len);
                            self.colorCtl.itemColor[len] = self.colorCtl.highLightColor;
                            self.colorCtl.newItemColor = self.colorCtl.commonColor;
                        }
                    }else{
                        self.$Modal.error({
                            title:"电子围栏创建失败"
                        });
                        console.log(res);
                    }
                }).catch(error=>{
                        self.$Modal.error({
                            title:"电子围栏创建异常"
                        });
                        console.log(error);
                });
            }
            // 3,设置marker不可拖动
            self.editor.marker.setDraggable(false);
            // 4,把形状选择置空
            self.newFance.type = '';
         },
        /**************** 展示(√) ************************/
        // 1,显示具体的电子围栏(工具函数)  (√)
        showFance(index){
            var self = this;
            var center = this.FanceList[index].center;
            var type = this.FanceList[index].type;

            // 1,展示 中心点
            this.editor.marker.setPosition(center);
            this.editor.marker.show();
            if(type == 'circle'){
                // 2,展示 圆
                var radius = this.FanceList[index].radius;
                this.editor._circle.setCenter(center);
                this.editor._circle.setRadius(radius);
                this.editor._polygon.hide();
                this.editor._circle.show();
            }
            else{
                // 2,展示 多边形
                var arr = this.FanceList[index].arr;
                this.editor._polygon.setPath(arr);
                this.editor._polygon.show();
                this.editor._circle.hide();
            }
            // 3,更新现在展示的 中心点,索引,类型
            self.editor.type = type; 
            self.editor.pos = center;
            self.editor.idx = index;

            // 4,适合展示
            this.map.setZoom(12);
            this.map.setFitView();
         },
        // 2,选择某个电子围栏,显示  (√)
        clickShowItem(item,index){
            // 1,判断是否允许展示
            if(this.makeNew){
                this.$Modal.info({
                    title:"请先完成新电子围栏的创建"
                });
                return;
            }
            // 2,改变颜色显示
            this.colorCtl.newItemColor = this.colorCtl.commonColor;
            for(var key in this.colorCtl.itemColor){
                this.colorCtl.itemColor[key] = this.colorCtl.commonColor;
            }
            this.colorCtl.itemColor[index] =  this.colorCtl.highLightColor;
            // 3,显示围栏
            this.showFance(index);
         },
        /**************** 编辑(√) ****************************/
        // 1,打开编辑 (√)
        editFance(){
            var self = this;
            // 1,打开 修改名称输入框
            this.updateFence.visible = true;
            // 2,将 删除按钮改成取消按钮
            this.editing = true;
            // 3,打开 编辑工具
            if(this.editor.type == 'circle'){
                this.editor._circleEditor.open();
                this.editor._polygonEditor.close();
            }else{
                this.editor._circleEditor.close();
                this.editor._polygonEditor.open();
            }
            // 4,设置marker可拖动
            self.editor.marker.setDraggable(true);
            // 5,清空updateFenceName
            self.updateFence.updateFenceName = this.updateFence.constText;
         },
        // 2,取消编辑
        cancelEdit(){
            console.log("取消编辑...");
            // this.editing = false;
            this.modal.cancelEditVisible = true;
         },
        ok_cancelEdit(){
            console.log("确认 取消 编辑");
            var self = this;
            // 1,关闭 修改名称输入框
            this.updateFence.visible = false;
            // 2,将 取消按钮 改回 删除按钮
            this.editing = false;
            // 3,关闭 编辑工具
            this.editor._circleEditor.close();
            this.editor._polygonEditor.close();
            // 4,设置marker不可拖动
            self.editor.marker.setDraggable(false);
            // 5,放弃掉用户对围栏 形状和中心 的更改
            self.showFance(self.editor.idx);

         },
        cancel_cancelEdit(){
            console.log("放弃 取消 编辑");
         },
        // 3,结束电子围栏的编辑 (√)
        finishEdit(){
            var self = this;
            // 0,返回编辑状态
            this.editing = false;
            // 1,读到现在展示的是哪个围栏
            var idx = this.editor.idx;
            // 2,关闭名称输入框
            this.updateFence.visible = false;
            var postData = {
                "agentId":2,
                "fenceType":self.fenceShowCtr.fenceType,
                "data":[
                    {
                        "id":  self.FanceList[idx].Uid,
                        "name":self.FanceList[idx].id,
                        "shapeType":null,
                        "centerLng":null,
                        "centerLat":null,
                        "pointList":[],
                    }
                ]
            }
            // 更新 电子围栏的名称
            if(this.updateFence.updateFenceName != '' && this.updateFence.updateFenceName != this.updateFence.constText){
                postData.data[0].name = this.updateFence.updateFenceName; 
                this.FanceList[idx].id = this.updateFence.updateFenceName; 
            }
            console.log("选中的type是: ",this.editor.type);
            // 3,保存圆
            if(this.editor.type == 'circle'){
                // 1,关闭 编辑器
                this.editor._circleEditor.close()
                // 2,更新现在列表的数据
                this.FanceList[idx].radius = this.editor._circle.getRadius();
                this.FanceList[idx].center = this.editor.pos;//this.editor._circle.getCenter();
                // 3,给要提交的数据赋值 
                postData.data[0].shapeType = 'circle';
                postData.data[0].centerLng = this.editor.pos[0];       // 经度
                postData.data[0].centerLat = this.editor.pos[1];       // 维度

                var tmpRadius = [];
                tmpRadius[0] = this.FanceList[idx].radius;
                postData.data[0].pointList = JSON.stringify(tmpRadius);

                /********************************************************************/
                // 方便郭鸟展示
                var tmpData = postData.data[0]
                var tmpCenter = [tmpData.centerLat,tmpData.centerLng];
                console.log("point  = ",JSON.stringify(tmpCenter))
                console.log("circle = ",JSON.stringify(postData.data[0].pointList[0]))
                /********************************************************************/
            }
            // 3,保存多边形
            else{
                // 1,关闭 编辑工具
                this.editor._polygonEditor.close();
                // 2,更新现在列表的数据
                var arr = this.editor._polygon.getPath();
                this.FanceList[idx].arr = (arr||[]).map((item,index)=>{
                    return [parseFloat(item.lng), parseFloat(item.lat)];
                })
                this.FanceList[idx].center = this.editor.pos;
                // 3,更新提交的数据
                postData.data[0].shapeType = 'polygon';
                postData.data[0].centerLng = this.editor.pos[0];       // 经度
                postData.data[0].centerLat = this.editor.pos[1];       // 维度
                postData.data[0].pointList = JSON.stringify(this.FanceList[idx].arr);
                
                /********************************************************************/
                // 方便郭鸟展示
                var tmpData = postData.data[0]
                var tmpCenter = [tmpData.centerLat,tmpData.centerLng];
                console.log("point  = ",JSON.stringify(tmpCenter))
                var arr_2 = postData.data[0].pointList;
                console.log("长度: ",arr_2.length);
                console.log("polygon = ",JSON.stringify(arr_2))
                /********************************************************************/
            }
            // 4,数据提交
            var url = this.Host + "/ebike/electricFence/updateElectricFence";
            console.log("向 ",url," 提交的更新信息: ",postData);
            this.$http.post(url,postData, {emulateJSON:true}).then(function(res){
                res = res.body;
                if(res.suc == true){
                    self.$Notice.success({
                        title:"编辑保存成功"
                    });
                }else{
                    self.$Modal.error({
                        title:"编辑保存出错"
                    });
                }
            }).catch(error=>{
                self.$Modal.error({
                    title:"编辑保存异常"
                });
            });
            // 5,设置marker不可拖动
            self.editor.marker.setDraggable(false);
         }, 
        /***************** 删除围栏 *********************/
        // 1,删除电子围栏 (√)
        deleteFance(){
            this.modal.deleteVisible = true;
         },   
        ok_delete(){
            console.log("确认 删除");
            var self = this;
            var url = this.Host + "/ebike/electricFence/deleteElectricFence";
            var postData = {
                "agentId":2,
                "fenceType":self.fenceShowCtr.fenceType,
                "id": self.FanceList[self.editor.idx].Uid,
            }
            console.log("向 ",url," 提交的删除围栏信息: ",postData);
            this.$http.post(
                url,
                postData,
                {emulateJSON:true}
            ).then(function(res){
                res = res.body;
                if(res.suc == true){
                    self.$Notice.success({
                        title:"围栏删除成功"
                    });
                    // 页面数组删除
                    self.FanceList.splice(self.editor.idx,1);
                    // 删除之后显示第一个围栏
                    if(self.FanceList.length > 0){
                        self.colorCtl.itemColor[self.editor.idx] = self.colorCtl.commonColor;
                        self.showFance(0);
                        self.colorCtl.itemColor[0]  = self.colorCtl.highLightColor;
                    }
                    self.editor.idx = 0;
                }
                else{
                    self.$Modal.error({
                        title:"围栏删除失败"
                    });
                }
            }).catch(error=>{
                    self.$Modal.error({
                        title:"围栏删除异常"
                    });
            });
         },
        cancel_delete(){
            console.log("放弃 删除");
         },    
      
    }
}
</script>

<style scoped> 
#container {
    width:100%;
    height: 100%; 
}
.btn{
    font-size:20px;
    margin-left:10%;
    margin-top:2%;
    width : 20%
}
.serviceFenceNameCss{
    width:100%;
    height:15%;
    border-bottom:1px solid #495060;
    /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 按钮样式 */
.btnCss{
    width:60px;height:70%;
   
    border-radius:7px;
    box-shadow:3px 3px 10px black;
    font-size:15px; 
    
    text-align:center;
    color:white;

     /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
