<template>
    <div style="width:100%; height:100%; overflow-y:auto;"> 
        <div style="color:white;font-size:18px; height:20px;">批量导入</div>
        <Upload
            style="
                width:150px;
                height:140px;
                background:black;
                margin:auto;
                margin-top:10px;
                border:1px solid green;
                "
            multiple
            type="drag"
            :action="uploadUrl"

            :on-success="handleSuccess"
            :format="['xlsx','xls','xlsm','xlt','xltx','xltm']"
            :max-size="1024"
            :on-format-error="handleFormatError"
            :on-exceeded-size="handleMaxSize"
            :before-upload="handleBeforeUpload"
            >
            <div style="width:100%; height:140px;">
                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff;margin-top:10%;"></Icon>
                <p >点击或拖拽文件上传</p>
                <div style="text-align:center;"> 
                     <span style="color:red;font-size:15px;padding-top:5%;">*</span>
                     列顺序必须与表格保持一致，没有的列留空</div>
            </div>
        </Upload>

        <div class="picBoxCss">
            <span>示例：</span>
            <br>
            <img src="https://xc-caocao-imgs.oss-cn-shenzhen.aliyuncs.com/hengji_example.png" 
                 style="width:522px; height:199px;margin-left:15%;margin-top:0.3%;"/>
        </div>

    </div>
</template>

<script>
export default {
    data(){
        return{
            uploadUrl:"", 
        }
    },
    mounted(){
        /************** 动态配置服务器版本 *******************/
        var myConfig = require('./myConfig.json')
        var versionType = myConfig.host.versionType;
        var host = "";
        if(versionType == 'Test'){
            host = myConfig.host.test_url;
        }else if(versionType == 'Formal'){
            host = myConfig.host.Formal_url;
        }
        this.uploadUrl = host + myConfig.carInfo.uploadUrl;//"/ebike/tools/uploadCarId/excel/2";
        /*****************************************************/
        this.loadUI();
    },
    methods:{
        /************ 页面加载特效 **************************/
        loadUI(){
            this.$Spin.show({
                render: (h) => {
                    return h('div', [
                        h('Icon', {
                            'class': 'spinCss',
                            props: {
                                type: 'load-c',
                                size: 50
                            }
                        }),
                        h('div', '加载中...')
                    ])
                }
            });
            var self = this;
            setTimeout(function(){
                self.$Spin.hide();
            },500);
        },
        /************** 功能逻辑 ********************/
        // 文件上传成功
        handleSuccess(res){
            // res = res.body;
            console.log("文件上传: ",res);
            if(res.suc == true){
                this.$Notice.success({
                    title:"文件上传成功",
                    desc:res.data
                })
            }else{
                this.$Notice.error({
                    title:"文件上传出错",
                    desc:res.error.promot
                })
            }
            
         },
        // 文件格式出错
        handleFormatError(){
            this.$Notice.error({
                title:"文件格式出错",
                desc:"请确保上传的是excel文件"
            })
         },
        //  文件太大
        handleMaxSize(){
            this.$Notice.error({
                title:"文件大小超出限制",
                desc:"请保证文件大小在1M以内"
            })
         },
        handleBeforeUpload(){
        }, 
    }
}
</script>

<style  scoped>
/********************************************/
.picBoxCss{
    width:100%;
    color:white;
    font-size:15px;
    margin-top:20px;
    text-align:left;

}
</style>

